<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="./font/fontawesome/css/all.css")
        //- link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Pattaya&display=swap' rel='stylesheet')
        
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/footer.css")
        link(href='./img/favicon.svg' type='image/x-icon' rel='icon')

        block style

        block title
            title Cake
    body
        include header.pug
        main
            block banner
                .banner-common
                    .container
                        .row
                            .col
                                .banner-common__content
                                    block heading
                                        h1.heading-primary.heading-primary--white Sản Phẩm
                                    .banner-common__box
                                        a(href="./index.html")
                                            p.banner-common__title Trang chủ
                                        .banner-common__icon
                                            img(src="./img/arrows-banner.svg", alt="")
                                        block title-2
                                            a(href="./product.html")
                                                p.banner-common__title-2 Sản Phẩm
                                                    
                
            block content
        include footer.pug

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
        script(src='./js/jQuery.js')
        script(src='./js/layout.js')
        script(src='https://unpkg.com/aos@next/dist/aos.js')
        block script
        
        