extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/cart.css")

block title
  title Giỏ hàng

block content
  .breadcrumb-wrapper.container-xl
    ul.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Trang chủ
      li.breadcrumb-item.active Giỏ hàng
  .page-wrapper.container-xl

    h1.text-left.w-100 Giỏ hàng của bạn 

    .cart.w-100 

      .cart__label
        .col--order.hidden-till-md STT 
        .col--img-max.hidden-till-md Hình ảnh 
        .col--name.hidden-till-md Tên sản phẩm 
        .col--single-price.hidden-till-md Đơn giá 
        .col--quantity.hidden-till-md Số lượng
        .col--multiple-price.hidden-till-md Thành tiền
        .col--remove.hidden-till-md  

      .cart__item
        a.col--img-min.display-till-md(href="details.html") 
          img(src="img/img--cart/cart-img.jpg", alt="canon eos 1DX Mark 3")

        .col-group
          .col--order.hidden-till-md 1 
          a.col--img-max.hidden-till-md(href="details.html")
            img(src="img/img--cart/cart-img.jpg", alt="canon eos 1DX Mark 3")
          .col--name 
            a(href="details.html") Canon EOS 1DX Mark&nbsp;III
          .col--single-price 
            span.display-till-md Đơn giá:&nbsp; 
            | 100.000.000đ
          .col--quantity
            .quantity__minus -
            .quantity__number 1 
            .quantity__plus +
          .col--multiple-price
            span.display-till-md Thành tiền:&nbsp;
            | 100.000.000đ
          .col--remove.display-till-md.text-danger.font-italic Xóa khỏi giỏ hàng 
          .col--remove.hidden-till-md
            i.far.fa-times-circle.col--remove__btn

      .cart__item

        a.col--img-min.display-till-md(href="details.html") 
          img(src="img/img--cart/cart-img.jpg", alt="Sony Alpha A7 Mark II")

        .col-group
          .col--order.hidden-till-md 2 
          a.col--img-max.hidden-till-md(href="details.html")
            img(src="img/img--item/item-3-max.jpg", alt="Sony Alpha A7 Mark II")
          .col--name 
            a(href="details.html") Sony Alpha A7 Mark&nbsp;II
          .col--single-price 
            span.display-till-md Đơn giá:&nbsp; 
            | 23.990.000đ          
          .col--quantity
            .quantity__minus -
            .quantity__number 2 
            .quantity__plus +
          .col--multiple-price 
            span.display-till-md Thành tiền:&nbsp; 
            | 47.980.000đ
          .col--remove.display-till-md.text-danger.font-italic Xóa khỏi giỏ hàng 
          .col--remove.hidden-till-md
            i.far.fa-times-circle.col--remove__btn

      h1.cart__grand-total.w-100 Tổng giá trị giỏ hàng: 

    .cart__btn-group
      a.btn.cart__continue-buying(href="camera-hub.html") Tiếp tục mua hàng 
      a.btn.cart__payment(href="payment.html") Thanh toán ngay 




