<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/halo/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/index.css">
    <title>HALO</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-xl px-4 px-sm-5 px-xl-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img class="header__logo" src="img/img--misc/logo-white.png" alt="">
          </a>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="search-bar-till-md">
              <input class="search-area" type="text" placeholder="Tìm kiếm...">
              <button class="btn search-btn">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link py-3 px-md-3" href="camera-hub.html">Máy ảnh</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-md-3" href="camera-hub.html">Ống kính</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-md-3" href="camera-hub.html">Phụ kiện</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-md-3" href="review-hub.html">Đánh giá</a>
              </li>
              <li class="nav-item display-till-md log-min">
                <a class="nav-link py-3" href="#" data-toggle="modal" data-target="#logreg">Đăng nhập/Đăng ký</a>
              </li>
            </ul>
          </div>
          <div class="log-cart-search">
            <a class="hidden-till-md log-max" id="logregToggler" href="#" data-toggle="modal" data-target="#logreg">Đăng nhập/Đăng ký</a>
            <a class="cart-icon" href="cart.html">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <button class="btn search-btn hidden-till-md d-flex align-items-center" onclick="searchBarToggler()">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="search-bar hidden-till-md">
            <input class="search-area" type="text" placeholder="Tìm kiếm...">
            <button class="btn search-btn">
              <i class="fas fa-search"></i>
            </button>
            <button class="btn search-cancel d-flex align-items-center justify-content-center" onclick="searchBarToggler()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="modal fade" id="logreg">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content"> 
            <div class="modal-header flex-wrap">
              <button class="close" type="button" data-dismiss="modal">&times;</button>
              <div class="logreg__logo w-100 mb-3 d-flex justify-content-center"><img src="img/img--misc/logo-black.png" alt=""></div>
              <p class="w-100 font-18 text-center font-weight-bold log">Đăng nhập  </p>
              <p class="w-100 font-18 text-center font-weight-bold reg">Đăng ký</p>
            </div>
            <div class="modal-body px-4 d-flex flex-column align-items-center">
              <form class="logreg--login-form w-100" action="" role="form">
                <div class="input-group w-100">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-user-circle"></i></span></div>
                  <input class="form-control login-form--username" type="text" placeholder="Email">
                </div>
                <div class="input-group w-100">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-lock"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Mật khẩu">
                </div>
                <div class="input-group w-100 reg">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-address-card"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Họ tên">
                </div>
                <div class="input-group w-100 reg">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Số điện thoại">
                </div>
              </form><a class="forget align-self-end log" href="#">Quên mật khẩu?</a>
              <p class="forget align-self-start font-11 font-italic reg">Khi đăng ký, bạn xác nhận đã đọc và đồng ý với <a style="color: #007bff" href="#">các điều khoản của chúng tôi</a></p>
              <button class="btn logreg__submit btn--dark log">Đăng nhập</button>
              <button class="btn logreg__submit btn--dark font-14 reg">Gia nhập cộng đồng HALO</button>
              <p class="log">Hoặc đăng nhập với </p>
              <div class="logreg__platform justify-content-between log"><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-fb.png" alt=""></a><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-gg.png" alt=""></a><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-apple.png" alt=""></a></div>
            </div>
            <div class="modal-footer"><a class="logreg-portal mx-auto reg" onclick="logregSwitch()">Quay lại đăng nhập</a>
              <p class="mx-auto log">Chưa có tài khoản? <a class="logreg-portal" onclick="logregSwitch()">Đăng ký ngay </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel slide" id="main-carousel" data-ride="carousel" data-interval="3500" data-touch="true">
        <!--indicators: 3 nút định vị trang-->
        <ul class="carousel-indicators">
          <li class="active" data-target="#main-carousel" data-slide-to="0"></li>
          <li data-target="#main-carousel" data-slide-to="1"></li>
          <li data-target="#main-carousel" data-slide-to="2"></li>
        </ul>
        <!--nội dung carousel-->
        <div class="carousel-inner">
          <div class="carousel-item banner-1 container-fluid p-0 active">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-1">
                  <p class="logo-canon">Canon</p>
                  <p class="eos-r">EOS R</p>
                  <div class="progress" style="height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                </div>
                <p class="main-carousel__text">ĐỊNH NGHĨA LẠI </p>
                <p class="main-carousel__text">CHUẨN MỰC HÌNH ẢNH HIỆN ĐẠI</p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img"></div>
              <div class="carousel-caption__extra hidden-till-md">
                <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-1-extra-1.png" alt="">
                  <p class="extra-text">LẤY NÉT TỰ ĐỘNG DUAL PIXEL CMOS </p>
                </div>
                <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-1-extra-2.png" alt="">
                  <p class="extra-text">TỐI ƯU HÓA ĐIỀU KHIỂN </p>
                </div>
                <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-1-extra-3.png" alt="">
                  <p class="extra-text">QUAY VIDEO ĐA CHẾ ĐỘ ĐỘ PHÂN GIẢI 4K</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item banner-2 container-fluid p-0">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-2">
                  <div class="progress hidden-till-md" style="width: 150px; height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                  <div class="logo-sony-a9-wrapper">
                    <p class="logo-sony">SONY</p><img class="a9-logo" src="img/img--carousel/a9-logo.png" alt="">
                  </div>
                  <div class="progress display-till-md" style="height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                </div>
                <div class="carousel-caption__extra hidden-till-md">
                  <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-2-extra-1.png" alt=""></div>
                  <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-2-extra-2.png" alt=""></div>
                  <div class="extra"><img class="extra-img" src="img/img--carousel/carousel-2-extra-3.png" alt=""></div>
                </div>
                <p class="main-carousel__text display-till-md">SỰ HOÀN HẢO</p>
                <p class="main-carousel__text hidden-till-md">Sự hoàn hảo chưa bao giờ ở gần đến vậy</p>
                <p class="main-carousel__text display-till-md">CHƯA BAO GIỜ GẦN ĐẾN VẬY</p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img"></div>
            </div>
          </div>
          <div class="carousel-item banner-3 container-fluid p-0">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-3">
                  <p class="logo-sony">SONY</p><span class="collab"><i class="fas fa-times"></i></span><img class="lotr-logo" src="img/img--carousel/lotr-logo.png" alt="">
                </div>
                <div class="carousel-caption__img--triple hidden-till-md">
                  <div class="carousel-caption__img"></div>
                  <div class="carousel-caption__img"></div>
                  <div class="carousel-caption__img"></div>
                </div>
                <p class="main-carousel__text font-italic font-weight-normal">"Một ngàm cho tất cả"</p>
                <p class="main-carousel__text">Kết nối mọi thứ với ngàm E-mount của <span class="logo-sony-inline">SONY</span></p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img display-till-md"></div>
            </div>
          </div><a class="carousel-control-prev" href="#main-carousel" data-slide="prev"><img src="img/img--misc/prev-arrow-xs-v2.png"></a><a class="carousel-control-next" href="#main-carousel" data-slide="next"><img src="img/img--misc/next-arrow-xs-v2.png"></a>
        </div>
      </div>
      <section class="intro intro--camera">
        <div class="container-xl px-sm-5 px-xl-0">
          <div class="row">
            <div class="intro__text d-flex flex-column justify-content-center col-md">
              <h1>Máy ảnh DSLR/Mirrorless</h1>
              <h3 class="font-italic">
                 Phá bỏ giới hạn từ chiếc máy ảnh du lịch giá rẻ<br>và cả smartphone đắt tiền của bạn</h3><a class="btn btn--dark seemore-btn" href="camera-hub.html">Xem chi tiết</a>
            </div>
            <div class="intro__img col-md"><img src="img/img--camera-body/camera-intro-imgv2.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="intro intro--lens dark-side">
        <div class="container-xl px-sm-5 px-xl-0">
          <div class="row">
            <div class="intro__text d-flex flex-column justify-content-center col-md">
              <h1>Ống kính máy ảnh</h1>
              <h3 class="font-italic">Góc nhìn mới, cảm nhận mới, thế giới mới</h3><a class="btn btn--light seemore-btn" href="camera-hub.html">Xem chi tiết</a>
            </div>
            <div class="intro__img col-md"><img src="img/img--lens/lens-intro-imgv2.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="intro intro--equip">
        <div class="container-xl px-sm-5 px-xl-0 mw-900">
          <div class="intro__text d-flex flex-column">
            <h1>Phụ kiện máy ảnh</h1>
            <h3 class="font-italic">Dù “pro” đến mấy cũng cần các trợ thủ đắc lực</h3>
          </div>
          <div class="intro__img display-till-md"><img src="img/img--equip/equip-intro--min.png" alt=""></div>
          <div class="intro__img card-columns hidden-till-md">
            <div class="card"><img class="card-img" src="img/img--equip/equip-1.png" alt=""></div>
            <div class="card"><img class="card-img" src="img/img--equip/equip-5.png" alt=""></div>
            <div class="card"><img class="card-img" src="img/img--equip/equip-3.jpg" alt=""></div>
            <div class="card"><img class="card-img" src="img/img--equip/equip-4.png" alt=""></div>
          </div><a class="btn btn--dark seemore-btn mx-auto" href="camera-hub.html">Xem chi tiết</a>
        </div>
      </section>
      <section class="specials dark-side">
        <div class="container-xl px-sm-5 px-xl-0 d-flex flex-column align-items-center">
          <h1>Đối tác chiến lược</h1>
          <div class="brands__img row"><img class="brands-item col-6 col-md-3" src="img/img--misc/brands-sony.png" alt=""><img class="brands-item col-6 col-md-3" src="img/img--misc/brands-nikon.png" alt=""><img class="brands-item col-6 col-md-3" src="img/img--misc/brands-canon.png" alt=""><img class="brands-item col-6 col-md-3" src="img/img--misc/brands-sigma.png" alt=""></div>
          <div class="brands__text">
            <h3 class="font-italic text-center mw-900">Là đối tác chiến lược của Sony, Canon, Nikon và Sigma, HALO sẽ miễn phí nâng thời hạn bảo hành sản phẩm chính hãng của các thương hiệu này: <span class="font-weight-bold">từ 12 tháng lên 24 tháng</span></h3>
          </div>
          <h1>Chính sách độc quyền</h1>
          <div class="policy d-flex justify-content-between">
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center"><span class="font-weight-bold">Miễn phí </span>vận chuyển nội thành Hà Nội<br>(riêng phụ kiện: chỉ áp dụng với đơn hàng tổng giá trị trên 200,000 đ)</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="fas fa-truck"></i>
                <p class="font-weight-bold">FREE</p>
              </div>
            </div>
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center">Đổi mới sản phẩm hoặc<span class="font-weight-bold"> hoàn tiền 100% </span>giá trị sản phẩm trong 14 ngày nếu có lỗi từ nhà sản xuất</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="fas fa-history"></i>
                <p class="font-weight-bold">100%</p>
              </div>
            </div>
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center">Hỗ trợ trả góp mọi sản phẩm với <span class="font-weight-bold">0% lãi suất </span><br>Hỗ trợ thanh toán trực tuyến, thẻ tín dụng, ví điện tử</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="far fa-credit-card"></i>
                <p class="font-weight-bold">0%  </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="promo">
        <div class="container-xl px-sm-5 px-xl-0">
          <h1>Tin khuyến mại</h1>
          <div class="promo__collection row"><img class="promo-item col-md-4" src="img/img--misc/promo-img-1.jpg" alt=""><img class="promo-item col-md-4" src="img/img--misc/promo-img-2.jpg" alt=""><img class="promo-item col-md-4" src="img/img--misc/promo-img-1.jpg" alt=""></div>
          <button class="btn btn--dark seemore-btn mx-auto" type="button">Xem thêm</button>
        </div>
      </section>
      <section class="review dark-side">
        <div class="container-xl px-sm-5 px-xl-0 mw-900">
          <h1>HALO review</h1><a class="review-item d-flex" href=""><img class="review-item__img" src="img/img--misc/review-img-v2.png" alt="">
            <div class="review-item__content w-100 d-flex flex-column justify-content-between">
              <div class="review-header d-flex flex-wrap align-items-start align-content-start">
                <h2 class="w-100">Top 5 DSLR đáng mua năm 2021</h2>
                <p class="subtext font-italic font-weight-light">Trung Đức</p>
                <p class="subtext font-italic font-weight-light"><i class="far fa-clock mx-1 mx-sm-2"> </i>01/01/2021</p>
              </div>
              <p class="review-preview hidden-till-sm">Trên thị trường có rất nhiều máy ảnh DSLR đến từ các hãng lớn như Nikon, Canon, Sony,... lựa chọn một chiếc máy ảnh phù hợp là điều không đơn giản.</p>
            </div></a><a class="review-item d-flex" href="#"><img class="review-item__img" src="img/img--misc/review-img-v2.png" alt="">
            <div class="review-item__content w-100 d-flex flex-column justify-content-between">
              <div class="review-header d-flex flex-wrap align-items-start align-content-start">
                <h2 class="w-100">Top 5 DSLR đáng mua năm 2021</h2>
                <p class="subtext font-italic font-weight-light">Trung Đức</p>
                <p class="subtext font-italic font-weight-light"> <i class="far fa-clock mx-1 mx-sm-2"> </i>01/01/2021</p>
              </div>
              <p class="review-preview hidden-till-sm">Trên thị trường có rất nhiều máy ảnh DSLR đến từ các hãng lớn như Nikon, Canon, Sony,... lựa chọn một chiếc máy ảnh phù hợp là điều không đơn giản. </p>
            </div></a>
          <button class="btn btn--light seemore-btn mx-auto" type="button">Xem thêm        </button>
        </div>
      </section>
      <section class="connection">
        <div class="container-xl px-sm-5 px-xl-0">
          <h1 class="connection__header">Đăng ký để nhận tin mới nhất từ HALO</h1>
          <form class="connection__form d-flex justify-content-center" action="">
            <input class="connection__input" type="text" placeholder="Email của bạn...">
            <button class="btn connection__submit-btn btn-primary font-italic">Gửi</button>
          </form>
          <p class="connection__text text-center">Hoặc theo dõi chúng tôi tại</p>
          <div class="connection__socials d-flex justify-content-between mx-auto"><a class="socials__item d-block" href="#"><img src="img/img--misc/social-fb.png" alt=""></a><a class="socials__item d-block" href="#"><img src="img/img--misc/social-insta.png" alt=""></a><a class="socials__item d-block" href="#"><img src="img/img--misc/social-twitter.png" alt=""></a></div>
        </div>
      </section>
    </main>
    <footer class="dark-side"> 
      <div class="container px-sm-5 mw-600 d-flex flex-column justify-content-center align-items-center"><img class="footer__logo" src="img/img--misc/logo-white.png" alt="">
        <ul class="footer__menu d-flex justify-content-between align-items-center">
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Giới thiệu</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Hỗ trợ</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Chính sách</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Liên hệ</a></li>
        </ul>
        <p class="footer__info">Địa chỉ: Số Math.pow(n+1, 2), phố “ABC”, Hà Nội <br>Tổng đài tư vấn mua hàng: 099.999.9999<br>Email: info@halo.vn<br>ĐKKD số 0123456789 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp ngày 01/01/2021</p>
        <p class="copyright font-italic">Bản quyền thuộc Công ty TNHH HALO Việt Nam</p>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/d8c5e3f38e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>