* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    color: #000;
    transition: all 0.4s ease;
}

.nav-link2:hover {
    text-decoration: none;
    color: #212529!important;
}

input:focus{
    outline: none;
}

.breadcrumb-item a:hover {
    text-decoration: none;
}

.btn-submit:hover {
    background: #508690!important;
    color: #FFC107;
}

/*header*/
.topbanner {
    background-color: #508690;
}

.topbanner p{
    text-align: center;
    color: white;
}

header {
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    /*position: fixed;*/
    z-index: 100;
    top: 0;
    display: block;
}

header .navbar {
    border-bottom: 1px solid #eaeaea;
}

.navbar1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-toggler1 {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

header button {
    background-color: var(--main);
    color: var(--white);
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

.navbar-toggler-icon1 {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.reset {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    vertical-align: middle;
    border-style: none;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link1 {
    padding-right: 0;
    padding-left: 0;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul li {
    cursor: pointer;
}

li {
    list-style: none;
}

header .navbar-light .navbar-nav .nav-link1 {
    color: var(--grey-header);
}

.nav-link1 {
    display: block;
    padding: 0.5rem 1rem;
    color: #508690!important;
}

.userProfile {
    position: relative;
    display: flex;
}

.d-flex {
    display: flex !important;
}

.header-right .btn-register, .header-right .btn-logout {
    border-radius: 5px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn {
    color: var(--white);
}

.btn-register, .items-cart, .btn-submit, .point-loyalty span, .choose-cart button, .btn-more:hover {
    background-color: #508690;
    color: var(--white);
}

.header-right .btn-cart {
    padding: 0.5rem 0;
}

.cart-icon {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-login {
    border: none;
}

.nav-search {
    border: #e7e7e7 solid 1px;
}

.fa {
    color: black;
}

/*reponsive*/
@media (min-width: 576px){
    .d-sm-block {
        display: block !important;
    }

    .d-sm-none {
        display: none;
    }
}

@media (min-width: 768px){
    .d-md-block {
        display: block !important;
    }

    .nav-search {
        width: 40%;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .d-lg-none {
    display: none !important;
    }

    .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    }

    header ul li.nav-item {
        margin: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link1 {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    

    .d-lg-block {
        display: block !important;
    }

    header ul li.nav-item {
        margin: 0;
    }

    .nav-search {
        width: 100%;
    }

}


@media (min-width: 1200px){
    header ul li.nav-item {
        margin: 0 4px;
    }


    header ul li.nav-item {
        margin: 0 4px;
    }
}
/*end header*/

/*navbar*/
.navbar-jib {
    margin-top: 80px;
    background-color: #FA7268!important;
    position: static !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link2 {
    color: white!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
}
/*end navbar*/

/*breadcrumb*/
.breadcrumb {
	background-color: white!important;
	padding-top: 80px !important;
}
/*end breadcrum*/

/*products menu*/
#dropdown-menu {
	padding-top: 100px;
}

.dropdown-menu {
	display: block!important;
	position: static!important;
}

.title {
	width: 60%;
}

.filter {
	padding-left: 86%;
}

#filter {
    border: 1px solid rgba(0,0,0,.15);
    font-size: 14px;
    color: #212529;
    padding: 0.5rem 0;
}
/*end products menu*/

/*products*/
.item {
	padding-top: 50px;
}

.ProductCard {
	padding-bottom: 50px !important;
}

.ProductCard img {
	max-width: 250px;
}

.ProductCard-options--sticky {
    min-height: 50px;
}

.ProductCard-header a:hover {
    text-decoration: none;
    color: #508690;
}

.MoreOptions {
    margin: 4px 0;
    display: -ms-flexbox;
    /*display: flex;*/
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.MoreOptions-wrapper:hover {
    box-shadow: 0 0 0 2px #221924;
    color: #221924;
}

.MoreOptions-link, .MoreOptions-wrapper {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    vertical-align: top;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #dedede;
    transition: border .15s ease-out;
    overflow: hidden;
}

.ProductCard-price {
    display: inline-block;
    color: #508690;
    text-decoration: none;
    margin-right: 4px;
    font-size: 1.334rem;
    line-height: 1.2;
}

.ProductCard-price--listPrice {
    font-size: 1rem;
    text-decoration: line-through;
    white-space: nowrap;
    color: #6f6f6f;
}

.ProductCard-header {
	padding-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
}

.photo {
	position: relative;
}

.photo:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
}

.vertical-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 8%;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 5;
}

.photo:hover .vertical-icon i {
    transform: translateX(0);
    opacity: 1;
}

i.fa-heart-o {
    transition: all 0.5s ease;
}

.vertical-icon i {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    transform: translateX(30px);
    opacity: 0;
    border-radius: 50%;
    background-color: #f8f8f8;
    font-size: 16px;
}

.vertical-icon a {
    color: #999999;
}

.vertical-icon i::before {
    height: 40px;
    line-height: 40px;
}

.more {
	text-align: center;
}

.more button {
	border-radius: 5rem;
	width: 200px;
	background-color: #508690;
}
/*end products*/

/*pagenation*/
.pagination {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    display: block!important;
}

.pagination a.page-no {
    text-decoration: none;
    font-size: 16px;
     color: #333333; 
    font-weight: bold;
    display: inline-block;
    margin: 5px 2px;
    background: transparent;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.pagination a.page-no.current, .pagination a.page-no:hover {
    background: #508690;
    color: #fff;
}
/*end pagenation*/

/*backtotop*/
.back-top {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #508690;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    display: none;
    border-radius: 50%;
}
/*end backtotop*/

/*footer*/
footer#colophon {
    padding-top: 30px !important;
    padding-bottom: 0;
    background: #508690 !important;
}

.site-footer, .site-footer a {
    color: #1c1c1c;
    line-height: 35px;
    padding: 15px 0;
    
}

.bgshy {
	margin-left: auto;
    margin-right: auto;
}

.bgshy *, .bgshy a {
    color: white !important;
}

.bgshy h3 {
    text-transform: uppercase;
    color: #fff !IMPORTANT;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 24px;
}

footer p {
    margin-bottom: 5px;
}

p {
    margin: 0 0 10px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.logo-footer img {
	max-width: 130px;
}

.wp-slider {
	width: 800px;
	margin: 0px auto;
}

.facebook {
	margin-bottom: 20px;
}

.echys a:hover {
  text-decoration: none;
  color: #fa7268!important;
}

/*@media (max-width: 992px) {
    .bgshy {
        max-width: 992px;
    }

    .fb-page {
        right: 7%;
    }
}

@media (max-width: 768px){
    .bgshy {
        max-width: 768px;
    }

    .fb-page {
        right: 40%;
    }
}*/
/*end footer*/

@media (max-width: 768px) {
    .ProductCard-header, .ProductCard-options, .ProductCard-pricing {
        text-align: center;
    }