.banner-sneaker5{
    height:400px ;
    background-image: url(../image/img-banner/kicks-2213619_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-brand-about{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    line-height: 43px;
    color: #1c1c1c;
    font-weight: 700;
}
.text-brand-about span{
    color: rgb(243, 68, 24);
}
.text-content-about{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #4f555a;
    word-spacing: 5px;
}
.img-about{
    max-width: 100%;
}