.anh-bia {
    max-height: 400px;
    overflow-y: hidden;
}

.file-items {
    margin-top: 0px;    
}

.content-category-manga {
    max-width: 1200px;
    margin: auto;
}

.filter-category {
    background-color: #08bbb7;
    margin: 20px 0px;
}

.filter-title {
    display: flex;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.filter-title i {
    margin-right: 5px;
    font-size: 18px;
}

.filter-title i::before {
    font-size: 16px;
}

.filter-content {
    padding: 25px;
    color: #fff;
}

.filter-box {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.filter-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 3px;
    transform: translate(0%, -50%);
}

/* On mouse-over, add a grey background color */

.filter-box:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.filter-box input:checked~.checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.filter-box input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.filter-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #068F8C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio .checkmark {
    border-radius: 100%;
}

.radio .checkmark::after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #068F8C;
}

.filter-content button {
    border: none;
    outline: none;
    display: flex;
    background-color: #08bbb7;
    color: #eee;
    border-bottom: 1px solid #fff;
    margin: auto;
}

.filter-categories-btn {
    display: none;
}

.filter-categories-btn i{
    position: fixed;
    top: 40%;
    left: 0px;
    padding: 0px;
    z-index: 10;
}

.cover-screen-filter {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 199;
}

.filter-categories-btn i {
    border-radius: 0%;
    background-color: #065f5e;
    width: 30px;
    height: 45px;
    border-radius: 0px 10px 10px 0px;
}

.filter-categories-btn i:before {
    font-size: 15px;
}

.filter-title .fa-angle-up {
    display: none;
}

.dp-none {
    display: none;
}

/* .shop .file-item {
    display: flex;
    flex-direction: column;
    bottom: 0px;
} */

@media only screen and (max-width: 992px) {
    .filter-content {
        padding: 10px;
    }

    .filter-box {
        padding-left: 35px;
    } 
}

@media only screen and (max-width: 767px) {
    .filter-categories {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 200;
        overflow: scroll;
        width: 200px;
        background-color: #fff;
    }

    .filter-title {
        padding: 0px 10px;
        justify-content: space-between;
    }

    .filter-title .fa-filter {
        display: none;
    }

    .filter-title .fa-angle-up {
        display: block;
    }

    .filter-category {
        margin: 10px 0px;
    }

    .file-items {
        width: 100%;
    }

    .filter-categories-btn {
        display: block;
    }
}
