

.footer__top {
  height: 23rem;
  background-color: var(--color-grey-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .footer__top {
    height: 27rem;
  }
}
.footer__box {
  font-family: Roboto;
  font-style: normal;
  text-align: center;
}

.footer__top-heading {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.footer__top-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-white);
  margin-bottom: 1.6rem;
}

.footer__top-form {
  max-width: 71.6rem;
  width: 100%;
  margin: 0 auto;
}

.footer__top-input {
  width: 100%;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.6rem 1rem 1.5rem 2.3rem;
  border: none;

  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .footer__top-input {
    margin-bottom: 1rem;
  }
}
.footer__top-input:focus {
  outline: none;
}

.footer__main {
  height: 36rem;
  padding-top: 3.3rem;
  color: var(--color-white);
  background-color: var(--color-grey-6);
}

@media (max-width: 991px) {
  .footer__main {
    height: 39rem;
  }
}

@media (max-width: 576px) {
  .footer__main {
    height: 78rem;
  }
}

.footer__main-logo {
  width: 6.5rem;
  height: 6rem;
  margin-bottom: 1.8rem;
}

.footer__main-logo img {
  width: 100%;
}

.footer__main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}

.footer__main-box-icon {
  font-size: 2rem;
}

.footer__main-box-icon a i {
  color: var(--color-white);
  margin-right: 2.7rem;
}

.footer__main-header {
  margin-top: 3.2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 2.3rem;
}

.footer__main-list {
  list-style: none;
}

.footer__main-item {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.footer__main-link:link,
.footer__main-link:visited {
  color: var(--color-white);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: .7rem;
}

.footer__main-margin {
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

.footer__main-link:active,
.footer__main-link:hover {
  color: var(--color-white-2);
}



.footer__bot {
  background-color: var(--color-grey-7);
  text-align: center;
}

.footer__bot p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-white);
  padding: 1.5rem 0;
  margin: 0;
}

.footer__main-link p {
  margin-bottom: .8rem;
}
