
#header{
    background-color: white;
}
#header .container{
    border-bottom: 1px solid #e6e6e6;
}
.menu-item .item > a, .search input::placeholder, .search a, .cart a{
    color: #905D2F;
}
.menu-item .item:nth-child(2) > a{
    color: #70C130;
}
.search input{
    border-color: rgba(0,0,0,0.09);
    background-color: rgba(0,0,0,0.03);
}
#main{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 130px;
}
.show-product{
    display: flex;
    padding: 2%;
}
.show-product .show-left{
    width: 45%;
    margin-right: 5%;
}
.img-main-big{
    position: relative;
}
.img-main{
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-main img{
    max-height: 234.23px;
    cursor: pointer;
}
.img-extra{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.img-extra img{
    max-width: 23.5%;
    cursor: pointer;
}
.op-05{
    opacity: 0.5;
}
.img-extra img:not(:last-child){
    margin-right: 2%;
}
.show-product .show-right{
    width: 50%;
    /* background-color: blue; */
}
.prev, .next{
    position: absolute;
    top: 0;
    height: 100%;;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    transition: 0.1s;
    user-select: none;
    z-index: 2;
    display: inline;
    display: flex;
    align-items: center;
}

.next{
    right: 0;
}
.prev:hover{
    color: #00a7ff; /* blue */
}
.next:hover{
    color: #00a7ff; /* blue */
}
.active{
    border-color: #00a7ff;
    opacity: 1;
}
.border1{
    border: 1px solid #c2c2c2;
}
/* -- quantity box -- */
.upper{
    text-transform: uppercase;
}
.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    margin: 0;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    /* padding: 7px 10px 8px; */
    height: 40px;
    background-color: #f9f9f9;
    width: 20px;
    border: 1px solid #cccccc;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
       margin-right: -4px;
    border-right: 0; }
   
   .quantity.buttons_added .plus {
       margin-left: -4px;
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
   
.show-right h4 a{
    color: rgba(102,102,102,0.7);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
}
.show-right h4 a:first-child{
    font-weight: bold;
}
.show-right .product-name{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
}
.show-right .product-price{
    margin-top: 10px;
    color: red;
    font-weight: 700;
}
.show-right .status{
    color: #7a9c59;
    margin-top: 15px;
}
.quantity-card{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.minus{
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
    width: 20px;
}
.add-to-card{
    background-color: #70c130;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
    /* margin-left: 25px; */
    cursor: pointer;
}
.add-to-card:hover{
    background-color: #59a71e;
}
.product-info{
    margin-top: 10px;
    font-size: 13px;
}
.product-description{
    margin-top: 30px;
    padding: 2%;
}

.title-description li{
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
    color: rgba(102,102,102,0.85);
    transition: all .2s;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.title-description-menu li::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}
.title-description-menu li:hover::before{
    display: block;
}
.title-description-menu .hover-active:hover::before{
    display: none;
}
.hover-active{
    background: #70c130;
    color: white!important;
}
.info-description{
    padding: 2%;
    border: 1px solid rgb(214, 214, 214);
}
.info-description p:not(:last-child){
    margin-bottom: 25px;
}
.info-uses p:not(:last-child){
    margin-bottom: 25px;
}
.characteristics:not(:last-child){
    margin-bottom: 25px;
}
.info-description p{
    color: #666;
}
.title-description-menu{
    display: flex;
}
.commit{
    margin-top: 30px;
    text-align: center;
}
.commit h3{
    text-transform: uppercase;
    font-size: 24px;
    color: #905d2f;
    font-family: "Avo",Helvetica,arial,sans-serif;
    margin-bottom: 0px;
    font-weight: normal;
    margin-bottom: 10px;
}
.commit p{
    margin-bottom: 25px;
    color: #666;
}
.img-commit{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(201, 199, 199);
}
.img-commit img{
    width: 20%;
    padding: 0 2.5%;
}
.product-similar{
    margin-top: 25px;
    padding: 2%;
}
.product-similar h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
    padding-left: 25px;
}
.list-product{
    margin-top: 25px;
    padding: 0 1.25%;
    display: flex;
    flex-wrap: wrap;
}
.mini-product{
    flex-basis: 22.5%;
    box-shadow: 0 0 3px;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.mini-product{
    margin-right: 3.333%;
}
.mini-product:nth-child(4n){
    margin-right: 0;
}
.mini-product img{
    max-width: 100%;
    cursor: pointer;
}
.img-product{
    position: relative;
    overflow: hidden;
}
.img-product .info{
    cursor: pointer;
}

.mini-product:hover .info{
   /* display: block; */
   transform: translateY(-50px);
}
.img-product .info{
    padding: 7px 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #70C130;
    font-size: 14px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    transition-property: transform;
    transition-duration: 0.2s;
   /* display: none; */
}
.mini-title{
    color: #777777;
    font-size: 10.8px;
    text-transform: uppercase;
}
.name-product{
    margin-top: 5px;
    color: #66CC00;
    text-transform: uppercase;
    font-size: 14.4px;
    font-weight: bold;
}
.list-product .price{
    margin-top: 5px;
    color: red;
    font-weight: bold;
    font-size: 14.4px;
    margin-bottom: 15px;
}
.discount{
    position: absolute;
    background: #66CC00;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    top: 20px;
    left: -3px;
}
@media(max-width: 576px){
    .show-product{
        flex-wrap: wrap;
    }
    .show-product .show-left{
        width: 100%;
        margin-right: 0;
    }
    .show-product .show-right{
        width: 100%;
        margin-top: 30px;
    }
    .title-description-menu{
        display: unset;
    }
    .img-commit{
        flex-wrap: wrap;
    }
    .commit{
        padding: 2%;
    }
    .img-commit img{
        width: 100%;
        padding: 0 10%;
    }
    .list-product{
        flex-wrap: wrap;
    }
    .list-product .mini-product{
       flex-basis: 48.5%;
    }
    .list-product .mini-product{
        margin-right: 0;
    }
    .list-product .mini-product:not(:nth-child(2n)){
        margin-right: 3%;
    }
}