.breadcrumb {
	margin-top: 100px;
	text-transform: uppercase;
	color: #B3B5BA;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid rgba(213, 216, 222, 0.5);
	padding: 10px 20px;
	display: inline-block;
	margin-bottom: 20px !important;
}

.breadcrumb>li {
	font-size: 11px;
}

.breadcrumb>li>a {
	color: #ffcb0a;
	text-decoration: none;
	cursor: pointer;
}

.breadcrumb>li>span {
	display: inline-block;

} 

.article h1{
	line-height: 1.4;
	font-size: 40px;
	text-transform: none;
	font-family: serif;
}

.article0 {
	width: 750px;
	max-height: 500px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	-webkit-border-radius: 10px 10px 10px 10px; 
	background-color: rgba(21, 25, 37, 0.8); 
	color: #ffffff; 
	padding: 10px; 
	float: left;
}

.article1 {
	max-height: 500px;
    float: left;
    padding-left: 20px;
}

.article1 img {
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
} 

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffcb0a;
}


#test__css img{
     width: 444.16666666667px;
    height: 250px;
    margin-left: -22.083333333333px;
    margin-top: 0px;
    padding: 0 40px;
}

#test__css img:hover {
	transform: scale(1.05);
	transition: all 0.2s linear;
}