extends ./template-part/layout.pug

block title
    title Frequency - About Us
    link(rel="stylesheet" href="./css/story.css")

block content
    .main
        section.story#story-1.story-active
            .story__content Người ta vẫn thường nói rằng “Thời gian là vàng”. Quả thực đúng như vậy, thời gian với vũ trụ tuần hoàn, còn đối với con người lại một đi không trở lại.
            .story__background
                img.story__background-img(src="./img/story-1.jpg" alt="story")
        section.story#story-2
            .story__content Bởi vậy nó vô cùng quý giá đối với cuộc sống của mỗi chúng ta. Mỗi người chỉ có một quỹ thời gian giống nhau, vậy làm sao để sống một cuộc đời thật ý nghĩa?
            .story__background
                img.story__background-img(src="./img/story-2.jpg" alt="story")
        section.story#story-3
            .story__content Chúng ta có thể hiểu rằng thời gian là khái niệm dùng để để diễn tả trình tự xảy ra các sự kiện, biến cố và khoảng kéo dài của chúng.
            .story__background
                img.story__background-img(src="./img/story-3.jpg" alt="story")
        section.story#story-4
            .story__content Thời gian được xác định bằng số lượng các chuyển động của các đối tượng có tính lặp lại và thường có một thời điểm mốc gắn với một sự kiện nào đó.
            .story__background
                img.story__background-img(src="./img/story-4.jpg" alt="story")
        section.story#story-5
            .story__content Chính vì vậy, thời gian là vô cùng quý giá, không gì có thể nói lên hết được giá trị của chúng.
            .story__background
                img.story__background-img(src="./img/story-5.jpg" alt="story")
        section.story#story-6
            .story__content Mỗi khoảnh khắc chúng ta đang sống, được hoạt động là duy nhất trên cõi đời này, sẽ không bao giờ lấy lại được những cái đã qua.
            .story__background
                img.story__background-img(src="./img/story-6.jpg" alt="story") 
        section.story#story-7
            .story__content Thời gian giúp ta ngày càng trưởng thành, mạnh mẽ. Sau khi vượt qua những giông tố trong cuộc đời, con người bao giờ cũng già dặn, chín chắn hơn.
            .story__background
                img.story__background-img(src="./img/story-7.jpg" alt="story") 
        section.story#story-8
            .story__content Cuộc sống hiện đại hối hả, gấp gáp càng đòi hỏi hơn nữa chúng ta phải biết cách sử dụng thời gian hợp lý. Sử dụng thời gian hợp lý là một trong những cách thức để đạt thành công.
            .story__background
                img.story__background-img(src="./img/story-8.jpg" alt="story")  

block javascript
    script(src="./js/story.js") 

