.banner
    .container
        .row
            .col
                .banner__content
                    block heading
                        h1.heading-primary Sản Phẩm
                    .banner__box
                        .banner__title Trang chủ
                        block icon
                            .banner__icon
                                img(src="./img/arrows-banner.svg", alt="")