footer.footer
    .footer__top
        .container
            .row
                .col
                    .footer__box
                        h4.footer__top-heading ĐĂNG KÍ NHẬN THÔNG BÁO
                        p.footer__top-title Đăng ký nhận thông tin khuyến mãi và cập nhật sản phẩm mới nhất từ Cake.
                        form.footer__top-form
                            .row
                                .col-xl-8.col-lg-8.col-md-8.col-sm-8.col-12
                                    input(type="text" placeholder="Nhập địa chỉ Email của bạn").footer__top-input
                                .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12
                                    button.btn.btn--form ĐĂNG KÝ
    .footer__main
        .container
            .row
                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    .footer__main-logo
                        img(src="./img/logo.svg", alt="Cake")
                    .footer__main-title Bí quyết và tâm huyết chắt chiu hơn 20 năm kinh nghiệm bậc thầy tạo nên vị ngon đặc trưng khó cưỡng, khiến mỗi chiếc bánh là một công trình ẩm thực kỳ công và đẳng cấp.
                    .footer__main-box-icon
                        a(href="#")
                            i.fab.fa-youtube
                        a(href="#")
                            i.fab.fa-twitter-square
                        a(href="#")
                            i.fab.fa-facebook-square
                        a(href="#")
                            i.fab.fa-instagram
                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    h4.footer__main-header Liên kiết nhanh
                    ul.footer__main-list
                        li.footer__main-item
                            a(href="#").footer__main-link Về chúng tôi
                            a(href="#").footer__main-link Sản phẩm bán chạy
                            a(href="#").footer__main-link Tin tức sản phẩm
                            a(href="#").footer__main-link Liên hệ
                            a(href="#").footer__main-link Góp ý
                            a(href="./error.html").footer__main-link Trang lỗi
                .col-xl-4.col-lg-4.col-md-4.col-sm-4
                    h4.footer__main-header Thông tin cửa hàng
                    a(href="#").footer__main-link
                        p.footer__main-map Cơ sở 1:
                        p Điện thoại: 039 539 0668
                        p.footer__main-margin Địa chỉ: Số 4, đường Nguyễn Chí Thanh, Đống Đa
                    a(href="#").footer__main-link
                        p.footer__main-map Cơ sở 2:
                        p   Điện thoại: 039 539 0668
                        p   Địa chỉ: Số 6, đường Nguyễn Chí Thanh, Đống Đa
    .footer__bot
        p Cake © 2020.

