extends template-part/layout2.pug
block style
    link(rel="stylesheet", href="css/thanhtoan.css")
    link(rel="stylesheet", href="css/baiviet.css")
block title
    title 14 Phong cách thiết kế
block tieu-de-trang-text
    p.xlarge.ten-bai-viet 14 Phong cách thiết kế bạn cần biết
block chu-thich-trang-text
block content
    .bai-viet.container-md
        .mo-dau-bai-viet
            p Tối giản, trừu tượng, hay vintage? Bạn lựa chọn phong cách thiết kế nào để theo đuổi ? Những phong cách thiết kế nào đang dẫn đầu xu hướng trong năm nay. Bài viết dưới đây sẽ miêu tả hàng loạt các phong cách thiết kế hình ảnh khác nhau, đi kèm với ví dụ cụ thể.
            p Đồng thời, cũng là các gợi ý kết hợp các phong cách thiết kế khác nhau lại với nhau để tạo ra sự sáng tạo độc đáo. Ví dụ như, bạn có thể tạo ra những thiết kế vui nhộn bằng việc kết hợp giữa phong cách thiết kế “phẳng” và “minh họa” lại với nhau. Hoặc tạo ra những logo sang trọng bằng cách kết hợp phong cách vintage và nam tính.
            p Designers: tìm hiểu hướng dẫn này để giúp định hình phong cách thiết kế của bản thân cũng như khám phá ra các cách kết hợp sáng tạo mê hoặc.
            p Khách hàng: tìm hiểu hướng dẫn này để tìm ra những thiết kế hình ảnh mô tả chuẩn xác đặc tính thương hiệu của bạn.
        .bai-viet-border1
            p.small 1.Phong cách thiết kế 3D 
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                    img.img-fluid(src="img/baiviet/baiviet1-1.png", alt="baiviet1")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Phong cách thiết kế 3D rõ ràng tạo sự chân thực và sống động hơn so với các thiết kể phẳng. Bằng việc đem lại hình ảnh đa chiều, người xem sẽ cảm thấy bị thu hút và kích thích nhiều hơn. Phong cách thiết kế 3D thường được sử dụng để miêu tả và tái hiện những vật có thật ngoài cuộc sống. 
                    p.bai-viet-weight Đặc tính:
                    p 1. Minh họa chiều sâu, thực tế
                    p 2. Cần hiểu về độ sáng của từng phần trong thiết kế
                    p 3. Độ mờ, bóng của vật và màu sắc
        .bai-viet-border2.bai-viet-down
            p.small 2.Phong cách thiết kế trừu tượng
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Trừu tượng là phong cách thiết kế tạo ra những góc nhìn độc lập riêng biệt của vật thể so với ngoài đời. Để có được sản phẩm thiết kế theo phong cách trừu tượng, bạn cần kết hợp các yếu tố về màu sắc, hình khối dựa trên tư duy và lối tiếp cận của chính designer, khách hàng hoặc cả hai.
                    p.bai-viet-weight Đặc tính:
                    p 1. Là đại diện “nghệ thuật, trừu tượng” cho một sự vật, nội dung cụ thể
                    p 2. Thể hiện diễn giải cá nhân của người thiết kế
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                        img.img-fluid(src="img/baiviet/baiviet1-2.png", alt="baiviet2")
        .bai-viet-border1.bai-viet-down
            p.small 3.Phong cách thiết kế tối giản
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-3.png", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Phong cách thiết kế tối giản là kỹ thuật đòi hỏi sử dụng khoảng trống một cách tinh tế. Phong cách này đề cao việc loại bỏ những element không cần thiết trong thiết kế vì mục tiêu truyền đạt thông điệp một cách hiệu quả nhất.
                    p.bai-viet-weight Đặc tính:
                    p 1. Sử dụng số lượng ít các màu sắc
                    p 2. Sử dụng các layout đơn giản tinh tế
                    p 3. Trái ngược với phong cách trừu tượng
        .bai-viet-border2.bai-viet-down
            p.small 4.Phong cách thiết kế nghệ thuật khái niệm - Conceptual art
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Conceptual art là một nhánh khác của phong cách thiết kế minh họa, và nó là những mô tả ẩn dụ tinh tế cho các ý tưởng thể hiện bằng hình ảnh. Phong cách này đòi hỏi người thiết kế phải tưởng tượng và sáng tạo nhiều hơn trong quá trình thực hiện.
                    p.bai-viet-weight Đặc tính:
                    p 1. Được sử dụng rất nhiều trong hoạt hình và game
                    p 2. Biến các suy nghĩ trừu tượng mờ của người thiết kế thành thứ người xem có thể nhìn thấy và hiểu được.
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                    a(href="")
                        img.img-fluid(src="img/baiviet/baiviet1-4.jpg", alt="baiviet4")
        .bai-viet-border1.bai-viet-down
            p.small 5.Phong cách thiết kế nữ tính
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-5.png", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Đối lập với phong cách thiết kế nam tính, designer thường áp dụng cho các sản phẩm liên quan tới phụ nữ bằng lựa cách lựa chọn những bảng màu sắc mềm, họa tiết hoa và chữ viết tay hoặc cách điệu.
                    p.bai-viet-weight Đặc tính:
                    p 1. Thường kết hợp với các font chữ uốn lượn, cách điệu, mỏng.
                    p 2. Kết hợp với các tone màu pastels
                    p 3. Mang các yếu tố liên quan tới phụ nữ, hoa và các sản phẩm thời trang (son môi, giày cao gót,..)
        .bai-viet-border2.bai-viet-down
            p.small 6.Phong cách thiết kế phẳng
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Phong cách này cũng được coi là một nhánh khác của thiết kế tối giản: yêu cầu sử dụng tối giản các màu sắc và thành tố trong thiết kế.
                    p.bai-viet-weight Đặc tính:
                    p 1. Sử dụng số lượng ít các màu sắc
                    p 2. Đề cao sự đơn giản, chủ nghĩa “less is more”
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                        img.img-fluid(src="img/baiviet/baiviet1-6.jpg", alt="baiviet4")
        .bai-viet-border1.bai-viet-down
            p.small 7.Phong cách thiết kế nữ tính
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-5.png", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Đối lập với phong cách thiết kế nam tính, designer thường áp dụng cho các sản phẩm liên quan tới phụ nữ bằng lựa cách lựa chọn những bảng màu sắc mềm, họa tiết hoa và chữ viết tay hoặc cách điệu.
                    p.bai-viet-weight Đặc tính:
                    p 1. Thường kết hợp với các font chữ uốn lượn, cách điệu, mỏng.
                    p 2. Kết hợp với các tone màu pastels
                    p 3. Mang các yếu tố liên quan tới phụ nữ, hoa và các sản phẩm thời trang (son môi, giày cao gót,..)
        .bai-viet-border2.bai-viet-down
            p.small 8.Phong cách thiết kế phẳng
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Phong cách này cũng được coi là một nhánh khác của thiết kế tối giản: yêu cầu sử dụng tối giản các màu sắc và thành tố trong thiết kế.
                    p.bai-viet-weight Đặc tính:
                    p 1. Sử dụng số lượng ít các màu sắc
                    p 2. Đề cao sự đơn giản, chủ nghĩa “less is more”
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                        img.img-fluid(src="img/baiviet/baiviet1-6.jpg", alt="baiviet4")
        .bai-viet-border1.bai-viet-down
            p.small 9.Phong cách thiết kế vui nhộn
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-7.jpg", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Phong cách này đem lại cho ngày nhìn cảm giác tươi tắn, năng động, và dễ dàng bị thu hút bởi cách sử dụng màu sắc của mình. Thường được kết hợp với các yếu tốt hoạt hình hoặc vẽ minh họa.
                    p.bai-viet-weight Đặc tính:
                    p 1. Thường được kết hợp động vật hoặc con người dưới dạng hoạt hình
                    p 2. Sử dụng nhiều màu sắc bắt mắt
        .bai-viet-border2.bai-viet-down
            p.small 10.Phong cách thiết kế hình học
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Phong cách này hướng tới việc sử dụng các đường thẳng, các hình khối để thiết kế. Là sự kết hợp giữa chữ nhật, hình vuông, tam giác và nhiều khối khác...
                    p.bai-viet-weight Đặc tính:
                    p 1. Sử dụng đa phần là các đường thẳng
                    p 2. Áp dụng tính đối xứng
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                        img.img-fluid(src="img/baiviet/baiviet1-8.jpg", alt="baiviet4")
        .bai-viet-border1.bai-viet-down
            p.small 11.Phong cách thiết kế vui nhộn
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-7.jpg", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Phong cách này đem lại cho ngày nhìn cảm giác tươi tắn, năng động, và dễ dàng bị thu hút bởi cách sử dụng màu sắc của mình. Thường được kết hợp với các yếu tốt hoạt hình hoặc vẽ minh họa.
                    p.bai-viet-weight Đặc tính:
                    p 1. Thường được kết hợp động vật hoặc con người dưới dạng hoạt hình
                    p 2. Sử dụng nhiều màu sắc bắt mắt
        .bai-viet-border2.bai-viet-down
            p.small 12.Phong cách thiết kế trừu tượng
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Trừu tượng là phong cách thiết kế tạo ra những góc nhìn độc lập riêng biệt của vật thể so với ngoài đời. Để có được sản phẩm thiết kế theo phong cách trừu tượng, bạn cần kết hợp các yếu tố về màu sắc, hình khối dựa trên tư duy và lối tiếp cận của chính designer, khách hàng hoặc cả hai.
                    p.bai-viet-weight Đặc tính:
                    p 1. Là đại diện “nghệ thuật, trừu tượng” cho một sự vật, nội dung cụ thể
                    p 2. Thể hiện diễn giải cá nhân của người thiết kế
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                        img.img-fluid(src="img/baiviet/baiviet1-2.png", alt="baiviet2")
        .bai-viet-border1.bai-viet-down
            p.small 13.Phong cách thiết kế tối giản
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img
                        img.img-fluid(src="img/baiviet/baiviet1-3.png", alt="baiviet3")
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text
                    p Phong cách thiết kế tối giản là kỹ thuật đòi hỏi sử dụng khoảng trống một cách tinh tế. Phong cách này đề cao việc loại bỏ những element không cần thiết trong thiết kế vì mục tiêu truyền đạt thông điệp một cách hiệu quả nhất.
                    p.bai-viet-weight Đặc tính:
                    p 1. Sử dụng số lượng ít các màu sắc
                    p 2. Sử dụng các layout đơn giản tinh tế
                    p 3. Trái ngược với phong cách trừu tượng
        .bai-viet-border2.bai-viet-down
            p.small 14.Phong cách thiết kế nghệ thuật khái niệm - Conceptual art
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-text2
                    p Conceptual art là một nhánh khác của phong cách thiết kế minh họa, và nó là những mô tả ẩn dụ tinh tế cho các ý tưởng thể hiện bằng hình ảnh. Phong cách này đòi hỏi người thiết kế phải tưởng tượng và sáng tạo nhiều hơn trong quá trình thực hiện.
                    p.bai-viet-weight Đặc tính:
                    p 1. Được sử dụng rất nhiều trong hoạt hình và game
                    p 2. Biến các suy nghĩ trừu tượng mờ của người thiết kế thành thứ người xem có thể nhìn thấy và hiểu được.
                .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6.bai-viet-img2
                    a(href="")
                        img.img-fluid(src="img/baiviet/baiviet1-4.jpg", alt="baiviet4")
        