extends template-part/layoutmuavip.pug
block style
    link(rel="stylesheet", href="css/muavip.css")
block content
    .mua-vip-content.container-md
        .de-muc.d-flex.justify-content-center
            p.p1.large 3 GÓI TÀI NGUYÊN
            p.p2.large &nbsp;VÔ TẬN
        .ba-goi-tai-nguyen
            .row
                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4.d-flex.justify-content-center.goi-tai-nguyen-frame.mien-phi-frame
                    .mien-phi.d-flex.align-items-center
                        .box
                            .ten-goi.d-flex.justify-content-center
                                p.normal MIỄN PHÍ
                            .goi-tai-nguyen-content
                                .mua-vip-price.d-flex.justify-content-center
                                    p.large Miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +2,661,000 VECTOR miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +3,001,000 PSD miễn phí
                                .d-flex.justify-content-center               
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,039,000 PHOTOS miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +4,292,000 ICON miễn phí
                            .link-button.d-flex.justify-content-center
                                a(href="#")
                                    .mien-phi-button-index.mien-phi-button.goi-button.d-flex.justify-content-center.link-toi-dang-nhap
                                        p.small ĐĂNG NHẬP
                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4.d-flex.justify-content-center.goi-tai-nguyen-frame.svip-frame
                    .svip.d-flex.align-items-center
                        .box
                            .ten-goi.d-flex.justify-content-center
                                p.normal SVIP
                            .goi-tai-nguyen-content
                                .mua-vip-price.d-flex.justify-content-center
                                    p.large 150.000đ
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +2,661,000 VECTOR miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +3,001,000 PSD miễn phí
                                .d-flex.justify-content-center               
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,039,000 PHOTOS miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +4,292,000 ICON miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Toàn bộ tài nguyên miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,961,000 VIP VECTOR
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +2,691,000 VIP PSD  
                                .d-flex.justify-content-center           
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,736,000 VIP PHOTOS
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +3,032,000 VIP ICON  
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Toàn bộ tài nguyên VIP  
                                .d-flex.justify-content-center               
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Không giới hạn số lần tải
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Không quảng cáo
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Được nhân viên hỗ trợ
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p Thường xuyên update 
                            .link-button.d-flex.justify-content-center
                                a(href="thanhtoansvip.html")
                                    .svip-button-index.svip-button.goi-button.d-flex.justify-content-center
                                        p.small MUA NGAY
                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4.d-flex.justify-content-center.goi-tai-nguyen-frame.vip-frame
                    .vip.d-flex.align-items-center
                        .box
                            .ten-goi.d-flex.justify-content-center
                                p.normal VIP
                            .goi-tai-nguyen-content
                                .mua-vip-price.d-flex.justify-content-center
                                    p.large 100.000đ
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +2,661,000 VECTOR miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +3,001,000 PSD miễn phí
                                .d-flex.justify-content-center               
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,039,000 PHOTOS miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +4,292,000 ICON miễn phí
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,961,000 VIP VECTOR
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +2,691,000 VIP PSD  
                                .d-flex.justify-content-center           
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +1,736,000 VIP PHOTOS
                                .d-flex.justify-content-center
                                    .column-content.d-flex
                                        img(src="img/checkmark.png", alt="checkmark")
                                        p +3,032,000 VIP ICON  
                            .link-button.d-flex.justify-content-center                        
                                a(href="thanhtoan.html")
                                    .mien-phi-button-index.vip-button.goi-button.d-flex.justify-content-center
                                        p.small MUA NGAY
    .sale
        a(href="")
            .sale-box
                img.img-fluid(src="img/muavipsale1.jpg", alt="")
            .col-5.col-sm-5.col-md-4.col-lg-4.col-xl-4.sale-text
                img.img-sale.img-fluid(src="img/muavip/sale1.png", alt="")
    .sale.sale2
        a(href="")
            .sale-box
                img.img-fluid(src="img/muavipsale2.png", alt="")
            .col-4.col-sm-4.col-md-4.col-lg-3.col-xl-3.sale-text2
                img.img-sale.img-fluid(src="img/muavip/sale2.png", alt="")
    
            
    