extends template-part/layout2.pug
block style
    link(rel="stylesheet", href="css/baiviet.css")
block title
    title Về chúng tôi
block tieu-de-trang-text
    p.xlarge Về chúng tôi
block chu-thich-trang-text
    .d-flex.justify-content-center
        p Giới thiệu về Unlimitted và phương thức hoạt động
block content
    .bai-viet.container-md
        .bai-viet-logo.d-flex.justify-content-center
            .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2
                img.img-fluid(src="img/logo.png", alt="")
        .bai-viet-border1
            p.small 1.Unlimmited là gì?         
            .bai-viet-text
                p là một công cụ tìm kiếm giúp cho những nhà thiết kế web và đồ họa tiếp cận với các file ảnh, vectors, hình minh họa và các files PSD để phuc vụ cho việc sáng tạo . Freepik cung cấp hàng ngàn files miễn phí với các format AI, SVG, JPG và EPS Với các website và các thiết kế được yêu cầu ngân sách thấp hoặc gần như bằng 0, đây thực sự là một giải pháp không tồi. Theo những nhà sáng lập website, Freepik đặt mục tiêu là tập hợp những hình họa chất lượng  trên Internet và khiến chúng trở nên dễ dàng tiếp cận, bạn sẽ không phải tốn thời gian tìm kiếm trên hàng trăm websites để tìm được những đối tượng phù hợp phục vụ cho việc sáng tạo các tác phẩm của riêng mình.
        .bai-viet-border2.bai-viet-down
            p.small 2.Unlimitted hoạt động như nào        
            .bai-viet-text
                p Hệ  thống sẽ  tìm những trang web mới để lưu trữ ảnh và vectors miễn phí. Hình ảnh có thể được sắp xếp theo chất lượng  để bạn dễ dàng tiếp cận. Khi bạn sử dụng kết quả đưa ra sẽ dẫn về địa chỉ gốc của hình ảnh. Tác giả của hình họa đó sẽ được credit và dẫn link về website của họ
        .bai-viet-border1.bai-viet-down
            p.small 3.Tìm kiếm trên Unlimmited    
                .bai-viet-text
                    p Khi bạn tìm từ khóa “terrier”, công cụ sẽ trả về một bộ kết quả bao gồm 69 ảnh từ chất lượng tốt đến bình thường và 11 vector.  Và hay nhất là, tất cả đều miễn phí. Khi bạn click vào một thumbnail của hình ảnh, bạn sẽ tìm thấy thông tin bản quyền, nguồn của bức ảnh, số lần ảnh được download, thông tin về kích thước cũng như độ phân giải. Nếu bạn có thời gian và không thực sự tìm gì, bạn có thể tìm hình họa đang được tìm kiếm nhiều nhất để xem xu hướng, “gu” thẩm mỹ của người dùng để rút kinh nghiệm cho thiết kế của mình