extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/blogdetails.css")
block title
    title | Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh Gato

block heading
    h1.heading-primary.heading-primary--white Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh Gato
block title-2
    a(href="")
        p.banner-common__title-2.banner-common__title-2--active Tin Tức


block content
    .detail-blog
        .container
            .row
                .col-xl-9.col-lg-9.col-md-12.col-sm-12
                    .detail-blog__infor
                        h2.infor__heading-secondery Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh gato đúng cách
                        p.infor__time By 
                            span Admin 
                            |· 27/04/2020
                        p.infor__text
                            span Cách bảo quản bánh Gato 
                            | như thế nào? Bánh kem sinh nhật bảo quản được bao lâu là câu hỏi của nhiều người. Tưởng chừng một vấn đề không mấy khó khăn này nhưng nếu không biết cách thì không hề dễ dàng đâu nhé. Bài viết hôm nay chúng tôi sẽ bật mí cho các bạn các cách giữ bánh gato ngon và lâu hơn, rất dễ thực hiện, các bạn cùng theo dõi ngay dưới đây nhé.
                        .infor__photo
                            img(src="./img/blogdetails-1.png", alt="Cách bảo quản bánh Gato ngon và lâu hơn như thế nào?" title="Cách bảo quản bánh Gato ngon và lâu hơn như thế nào?")
                            h3.infor__heading-tertiary Cách bảo quản bánh Gato ngon và lâu hơn như thế nào?
                        p.infor__text
                            span Bánh sinh nhật 
                            | hay bánh kem ngọt, bông lan, bánh gato là tên gọi chung của bánh sinh nhật, một loại bánh rất được yêu thích và không thể thiếu mỗi dịp sinh nhật. Đây cũng là loại bánh thơm ngon, dễ ăn với rất nhiều hương vị, thể loại khác nhau.
                        p.infor__text Bình thường, chúng ta ra một tiệm bánh sinh nhật để mua bánh thì sẽ dùng luôn trong ngày. Tuy nhiên, cũng có rất nhiều trường hợp, bánh mua về chưa cần dùng đến ngay thì việc bảo quản là cần thiết. Điều này cũng đúng trong trường hợp bạn có một tiệm bánh riêng, nướng bánh xong nhưng sử dụng chưa hết hay chưa sử dụng đến thì cách bảo quản bánh ngọt thế nào để vẫn đảm bảo được chất lượng của bánh là điều bạn cần biết.
                        p.infor__text
                            span Cách giữ bánh gato ngon và lâu hơn 
                            | không những để đảm bảo độ ngon, mùi vị của bánh, mà quan trọng là chất lượng, độ an toàn vệ sinh thực phẩm được đảm bảo. Trường hợp nếu bánh sinh nhật không được bảo quản tốt, nó sẽ rất nhanh hỏng, khô và biến chất do gặp phải các điều kiện không thuận lợi như thời tiết, nhiệt độ hay sự xâm nhập của các loài côn trùng như ruồi, gián, chuột…
                        .infor__photo
                            img(src="./img/blogdetails-2.png", alt="Bánh vừa nướng xong không nên bọc vào ngay" title="Bánh vừa nướng xong không nên bọc vào ngay")
                            h3.infor__heading-tertiary Bánh vừa nướng xong không nên bọc vào ngay
                        p.infor__text Sau khi bánh đã được bọc kín, tiếp theo, để giữ bánh được lâu và ngon hơn, hãy để bánh ở nơi khô ráo, thoáng mát, tránh ánh sáng mặt trời trực tiếp và nhiệt độ quá cao.
                        p.infor__text Trường hợp nhiệt độ quá nóng, cách bảo quản bánh Gato được lâu thì tốt nhất nên để vào tủ lạnh. Cách bảo quản bánh Gato trong tủ lạnh này sẽ giúp giữ bánh được vài ngày. Nhưng chú ý là trước khi cho bánh vào tủ lạnh phải đảm báo bánh đã được bọc kín và để  riêng biệt với các loại thực phẩm khác có trong tủ lạnh nhé. Bởi nếu để gần bánh sẽ dễ hấp thụ mùi của các loại thực phẩm khác, ảnh hưởng đến chất lượng cũng như mùi vị của bánh.
                        p.infor__text Hy vọng bài viết đã cung cấp cho bạn đọc những thông tin bổ ích về cách bảo quản bánh kem sinh nhật đúng cách, thơm ngon nhất. Bên cạnh việc tư vấn về các sản phẩm bánh kẹo, Siêu thị Aloola cũng là địa chỉ cung cấp các sản phẩm chăm sóc sức khỏe và làm đẹp hàng đầu hiện nay, là kênh trực tuyến online chuyên cung cấp các tin tư vấn sức khỏe và tư vấn làm đẹp tốt nhất, sát thực nhất cho mọi người, được cập nhật liên tục từng ngày.







                    
                    form.detail-blog__form
                        p.form__title Để lại bình luận
                        .form__box
                            .group-input
                                label(for="name") Tên
                                input(type="text" id="name" name="name")
                                .error Vui lòng nhập tên
                            .group-input
                                label(for="email") Email
                                input(type="email" id="email" name="email")
                                .error Vui lòng nhập email
                        .group-input
                                label(for="title") Tiêu đề
                                input(type="text" id="title" name="title")
                                .error Vui lòng nhập tiêu đề
                        .group-input.textarea
                            label(for="note") Nội dung
                            textarea(name="note", cols="30", rows="5" id="note")
                            .error Vui lòng nhập nội dung
                        button(type="submit").btn--note#blogSubmit Bình luận
                        .success Gửi thành công
                .col-xl-3.col-lg-3.col-md-12.col-sm-12
                    .details-blog__sidebar 
                        form.sidebar__form
                            input(type="text" placeholder="Tìm kiếm bài viết")
                            i.fas.fa-search
                        .sidebar__topic 
                            p.sidebar__title Chủ đề
                            a(href="#").sidebar__link Bánh sinh nhật
                            a(href="#").sidebar__link Bánh mì
                            a(href="#").sidebar__link Cách làm bánh
                            a(href="#").sidebar__link Khuyến mại
                            a(href="#").sidebar__link Mã giảm giá

                        .sidebar__blog
                             p.sidebar__title Tin tức nổi bật
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./img/popula-1.png", alt="blog")
                                .sidebar__box
                                    p Lạ lùng thay món bánh su trứng muối thân tre độc đáo
                                    p 
                                        i.far.fa-clock 
                                        span 27/04/2020
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./img/popula-2.png", alt="blog")
                                .sidebar__box
                                    p Lạ lùng thay món bánh su trứng muối thân tre độc đáo
                                    p 
                                        i.far.fa-clock 
                                        span 27/04/2020
                             a(href="").sidebar__blog__link
                                .sidebar__photo
                                    img(src="./img/popula-3.png", alt="blog")
                                .sidebar__box
                                    p Lạ lùng thay món bánh su trứng muối thân tre độc đáo
                                    p 
                                        i.far.fa-clock 
                                        span 27/04/2020

                        .sidebar__tag
                            p.sidebar__title Tag
                            a(href="#") Bánh Pizza 
                            a(href="http://") Bánh Mì
                            a(href="http://") Bánh Cake
                            a(href="http://") Bánh Nướng
                            a(href="http://") Bánh Sinh Nhật








block script
    script(src="./js/blogdetails.js")