extends template-part/layout.pug

block style 
    link(rel="stylesheet", href="./css/slick/slick.css")
    link(rel="stylesheet", href="./css/slick/slick-theme.css")
    link(rel="stylesheet", href="./css/cart.css")

block title
    title | Giỏ Hàng
block heading
    h1.heading-primary.heading-primary--white Giỏ Hàng
block title-2
    a(href="")
        p.banner-common__title-2.banner-common__title-2--active Giỏ Hàng

block content
    main.cart
        .container
            .row
                .col
                    .cart__list(data-aos="fade-up" data-aos-delay="100")
                        table#cart__table
                            
                                tr
                                    th.cart__delete Xóa
                                    th
                                    th Tên Sản Phẩm
                                    th Giá
                                    th Số Lượng
                                    th Tổng Giá
                                tr.cart__row
                                    td 
                                        i.far.fa-trash-alt
                                    td 
                                        .cart__photo
                                            img(src="./img/cart-1.png", alt="Bánh Pizza", title="Bánh Pizza")
                                    td Bánh Pizza
                                    td 150,000 đ
                                    td 
                                        .cart__select                                    
                                            i.fas.fa-minus
                                            span.details__number-basket 1                                
                                            i.fas.fa-plus
                                    td 150,000 đ
                    .cart__money
                        .row.justify-content-end
                            .col-xl-4.col-lg-5.col-md-6.col-sm-9.col-12
                                .money__content
                                    p.money__title Thành Tiền
                                    .money__price
                                            p Bánh Humburger x
                                                span (1)
                                            p 150,000 đ
                                    .money__price
                                            p Bánh Pizza x
                                                span (1)
                                            p 50,000 đ
                                    .money__price
                                            p Bánh Phô Mai x
                                                span (1)
                                            p 50,000 đ
                                    p.money__car 
                                        span Phí vận chuyển
                                        span Miễn phí
                                    .money__total 
                                        p Tổng cộng:
                                        p 250,000 đ
                                    a(href="./checkout.html").money__pay Tiến Hành Thanh Toán







block script
    script(src="./js/cart.js")