extends template-part/layout.pug

block style
    link(rel="stylesheet", href="./css/error.css")
block title
            title | Error
block banner

block content
    .success
        .container
            .row
                .col
                    .success__photo
                        img(src="./img/success-3.png", alt="Không tìm thấy trang")
                    h1.success__heading Trang này không khả dụng 
                    p.success__text Liên kết bạn truy cập có thể bị hỏng hoặc trang có thể đã bị gỡ.
                        
                    form.success__form
                        .group-input
                            input(type="text" placeholder="Tìm kiếm...")
                            button
                                i.fas.fa-search
                    .success__home
                        img(src="./img/success-2.svg", alt="back")
                        a(href="./index.html") Quay lại Trang chủ