extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/product.css")
block title
        title | Sản Phẩm
block heading
    h1.heading-primary.heading-primary--white Sản Phẩm
block title-2
    a(href="")
        p.banner-common__title-2.banner-common__title-2--active Sản Phẩm
block content
    
        main.product
            .container
                .row
                    .col-xl-3.col-lg-3
                        #product__filter-icon
                            i.fas.fa-filter
                        .product__background
                        form(action="index.html" method="GET" data-aos="fade-up")#product__filter.isClose
                        
                            
                            .product__section
                                .product__section-header 
                                    h4.product__section__title LOẠI BÁNH
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="loaiBanh" id='banhKem' value='banhKem')
                                        label(for="banhKem") Bánh Kem
                                    .product__checkbox-group
                                        input(type="checkbox", name="loaiBanh" id='banhSinhNhat' value='banhSinhNhat')
                                        label(for="banhSinhNhat") Bánh sinh nhật
                                    .product__checkbox-group
                                        input(type="checkbox", name="loaiBanh" id='anNhanh' value='anNhanh')
                                        label(for="anNhanh")    Ăn nhanh
                                    .product__checkbox-group
                                        input(type="checkbox", name="loaiBanh" id='bieuTang' value='bieuTang')
                                        label(for="bieuTang")    Biếu tặng
                            .product__section
                                .product__section-header 
                                    h4.product__section__title KHOẢNG GIÁ
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='duoi50' value='duoi50')
                                        label(for="duoi50") Dưới 50,000
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='tu50den100' value='tu50den100')
                                        label(for="tu50den100") Từ 50,000 đến 100,000
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='tu100den500' value='tu100den500')
                                        label(for="tu100den500")    Từ 100,000 đến 500,000
                                    .product__checkbox-group
                                        input(type="checkbox", name="khoangGia" id='tren500' value='tren500')
                                        label(for="tren500")    Trên 500,000
                            .product__section
                                .product__section-header 
                                    h4.product__section__title NÂNG CAO
                                    span
                                    i.fas.fa-chevron-right
                                .product__wraper
                                    .product__checkbox-group
                                        input(type="checkbox", name="nangCao" id='maGiamGia' value='maGiamGia')
                                        label(for="maGiamGia") Mã giảm giá
                                    .product__checkbox-group
                                        input(type="checkbox", name="nangCao" id='khuyenmai' value='khuyenmai')
                                        label(for="khuyenmai") Khuyến Mại
                                    .product__checkbox-group
                                        input(type="checkbox", name="nangCao" id='bannhieunhat' value='bannhieunhat')
                                        label(for="bannhieunhat")    Bán Nhiều Nhất
                                    .product__checkbox-group
                                        input(type="checkbox", name="nangCao" id='sanphanmoi' value='sanphanmoi')
                                        label(for="sanphanmoi")    Sản phẩm mới
                            .product__border
                            .product__action
                                button.product__btn Áp dụng
                                button.product__btn.product__btn--white Bỏ lọc
                            #product__close
                                p Đóng
                    .col-xl-9.col-lg-9.col-md-12
                        .product__sort(data-aos="fade-up")
                            p.product__sort-title Sắp xếp theo:
                            select(name="product-sort")#product__select
                                option(value="default" select="selected") Mặc định
                                option(value='az') A đến Z
                                option(value='za') Z đến A
                                option(value='lowHigh') Giá từ thấp đến cao
                                option(value='highLow') Giá từ cao đến thấp
                            i.fas.fa-chevron-right.product__sort-icon
                        .product__list
                            .row
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="0")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-hamburger.jpg", alt="./img/banh-hamburger" title="Bánh Hamburger")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Hamburger
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 50,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="100")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-4.jpg", alt="Banh Mì" title="Bánh Mì")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Mì
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 30,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="200")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-5.jpg", alt="Banh Sinh Nhật" title="Bánh Sinh Nhật")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Sinh Nhật
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 120,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus   
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="0")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-7.jpg", alt="Banh Cupcake" title="Bánh Cupcake")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Cupcake
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 50,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="100")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-2.jpg", alt="Banh-Cupcake" title="Bánh Cupcake")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Cupcake
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 30,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="200")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-8.jpg", alt="Banh Tiramisu" title="Bánh Tiramisu")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Tiramisu
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 70,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="0")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-6.jpg", alt="Banh Pizza" title="Bánh Pizza")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Pizza
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 150,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="100")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-3.jpg", alt="Banh Bao" title="Bánh Bao")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Bao
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 40,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="200")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-9.jpg", alt="Banh-Bông Lan" title="Bánh Bông Lan")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Bông Lan
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 50,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="0")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-10.jpg", alt="Banh Phô Mai" title="Bánh Phô Mai")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Phô Mai
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 50,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="100")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-11.jpg", alt="Banh Bông Cuộn" title="Bánh Bông Cuộn")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Bông Cuộn
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 70,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
                                    .best-slice__card(data-aos="fade-up" data-aos-delay="200")
                                        .best-slice__photo
                                            a(href="./details.html")
                                                img(src="./img/banh-13.jpg", alt="Banh Bông Cuộn" title="Bánh Bông Cuộn")
                                        .best-slice__content
                                            a(href="./details.html")
                                                h3.best-slice__heading  Bánh Trứng
                                            .best-slice__rate
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .best-slice__price 80,000 đ
                                            a(href="./cart.html").best-slice__button
                                                span Thêm Vào Giỏ
                                                i.fas.fa-cart-plus
                                .col
                                    .product__pages
                                        a(href="#").active 1
                                            
                                        a(href="#") 2
                                            
                                        a(href="#") 3
                                        





block script
    script(src="./js/product.js")
    
        
        
