extends template-part/layout.pug

block style
    
    
    link(rel="stylesheet", href="./css/success.css")

block title
            title | Success
block banner

block content
    .success
        .container
            .row
                .col
                    .success__photo(data-aos="fade-up" data-aos-delay="100")
                        img(src="./img/success-1.svg", alt="Thành công")
                    h1.success__heading(data-aos="fade-up" data-aos-delay="200") Bạn thanh toán thành công!
                    p.success__text(data-aos="fade-up" data-aos-delay="300") Cảm ơn bạn đã thanh toán. Đơn hàng của bạn chuẩn bị gửi
                        |
                        br
                        | vui lòng kiểm tra email đăng kí.
                    form.success__form(data-aos="fade-up" data-aos-delay="400")
                        .group-input
                            input(type="text" placeholder="Tìm kiếm...")
                            button
                                i.fas.fa-search
                    .success__home(data-aos="fade-up" data-aos-delay="500")
                        img(src="./img/success-2.svg", alt="back")
                        a(href="./index.html") Quay lại Trang chủ
  
                    