.banner {
    position: relative;
    max-width: 1440px;
    height: 562px;
    margin: auto;
    background-image: url(../img/banner-blog.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Verdana";
    font-weight: bold;
}

.banner__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.banner__title {
    position: absolute;
    top: 259px;
    right: 463px;
    color: white;
    font-size: 4.2rem;
    font-weight: bold;
}

.banner__subtitle {
    position: absolute;
    bottom: 13px;
    left: 15px;
    font-size: 2rem;
    line-height: 2.4rem;
    color: white;
    border-left: 4px solid white;
    padding-left: 11px;
}

.banner__subtitle--align {
    margin-bottom: 10px;
}

.main {
    max-width: 1440px;
    margin: auto;
    background-color: #f0f2f5;
    padding-bottom: 50px;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 57px;
    padding: 72px 0 43px;
}

.title--regular {
    font-weight: 400;
    padding-left: 14px;
}

/* post */
.post {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 36px;
}

.post__main {
    display: grid;
    grid-template-columns: 414px 414px;
    grid-template-rows: repeat(3, auto);
    gap: 44px 24px;
}

.post__title {
    grid-column: 1 / span 2;
    background-color: #fff;
    margin-bottom: 19px;
}

.post__title-body {
    padding: 0 25px 7px;
}

.post__title-h1 {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin: 25px 0 9px;
}

.post__title-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 27px;
}

.post__title-link {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.post__title-link i {
    font-size: 1.2rem;
    padding-left: 12px;
}

.post__subtitle-content {
    background-color: #fff;
    padding: 16px 25px 7px;
}

.post__subtitle-content h1 {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post__subtitle-content p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.post__subtitle-content a {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.post__subtitle-content i {
    font-size: 1.2rem;
    margin-left: 12px;
}

/* info */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__founder {
    background-color: #fff;
}

.info__founder-main {
    padding: 0 23px;
}

.info__founder-main-name {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-top: 15px;
}

.info__founder-main-description {
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #9b9b9b;
    font-weight: 400;
}

.info__founder-main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 15px 0 13px;
    text-indent: 20px;
}

.info__founder-main-icon {
    display: flex;
    justify-content: flex-end;
}

.info__founder-main-social:nth-child(2) {
    margin: 0 8px 0 12px;
}

.info__founder-main-social i {
    color: var(--gray-icon);
    font-size: 2.2rem;
}
/* ----------- */
.info__search {
    background-color: #fff;
    padding: 0 40px;
}

.info__search-title {
    text-align: center;
    margin: 8px 0 9px;
    font-size: 2rem;
    line-height: 2.7rem;
}

.info__search-line {
    max-width: 100%;
    height: 1px;
    background-color: #ced0d4;
}

.info__search-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 22px 0 78px;
}

.info__search-group-btn {
    position: absolute;
    left: 22px;
    font-size: 1.8rem;
    color: #65676b;
    outline: none;
    padding: 0;
}

.info__search-group-btn:focus {
    outline: none;
}

.info__search-group-btn i:focus {
    outline: none;
}

.info__search-group-input {
    width: 100%;
    height: 40px;
    background-color: #f0f2f5;
    border-radius: 40px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0 34px 0 49px;
    outline: none;
}

.info__search-group-btn,
.info__search-group-input {
    border: none;
}

.info__search-subtitle {
    text-align: center;
    font-size: 2rem;
    line-height: 2.7rem;
    padding-bottom: 40px;
}

.info__search-popular {
    display: flex;
    margin-bottom: 62px;
}

.info__search-popular--border {
    border-radius: 4px;
}

.info__search-popular-short {
    margin-left: 14px;
}

.info__search-popular-short a {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: bold;
}

.info__search-popular-short a:hover {
    color: black;
}

.info__search-popular-short p {
    color: #666666;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.info__search-follow {
    position: relative;
}

.info__search-follow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.info__search-follow-content {
    position: absolute;
    bottom: 14px;
    left: calc(50% - 115.5px);
    color: white;
}

.info__search-follow-content p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin-bottom: 9px;
}

.info__search-follow-social {
    display: flex;
    justify-content: center;
}

.info__search-follow-social--link i {
    color: white;
    font-size: 2.2rem;
}

.info__search-follow-social--link {
    margin-right: 12px;
}

.info__search-follow-social--link:last-child {
    margin: 0;
}

/* page */
.page-title {
    font-size: 2.6rem;
    text-align: center;
    margin: 121px 0 49px;
}
