<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/png' sizes='16x16' href='./img/favicon.png')
    link(rel="stylesheet" href="./library/fontawesome/fontawesome-free-5.15.2-web/css/all.min.css")
    link(rel="stylesheet" href="./library/bootstrap-5.0.0-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./css/main.css")

    block title
      title Frequency
  body
    include loading.pug
    header
      include nav.pug

      block banner

    block content

    include footer 

    script(src="./library/jquery-3.5.1.min.js")
    script(src="./library/bootstrap-5.0.0-dist/js/bootstrap.min.js")
    script(src="./js/main.js")

    block javascript


