@import "../../root.scss";

.product-row {
    padding-left: $fifteen-pixel;
    padding-right: $fifteen-pixel;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.products-showcase {
    & .title {
        margin-bottom: $fifty-pixel;
        @include flex-start-between;
        text-transform: uppercase;
        font-weight: $bold-size;
    }

    & .see-more-btn-text {
        color: $dark-main-color;
        font-weight: 400;
    }
}

@media (min-width: $max-width-container) {
    .product {
        margin-right: $zero-pixel;
    }
}

@media (max-width: 400px) {
    .products-showcase {
        & .title {
            font-size: $twenty-pixel;
        }

        .see-more-btn-text {
            font-size: $ten-pixel;
        }
    }
}

@media (max-width: $small-devices-width) {
    .products-showcase {
        & .title {
            margin-bottom: $twenty-pixel;
        }

        & .product-row {
            margin-right: $five-pixel;
        }
    }
}