*{
    margin: 0;
    padding: 0;
}
.login{
    height: 100%;
    width: 100%;
    background-color: black;
    background-size: cover;
    position: absolute;
}
.login-box{
    width: 320px;
    height: 500px;
    position: relative;
    margin:0 auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.login-logo{
    width: 200px;
    margin: 20px auto 0px auto;
}
.login-button-box{
    width: 220px;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    background-color: #002E74;
}
.login-button{
    padding: 07px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position:relative;
    color: white;
    font-weight: bold;
}
.login-button:focus {     
    outline: 0;     
    outline-style: none;     
    outline-width: 0; 
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#134A9B,#07D2FE);
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons{
    margin: 15px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 250px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#134A9B,#07D2FE);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-weight: bold;
    color: white;
}
.check-box{
    margin: 15px 10px 15px 0;
    width: 100%;
}
.check-box-text{
    color: #777;
    bottom: 57px;
    left: 20px;
    position: absolute;
}
#login-click{
    left: 33px;
}
#register-click{
    left: 450px;
    top: 150px;
}