@import "./root.scss";

// Sidebar

.left-sidebar {
    @include border-w-radius;

    & .header {
        @include flex-center;
        margin: $twenty-pixel;
    }

    & .nav-sidebar {
        margin: $twenty-pixel;
    }
}

// User Info 

.user-info {
    margin-left: $ten-pixel;
}

.avatar {
    max-width: $fifty-pixel;
}

.user-name {
    font-weight: bold;
}

.break-line {
    height: $one-pixel;
    background-color: $lighter-grey-color;
}

.edit-profile {
    color: $text-lighter-white;
    font-size: $twelve-pixel;
}

// Nav Item

.nav-sidebar {
    display: grid;
    grid-row-gap: $fifteen-pixel;
}

.nav-item {
    cursor: pointer;

    &:hover {
        color: $main-color;
    }
}

.active {
    color: $main-color;
    font-weight: bold;
}

.main-content {

    & .nav-tab {
        border-bottom: 1px solid $lighter-grey-color;
        @include border-w-radius;
    }

    & .nav {
        display: grid;
    }

    & .nav-item {
        text-align: center;
    }

    & .nav-pills .nav-link.active {
        background-color: transparent;
        color: $main-color;
        border-radius: $zero-pixel;
        border-bottom: 2px solid $main-color;
    }

    & .nav-link {
        display: block;
        padding-top: $twenty-pixel;
    }

    & .tab-content {
        margin-top: $forty-pixel;
    }

    .item,
    .item-small {
        padding: $sixteen-pixel $forty-pixel;
        @include border-w-radius;
        color: $text-dark;
        font-weight: normal;
        margin-bottom: $thirty-pixel;
    }

    .header-item {
        @include flex-center-between;
        padding-bottom: $sixteen-pixel;
        border-bottom: 1px solid $lighter-grey-color;
    }

    .full-details,
    .order-number {
        font-weight: bold;
        color: $main-color;
    }

    .item-info-wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding-top: $twenty-pixel;
        align-items: center;
    }

    .product-info-wrapper {
        @include flex-center;
    }

    .thumbnails {
        max-width: 150px;
    }

    .product-info {
        margin-left: $twenty-pixel;
    }

    .name {
        font-weight: bold;
        color: $main-color;
    }

    .price {
        font-weight: bold;
        text-align: right;
    }

    //Small Width Item

    .status {
        font-weight: bold;
    }

    .item-small {
        display: none;

        & .item-info-wrapper {
            display: block;
        }

        & .product-info {
            margin: $zero-pixel;
        }

        & .price {
            text-align: left;
        }
    }
}

// Large Width Item


@media (max-width: $medium-devices-width) {

    .main-content .tab-pane .item,
    .main-content .tab-pane .item-small {
        padding: $sixteen-pixel $twenty-pixel;
    }

    .main-content {
        margin-top: $thirty-pixel;

        & .tab-content {
            margin-top: $twenty-pixel;
        }
    }
}

@media (max-width: $closest-medium-devices-width) {
    .main-content {
        .item {
            display: none;
        }

        .item-small {
            display: block;
        }
    }

}