@import "./root.scss";

.main-content {
  .break-line {
    width: 1px;
    background-color: $lighter-grey-color;
    height: 100%;
  }
}

.nav-pills {
  grid-template-columns: 1fr 1fr 1fr;
}

.setting-box {
  @include border-w-radius;
  padding: $thirty-pixel $forty-pixel;
  color: $text-dark;
  font-weight: normal;
}

.item-row {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  margin-bottom: $twenty-pixel;
}

.password-wrapper {
  @include flex-center-between;

  & .text-btn {
    margin-left: $sixteen-pixel;
  }
}

.text-btn {
  white-space: nowrap;
}

.update-btn {
  grid-column: 2/2;
  max-width: 120px;
}

.gender-input-wrapper {
  @include flex-center-between;
}

.birthday-input-wrapper {
  @include flex-center-between;

  & .form-control {
    width: calc(33% - 15px)
  }
}

#address-setting {
  & .setting-box {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: $forty-pixel;
  }

  & .receive-person {
    font-weight: bold;
  }

  & .header {
    @include flex-center-between;
  }

  & .phone {
    margin: $twenty-pixel $zero-pixel;
  }
}

#payment-methods-setting {
  & .setting-box {
    padding: $twenty-pixel;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-gap: $twenty-six-pixel;
  }

  & .payment-item {
    @include flex-center-between;
  }
}

.logo-methods {
  width: 60px;
}

.add-new-address-btn,
.add-new-payment-btn {
  max-width: 120px;
  margin-top: $twenty-pixel;
}


// Styling radio button

.radio-wrapper {
  & label {
    margin: $zero-pixel;
    line-height: $nineteen-pixel;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

input[type=radio] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type=radio]+label .radio-dot {
  height: $sixteen-pixel;
  width: $sixteen-pixel;
  border: 1px solid $main-color;
  margin-right: $ten-pixel;
  border-radius: 50%;
  position: relative;
}

input[type=radio]+label .radio-dot:before {
  height: $ten-pixel;
  width: $ten-pixel;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=radio]:checked+label .radio-dot:before {
  background: $main-color;
  padding: $five-pixel;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio]+label .radio-dot:before {
  border-radius: 50%;
}

@media (max-width: $medium-devices-width) {
  #address-setting {
    & .setting-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: $twenty-pixel;
    }

    & .break-line {
      display: none;
    }

    & .address-item {
      padding-bottom: $twenty-pixel;
      border-bottom: 1px solid $lighter-grey-color;

      & .phone {
        margin: $ten-pixel $zero-pixel;
      }

      &:last-child {
        border-bottom: none;
        padding: $zero-pixel;
      }
    }
  }

  #payment-methods-setting {
    & .setting-box {
      padding: $twenty-pixel;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $twenty-six-pixel;
    }

    & .break-line {
      display: none;
    }
  }
}

@media (max-width: $closest-medium-devices-width) {
  .main-content {

    & .nav {
      overflow-x: scroll;
    }

    & .nav-link {
      white-space: nowrap;
    }
  }

  .setting-box {
    padding: $twenty-pixel;
  }

  .item-row {
    grid-template-columns: 1fr;
    padding: $zero-pixel;

    & .text {
      margin-bottom: $ten-pixel;
    }
  }

  .update-btn {
    grid-column: auto;
  }

  #payment-methods-setting {
    & .setting-box {
      padding: $twenty-pixel;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $twenty-six-pixel;
    }

    & .payment-item {
      padding-bottom: $twenty-pixel;
      border-bottom: 1px solid $lighter-grey-color;

      &:last-child {
        padding: $zero-pixel;
        border: $zero-pixel;
      }
    }
  }
}

#changePassword {
  & .item-row:last-child {
    margin: $zero-pixel;
  }
}

#changePassword,
#confirmDelete {

  & .modal-header,
  .modal-body,
  .modal-footer {
    padding: $thirty-pixel;
    padding-bottom: $zero-pixel;
  }

  & .modal-header,
  .modal-footer {
    border: $zero-pixel;
  }

  & .modal-footer {
    padding-bottom: $thirty-pixel;
  }

  & .item-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 576px) {
  #changePassword {
    .modal-dialog {
      max-width: 500px;
    }
  }
}

@media (max-width: 767px) {
  #changePassword {
    & .item-row {
      grid-template-columns: 1fr;
      padding: 0px;
    }
  }
}