@import "./root.scss";

.main-content {
    & .nav {
        grid-template-columns: 1fr 1fr;
    }

    & .nav-link {
        display: inline-block;
    }

    & .pending {
        color: $dark-main-color;
    }

    & .cancel {
        color: $text-lighter-white;
        text-decoration: line-through;
    }

    & .successfully {
        color: $green;
    }
}