@import "./root.scss";

.h1 {
    text-align: center;
    font-weight: $bold-size;
    font-size: $fifty-pixel;
    margin: $zero-pixel;
}

.sub-title {
    text-align: center;
    margin: $twenty-pixel $zero-pixel;
}

.short-desc-wrapper {
    background-color: #f4f4f4f4;
    padding: $fifty-pixel $zero-pixel;
}

.short-desc {
    @include flex-center-between;

    & .title {
        font-weight: $bold-size;
    }

    & .main-content {
        color: $text-lighter-white;
        font-weight: $bold-size;
        line-height: $twenty-four-pixel;
    }
}

.full-desc-wrapper {
    margin: 100px $zero-pixel;
}

.h2 {
    font-size: $forty-pixel;
    font-weight: $bold-size;
}

.full-desc {
    .content {
        font-weight: $bold-size;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: $twenty-pixel $zero-pixel;

        & div:last-child {
            text-align: right;
        }
    }

    .break-line {
        background-color: $lighter-grey-color;
        height: $one-pixel;
        margin-bottom: $ten-pixel;
    }

    .product-name {
        color: $main-color;
    }

    .size {
        color: $text-lighter-white;
        font-weight: normal;
        text-align: left !important;
    }
}

.content-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: $bold-size;
    margin-top: $twenty-pixel;

    & .wrapper {
        grid-column: 2/2;
        @include flex-center-between;
    }

    & .total-price-wrapper .sub-price {
        font-size: $twenty-four-pixel;
        color: $main-color;
    }
}

.go-back-home-wrapper {
    text-align: center;
}

.go-back-home-btn {
    font-size: $twenty-four-pixel;
    line-height: $twenty-four-pixel;
    font-weight: $bold-size;
    padding: $sixteen-pixel $twenty-four-pixel;
}

@media (max-width: $closest-medium-devices-width) {
    .short-desc {
        display: block;

        & .content {
            margin-bottom: $twenty-pixel;
        }

        & .content:last-child {
            margin-bottom: $zero-pixel;
        }
    }

    .content-price {
        @include flex-center-between;

        & .wrapper {
            width: 100%;
        }
    }

    .full-desc-wrapper {
        margin: $thirty-pixel $zero-pixel;
    }
}

@media (max-width: 382px) {
    .h1 {
        font-size: $forty-pixel;
    }

    .h2 {
        font-size: $thirty-pixel;
    }
}