@import "../../root.scss";

.filter-bar {
    & .content {
        padding: $zero-pixel $fifteen-pixel;

        & .title {
            @include flex-center-between;
            padding-bottom: $fifteen-pixel;
            cursor: pointer;
        }

        & .select-filter {
            & .item {
                margin-bottom: $ten-pixel;
            }
        }
    }

    & .see-more {
        color: $text-lighter-white;
        cursor: pointer;
    }

    & #see-more-dropdown {
        display: none;
    }

    & .collapse:not(.show) {
        display: none !important;
    }
}

.filter-header {
    display: flex;
    justify-content: $between;
    align-items: center;

    & .left-side {
        color: $text-lighter-white;
    }

    & .fa-sliders-h {
        transform: rotate(90deg);
        margin-right: $ten-pixel;
    }

}

.btn-primary.clear-filter {
    border: $none;
    background-color: $text-dark;
    color: $text-white;
    padding: $five-pixel $fifteen-pixel;
    line-height: $nineteen-pixel;
    text-transform: uppercase;

    &:active {
        background-color: $text-dark !important;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.break-line {
    width: 100%;
    border-top: 1px solid $lighter-grey-color;
    margin: $twenty-pixel $zero-pixel;
}

.size {
    & .select-filter {
        @include flex-center-between;
        flex-flow: wrap;

        & .item {
            font-size: $twelve-pixel;
            width: calc(100% / 4 - 10px);
            text-align: center;
            border: 1px solid $text-dark;
            border-radius: $two-pixel;
            @include flex-center-center;
            cursor: pointer;
        }
    }
}

.price-input {
    width: 100%;
    margin-bottom: $ten-pixel;
    color: $text-dark !important;

    &:focus {
        color: $text-dark !important;
    }
}

.apply-price.btn-primary {
    text-transform: uppercase;
}

.date-row {
    @include flex-center-between;
    margin-bottom: $ten-pixel;

    & .pretty {
        margin: $zero-pixel;
    }
}