.modal {
    form {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }

    label, input {
        font-size: 2rem;
    }

    .btn {
        width: 100%;
        font-size: 2rem;
    }
}