extends template-part/layout2.pug
block style
    link(rel="stylesheet", href="css/baiviet.css")
block title
    title Bài viết
block tieu-de-trang-text
    p.xlarge BÀI VIẾT
block chu-thich-trang-text
    .d-flex.justify-content-center
        p Tuyển tập bài viết Graphic
block content
    .bai-viet.container-md
        .bai-viet-logo.d-flex.justify-content-center
            .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2
                img.img-fluid(src="img/logo.png", alt="")
        .bai-viet-border1
            a(href="baiviet1.html")
                p.small 14 Phong cách thiết kế bạn cần biết 
            p.ngay-dang Đăng ngày 09-12-2019 - Người đăng: Anh Nguyễn
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-2.bai-viet-img
                    a(href="baiviet1.html")
                        img.img-fluid(src="img/baiviet/bai1.png", alt="baiviet1")
                .col-12.col-sm-6.col-md-7.col-lg-8.col-xl-10.bai-viet-text
                    p Tối giản, trừu tượng, hay vintage? Những phong cách thiết kế nào đang dẫn đầu xu hướng trong năm nay. Bài viết dưới đây sẽ miêu tả hàng loạt các phong cách thiết kế hình ảnh khác nhau, đi kèm với ví dụ cụ thể. Đồng thời, cũng là các gợi ý kết hợp các phong cách thiết kế khác nhau lại với nhau để tạo ra sự sáng tạo độc đáo. Ví dụ như, bạn có thể tạo ra những thiết kế vui nhộn bằng việc kết hợp giữa phong cách thiết kế “phẳng” và “minh họa” lại với nhau. Hoặc tạo ra những logo sang trọng bằng cách kết hợp phong cách vintage và nam tính
        .bai-viet-border2.bai-viet-down
            a(href="baiviet1.html")
                p.small 5 lưu ý về sử dụng màu sắc trong thiết kế đồ họa
            p.ngay-dang Đăng ngày 16-03-2020 - Người đăng: Đặng Nguyên
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-7.col-lg-8.col-xl-10.bai-viet-text2
                    p Giới thiệu kỹ hơn về mặt kỹ thuật của màu sắc trong thiết kế logo nói riêng và thiết kế đồ họa nói chung. Là một nhà thiết kế, bạn phải biết nghệ thuật kết hợp màu sắc để thu hút người xem.Hãy nhớ rằng lĩnh vực này đòi hỏi bạn phải nghiên cứu, thử nghiệm và thực hành.
                    p Có kiến thức về màu sắc có thể giúp một nhà thiết kế đồ họa làm việc hiệu quả và tốt hơn. Luôn luôn nghiên cứu và thử nghiệm để nâng cao kiến thức về màu sắc của bạn.
                .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-2.bai-viet-img2
                    a(href="baiviet1.html")
                        img.img-fluid(src="img/baiviet/bai2.png", alt="baiviet2")
        .bai-viet-border1.bai-viet-down
            a(href="baiviet1.html")
                p.small 11 kho vector miễn phí dành riêng cho designer
            p.ngay-dang Đăng ngày 12-11-2019 - Người đăng: Xù
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-2.bai-viet-img
                    a(href="baiviet1.html")
                        img.img-fluid(src="img/baiviet/bai3.png", alt="baiviet3")
                .col-12.col-sm-6.col-md-7.col-lg-8.col-xl-10.bai-viet-text
                    p Đôi khi bạn có một thời hạn rất ngắn với ngân sách rất nhỏ. Khi điều này xảy ra, hãy bắt đầu thiết kế vector hình họa với một tài sản kỹ thuật số được cấp phép.
                    p Trong mỗi thiết kế, việc lựa chọn màu sắc, hình ảnh, vector và font chữ là vô cùng quan trọng. Tuy nhiên, việc tìm kiếm và lựa chọn để đưa vào thiết kế của mình không hề dễ dàng. Vậy đâu là giải pháp cho vấn đề này, cùng tham khảo các kho vector miễn phí này để lấy ý tưởng cho mẫu thiết kế của mình nhé.
        .bai-viet-border2.bai-viet-down
            a(href="baiviet1.html")
                p.small 10 Điều Cần Biết Khi Thiết Kế Banner Quảng Cáo
            p.ngay-dang Đăng ngày 20-05-2020 - Người đăng: Phan Trí
            .row.d-flex.justify-content-center
                .col-12.col-sm-6.col-md-7.col-lg-8.col-xl-10.bai-viet-text2
                    p Giới thiệu kỹ hơn về mặt kỹ thuật của màu sắc trong thiết kế logo nói riêng và thiết kế đồ họa nói chung. Là một nhà thiết kế, bạn phải biết nghệ thuật kết hợp màu sắc để thu hút người xem.Hãy nhớ rằng lĩnh vực này đòi hỏi bạn phải nghiên cứu, thử nghiệm và thực hành.
                    p Có kiến thức về màu sắc có thể giúp một nhà thiết kế đồ họa làm việc hiệu quả và tốt hơn. Luôn luôn nghiên cứu và thử nghiệm để nâng cao kiến thức về màu sắc của bạn.
                .col-12.col-sm-6.col-md-5.col-lg-4.col-xl-2.bai-viet-img2
                    a(href="baiviet1.html")
                        img.img-fluid(src="img/baiviet/bai4.png", alt="baiviet4")