@import "../root.scss";

input[type=radio] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type=radio]+label .radio-dot {
  height: $sixteen-pixel;
  width: $sixteen-pixel;
  border: 1px solid $main-color;
  margin-right: $ten-pixel;
  border-radius: 50%;
  position: relative;
}

input[type=radio]+label .radio-dot:before {
  height: $ten-pixel;
  width: $ten-pixel;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=radio]:checked+label .radio-dot:before {
  background: $main-color;
  padding: $five-pixel;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio]+label .radio-dot:before {
  border-radius: 50%;
}