@import "../root.scss";

.product {
    max-width: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: $fifteen-pixel;
    margin-bottom: $ten-pixel;

    &:hover .shadow {
        opacity: 1;
    }
}

.card {
    border: 2px solid $product-border-color;
}

.card-img-top {
    padding: $zero-pixel $eleven-pixel $zero-pixel $eleven-pixel;
}

.card-body {
    padding: $eleven-pixel $twenty-five-pixel $eleven-pixel $eleven-pixel;
    background-color: $product-border-color;
}

.card-title {
    font-size: $sixteen-pixel;
    font-weight: $regular-size;
    line-height: $twenty-pixel;
    color: $text-dark;
    margin-bottom: $eleven-pixel;
    height: $forty-pixel;
    overflow: hidden;
}

.card-text {
    color: $product-text-grey;
    margin-bottom: $six-pixel;
}

.price {
    font-size: $twenty-four-pixel;
    font-weight: $bold-size;
    color: $text-dark;
    margin-bottom: $five-pixel;
}

.sold {
    margin-bottom: $zero-pixel;
}

.shadow {
    width: 90%;
    height: $twenty-four-pixel;
    z-index: -1;
    background: $shadow-background-color;
    box-shadow: $zero-pixel $four-pixel $ten-pixel rgba(0, 0, 0, 0.13) !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}