extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/blog.css")
block title
    title | Tin Tức

block heading
    h1.heading-primary.heading-primary--white Tin Tức
block title-2
    a(href="")
        p.banner-common__title-2.banner-common__title-2--active Tin Tức

block content

    .article
        .container
            .row
                .col
                    h2.article__heading Bài viết
                    .article__content
                        .row
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-1.png", alt="Cách Giữ Bánh Ga Tô Ngon Và Lâu Hơn, Bảo Quản Bánh Gato" title="Cách Giữ Bánh Ga Tô Ngon Và Lâu Hơn, Bảo Quản Bánh Gato")
                                    .article__info
                                        h3.aricle__heading-tertiary Cách Giữ Bánh Ga Tô Ngon Và Lâu Hơn, Bảo Quản Bánh Gato
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 20/02/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.200
                                        p.article__text  Bánh kem sinh nhật bảo quản được bao lâu là câu hỏi của nhiều người...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-2.png", alt="Đến thủ đô Vienna bạn nhất định phải thử những món bánh này" title="Đến thủ đô Vienna bạn nhất định phải thử những món bánh này")
                                    .article__info
                                        h3.aricle__heading-tertiary Đến thủ đô Vienna bạn nhất định phải thử những món bánh này
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 21/02/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.472
                                        
                                        p.article__text  Không chỉ nổi tiếng với nhiều phong cảnh cổ kính độc đáo, thủ đô Vienna...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-3.png", alt="Lạ lùng thay món bánh su trứng muối than tre độc đáo" title="Lạ lùng thay món bánh su trứng muối than tre độc đáo")
                                    .article__info
                                        h3.aricle__heading-tertiary Lạ lùng thay món bánh su trứng muối than tre độc đáo
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 21/03/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.434
                                        
                                        p.article__text  Nếu đã quen với hương vị món bánh su vỏ mềm truyền thống thì chắc chắn bạn...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-4.png", alt="“Cháy hàng” mùa Trung Thu – Dân tình sục sôi mở tiệm bánh " title="“Cháy hàng” mùa Trung Thu – Dân tình sục sôi mở tiệm bánh ")
                                    .article__info
                                        h3.aricle__heading-tertiary “Cháy hàng” mùa Trung Thu – Dân tình sục sôi mở tiệm bánh 
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 21/03/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.552
                                        
                                        p.article__text  Mang hương vị ngọt ngào thấm sâu trong từng lớp bánh, bánh Pía không chỉ được...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-5.png", alt="Đặc sản bánh bao kẹp thịt siêu lạ, nhất định phải thử khi tới Đài Loan" title="“Đặc sản bánh bao kẹp thịt siêu lạ, nhất định phải thử khi tới Đài Loan")
                                    .article__info
                                        h3.aricle__heading-tertiary Đặc sản bánh bao kẹp thịt siêu lạ, nhất định phải thử khi tới Đài Loan
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 21/03/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.535
                                        
                                        p.article__text  Tuy mới xuất hiện trong thời gian gần đây nhưng “guabao” hay còn gọi là bánh bao...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-6.png", alt="Khám phá 6 tên gọi bánh thú vị có thể bạn đã từng thưởng thức" title="“Khám phá 6 tên gọi bánh thú vị có thể bạn đã từng thưởng thức")
                                    .article__info
                                        h3.aricle__heading-tertiary Khám phá 6 tên gọi bánh thú vị có thể bạn đã từng thưởng thức
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 23/04/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.535
                                        
                                        p.article__text  Đằng sau mỗi chiếc bánh đều ẩn chứa một câu chuyện về nguồn gốc đầy thú...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-7.png", alt="Những loại bánh Việt có tên cực lạ có thể bạn chưa từng " title="“Những loại bánh Việt có tên cực lạ có thể bạn chưa từng ")
                                    .article__info
                                        h3.aricle__heading-tertiary Những loại bánh Việt có tên cực lạ có thể bạn chưa từng 
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 29/04/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.535
                                        
                                        p.article__text  Đa dạng về hương vị cũng như cách chế biến là những gì các loại bánh đặc biệt...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-8.png", alt="Chiêm ngưỡng những chiếc bánh “không nỡ ăn” vì quá đẹp" title="“Chiêm ngưỡng những chiếc bánh “không nỡ ăn” vì quá đẹp")
                                    .article__info
                                        h3.aricle__heading-tertiary Chiêm ngưỡng những chiếc bánh “không nỡ ăn” vì quá đẹp
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 23/05/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.544
                                        
                                        p.article__text  Không thể nào rời mắt hay nỡ lòng thưởng thức những chiếc bánh đẹp sinh ra chỉ...
                            .col-xl-4.col-lg-4.col-md-6.col-sm-6
                                a(href="./blogdetails.html").article__box
                                    .article__photo
                                        img(src="./img/blogs-9.png", alt="Nước Nga đón các đội tuyển World Cup bằng bánh mì " title="“Nước Nga đón các đội tuyển World Cup bằng bánh mì ")
                                    .article__info
                                        h3.aricle__heading-tertiary “Nước Nga đón các đội tuyển World Cup bằng bánh mì 
                                        .article__time
                                            p
                                                i.far.fa-user
                                            p |
                                            p 
                                                i.far.fa-clock
                                            
                                            p 30/04/2020
                                            p |
                                            p 
                                                i.far.fa-eye
                                            p 2.535
                                        
                                        p.article__text  World Cup đang nóng dần với những màn chào sân vô cùng hấp dẫn. Những trận đấu...












block script
    script(src="./js/blog.js")