extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/contact.css")
block title
    title | Liên Hệ



block content
    
        block heading
            h1.heading-primary.heading-primary--white Liên Hệ
        block title-2
            a(href="")
                p.banner-common__title-2.banner-common__title-2--active Liên Hệ
        .contact
            .container
                .row.justify-content-between
                    
                        .col-xl-6.col-lg-6.col-md-6.col-sm-6
                            form.contact__sent
                                h2.sent__heading Gửi tin nhắn cho chúng tôi
                                .sent__group-input
                                    label(for="fullname") Họ và tên*
                                    input(type="text" id="fullname" name="fullname")
                                    p.error Vui lòng nhập họ và tên hợp lệ
                                .sent__group-input
                                    label(for="email") Địa chỉ Email*
                                    input(type="email" id="email" name="email")
                                    p.error Vui lòng nhập Email hợp lệ
                                .sent__group-input
                                    label(for="numberphone") Số điện thoại*
                                    input(type="number" id="numberphone" name="numberphone")
                                    p.error Vui lòng nhập số điện thoại hợp lệ
                                .sent__group-input
                                    label(for="note") Nhập nội dung*
                                    textarea(name="note", cols="30", rows="5" id="contacnote")
                                    p.error Vui lòng nhập nội dung hợp lệ
                                button.btn__sent Gửi tin
                                p.success Gửi thành công
                                
                        .col-xl-5.col-lg-5.col-md-5.col-sm-5
                            .contact__infor
                                .infor__group
                                    img(src="./img/contact-icon-1.svg", alt="")
                                    .infor__group__content
                                            p.infor__title Địa chỉ liên hệ
                                            p.infor__text 150 ngõ Xã Đàn 2, Quận Đống Đa, TP. Hà Nội
                                .infor__group
                                    img(src="./img/contact-icon-2.svg", alt="")
                                    .infor__group__content
                                            p.infor__title Số điện thoại
                                            p.infor__number 0987156321
                                .infor__group
                                    img(src="./img/contact-icon-3.svg", alt="")
                                    .infor__group__content
                                            p.infor__title Số điện thoại
                                            p.infor__number 0987156321
        .map
            .container
                .row
                    .col
                        h2.map__heading Bản đồ
                        .map__photo
                            //- img(src="./img/map.png", alt="google-maps")
                                                        
                            div(style='width: 100%')
                                iframe(width='100%' height='600' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=100%25&height=600&hl=en&q=s%E1%BB%91%204,%20%C4%91%C6%B0%E1%BB%9Dng%20nguy%E1%BB%85n%20ch%C3%AD%20thanh,%20%C4%91%E1%BB%91ng%20%C4%91a%20+(My%20Business%20Name)&t=&z=14&ie=UTF8&iwloc=B&output=embed')
                                










block script
    script(src="./js/contact.js")