*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
#header{
    width: 100%;
    color: white;
    position: fixed;
    z-index: 10;
}
.hide{
    display: none;
}

#header .container-mobile{
    display: none;
}
#header .container{
    margin: auto;
    max-width: 1170px;
    height: 78px;
    padding: 0 15px 0 15px;
    display: flex;
}
#header .container .logo img{
    height: 78px;
    padding: 6px 0;
}
#header .container .logo{
    width: 176px;
    margin-right: 30px;
}
#header .container .menu{
    width: 50%;
    display: flex;
    align-items: center;
}
.menu-item{
    display: flex;
    height: 100%;
}
.menu-item .item > a{
    color: white;
    display: inline-block;
}
#header a:hover{
    color: #70C130!important;
}

.item{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 17px;
    height: 100%;
}
.item:first-child{
    margin-left: 10px;
}
.item:last-child{
    margin-right: 10px;
}
/* .item i{
    position: absolute;
    top: 4px;
    right: -14px;
    font-size: 14px;
} */
.item > a{
    text-transform: uppercase;
    font-size: 12.8px;
}
.item span{
    cursor: pointer;
    font-size: 12.8px;
    text-transform: uppercase;
}
.item span:hover{
    color: #70C130;
}
.item:nth-child(3) li{
    border-bottom: 1px solid #c7c7c7;
    padding: 3px 0;
}
.item:nth-child(3){
    display: none;
}
.sub-menu{
    position: absolute;
    background-color: rgb(245, 240, 240);
    width: 245px;
    left: -25px;
    top: 90%;
    padding: 30px;
    box-shadow: 0 0 10px #888888;
    display: none;
}
.sub-menu .sub-item{
    padding: 10px 0;
    border-bottom: 1px solid #c7c7c7;
}
.sub-menu .sub-item:last-child{
    padding-bottom: 0px;
    border: none;
}
.sub-menu .sub-item:first-child{
    padding-top: 0px;
}
.sub-menu a{
    color: #121212;
}
.arrow-up {
    border: solid #dfdfdf;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    background-color: rgb(245, 240, 240);
    position: absolute;
}
.pos-1{
    top: -7px;
    left: 60px;
}
.pos-2{
    top: -7px;
    left: 75px;
}
.item:hover .sub-menu{
    display: block;
}
.search{
    width: 155px;
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.09);
    padding-left: 10px;
}
.search input::placeholder{
    color: white;
}
.my-class::placeholder {
    color: #905d2f!important;
 }
 
.search{
    margin-left: 30px;
    position: relative;
}
.search a{
    position: absolute;
    right: 10px;
    font-size: 18px;
}
.cart{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.cart a span{
    margin-right: 7px;
}
.cart i{
    font-size: 20px;
}
.color-black{
    color: black;
}
.background-white{
    color: white;
}
@media (max-width:767px){
    #header{
        position: unset;
    }
    #header .container{
        display: none;
    }
    #header .container-mobile{
        display: block;
        height: 78px;
        padding: 0 20px;
        position: fixed;
        width: 100%;
        background-color: rgb(255,255,255);
        z-index: 30;
        border-bottom: 1px solid rgb(184, 182, 182);
    }
    .container-mobile1{
        display: flex;
        align-items: center;
    }
    .button-header, .search-right{
        color: black;
        font-size: 16px;
        width: 10%;
    }
    .logo-header{
        width: 80%;
        justify-content: center;
        display: flex;
    }
    .logo-header img{
        max-height: 78px;
        padding: 6px 0;
    }
    .menu-mobile{
        width: 260px;
        text-transform: uppercase;
        background-color: white;
        position: fixed;
        color: rgba(102,102,102,0.85);
        top: 0;
        left: -260px;
        z-index: 4;
        height: 100%;
        padding-top: 25px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        transform: translateX(-260px);
    }
    .translate-menu{
        transform: translateX(260px);
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s
    }
    .menu-mobile a{
        color: rgba(102,102,102,0.85);
        padding: 15px 0 15px 20px;
        display: inline-block;
        width: 60%;
        margin-right: 25%;
        font-size: 14px;
        font-weight: 700;
        font-family: "Helvetica,Arial,sans-serif", sans-serif;
    }
    .sub-menu-mobile{
        margin-left: 10%;
    }
    .sub-menu-mobile1 a, .sub-menu-mobile2 a{
        width: 75%;
        text-transform: none;
        font-weight: 500;
    }
    .item-mobile:not(:last-child){
        border-bottom: 1px solid #c7c7c7;
    }
    .item-mobile i{
        font-size: 22px;
    }
    .after{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(19, 19, 19, 0.5);
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .after i{
        color: rgb(202, 199, 199);
        font-size: 30px;
    }
    .after .button-after{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .hide{
        display: none;
    } */
    .show{
        display: block;
    }
    .search-right{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .search-container{
        position: absolute;
        width: 250px;
        background-color: rgb(245, 240, 240);
        z-index: 3;
        padding: 20px;
        border: solid #dfdfdf;
        top: 25px;
        right: -20px;
    }
    .search-container input{
        width: 100%;
        height: 35px;
        border-radius: 100px;
        background-color: rgba(255,255,255,0.2);
        border-color: rgba(85, 85, 85, 0.09);
        padding-left: 10px;
        padding-right: 40px;
    }
    .close-search{
        position: absolute;
        color: red;
        top: 3px;
        right: 10px;
        font-size: 16px;
    }
    .pos-3{
        top: -8px;
        right: 20px;
    }
    .search-container a{
        position: absolute;
        right: 35px;
        top: 30px;
        color: rgb(121, 120, 120);
    }
}

#main{
    z-index: -1;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 300%;
    display: flex;
}
.slides input{
    display: none;
}

.slide{
    width: 33.333%;
    position: relative;
}
.slide-img{
    overflow: hidden;
}
.slide img{
    width: 100%;    
    margin-top: -10%;
    margin-bottom: -8%;
}

.prev, .next{
    position: absolute;
    top: 40%;
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    z-index: 2;
}
.next{
    right: 0;
}
.prev:hover{
    color: #00a7ff; /* blue */
}
.next:hover{
    color: #00a7ff; /* blue */
}

.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.active, .dot:hover{
    border-color: #00a7ff; /* blue */
}
.txt{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    width: 100%;
    z-index: 1;
    top: 40%;
}
.txt h1{
    text-align: center;
    color: #ffffff;
    font-family: Pacifico;
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 5px 2px 4px grey, 5px -5px 4px #212529;
  }

.txt p{
    /* padding-left: 60px; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 5px 2px 4px grey, 5px -5px 4px #212529;
}
.introduce{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.introduce h1{
    font-size: 60px;
    text-transform: capitalize;
    font-family: pacifico;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}
.col-circle-left, .col-circle-right{
    width: 25%;
    text-align: center;
    padding: 0 2.5%;
}
.col-circle-left img{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 50%;
}
.col-circle-right img{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 50%;
}
.introduce-main{
    display: flex;
}
.image-introduce{
    padding: 0 2.5%;
    width: 50%;
}
.image-introduce img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle
}
.introduce img{
    margin-bottom: 10px;
}
.introduce h4{
    font-weight: 700;
    color: #555555;
    margin-bottom: 12px;
    font-size: 18px;
}
.introduce p{
    color: #777777;
    font-size: 16px;
    line-height: 24px;
}
.circle-1,.circle-3{
    margin-bottom: 30px;
}
.introduce-2{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(image/introduce-2.jpg);
}
.introduce-container{
    border: 5px solid white;
    padding: 50px 0;
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce-container-1{
    text-align: center;
    width: 80%;
}
.introduce-container-1 h2{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.introduce-container-1 h1{
    font-size: 60px;
    margin-bottom: 15px;
}
.introduce-container-1 p{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.introduce-container-1 button{
    padding: 10px 20px;
    border-radius: 99px;
    color: white;
    background-color: #70C130;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.introduce-container-1 button:hover{
    background-color: green;
}
.product{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.product h1{
    text-align: center;
    font-family: Pacifico;
    font-size: 60px;
    text-transform: capitalize;
}

.product li:not(:last-child){
    margin-right: 10px;
}
.product .title{
    margin-top: 10px;
}
.title-product{
    position: relative;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 0;
    cursor: pointer;
    border-top: 3px solid white;
}
.title{
    display: flex;
    justify-content: center;
}
.active-title{
    color: red;
    border-top: 3px solid #70C130;
}
.list-product{
    margin-top: 25px;
    padding: 0 1.25%;
}
.list-product1, .list-product2, .list-product3{
    display: flex;
    flex-wrap: wrap;
}
.hide{
    display: none;
}
.mini-product{
    flex-basis: 22.5%;
    box-shadow: 0 0 3px;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.mini-product{
    margin-right: 3.333%;
}
.mini-product:nth-child(4n){
    margin-right: 0;
}
.mini-product img{
    max-width: 100%;
    cursor: pointer;
}
.img-product{
    position: relative;
    overflow: hidden;
}

.mini-product:hover .info{
   /* display: block; */
   transform: translateY(-50px);
}
.img-product .info{
    padding: 7px 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #70C130;
    font-size: 14px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    transition-property: transform;
    transition-duration: 0.2s;
    cursor: pointer;
   /* display: none; */
}
.mini-title{
    color: #777777;
    font-size: 10.8px;
    text-transform: uppercase;
}
.name-product{
    margin-top: 5px;
    color: #66CC00;
    text-transform: uppercase;
    font-size: 14.4px;
    font-weight: bold;
}
.product .price{
    margin-top: 5px;
    color: red;
    font-weight: bold;
    font-size: 14.4px;
    margin-bottom: 15px;
}
.discount{
    position: absolute;
    background: #66CC00;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    top: 20px;
    left: -3px;
}
.hightlight{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.hightlight h1{
    font-size: 60px;
    text-transform: capitalize;
    font-family: pacifico;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.hightlight1{
    display: flex;
    margin-bottom: 50px;
}
.img-hightlight{
    flex-basis: 65%;
    padding: 0 2%;
}
.img-hightlight img{
    max-width: 100%;
}
.info-hightlight{
    flex-basis: 35%;
    padding: 0 2%;
}
.info-hightlight h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.info-hightlight .price{
    color: green;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.info-hightlight .description{
    font-size: 16px;
    color: #777777;
    line-height: 24px;
    margin-bottom: 20px;
}
.info-hightlight button{
    padding: 10px 20px;
    border-radius: 99px;
    color: white;
    background-color: #70C130;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.info-hightlight button:hover{
    background-color: green;
}
.hightlight-slides{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;  
    display: flex;
    align-items: center; 
}

/* .hightlight-slide img{
    margin-right: 1.5%;
    margin-left: 1.5%;
} */

.hightlight-slide{
    width: 100%;
    display: flex;
}
.hightlight-slide img{
    width: 33.333%;
    padding: 0 1.5%;
}
.prev1, .next1{
    position: absolute;
    color: black;
    font-size: 30px;
    cursor: pointer;
    /* display: none; */
}
.hightlight-slides:hover .prev1, .hightlight-slides:hover .next1{
    display: block;
}
.prev1{
    left: 0px;
}
.next1{
    right: 0px;
}
.comment{
    margin-top: 50px;
    padding-top: 50px;
    /* height: 550px; */
    background-image: url(image/comment_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.comment h1{
    font-size: 60px;
    text-align: center;
    font-family: Pacifico;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.comment-mini{
    margin: auto;
}
.customer-comments{
    display: flex;
    justify-content: space-around;
}
.customer-comment{
   border: 1px solid white;
   border-radius: 50%; 
   text-align: center;
   width: 250px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 24px;
   padding: 0 10px;
   margin-bottom: 50px;
}

.news{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
}
.news h1{
    font-size: 60px;
    text-align: center;
    font-family: Pacifico;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.news-mini{
    display: flex;
}
.news-mini a{
    color: black;
}
.news-left{
    margin-right: 3%;
    width: 48.5%;
}
.news-left img{
    max-width: 100%;
    margin-bottom: 10px;
}
.new-img1{
    line-height: 24px;
}
.news-right{
    width: 48.5%;
}
.new-img2-image{
    width: 35%;
    margin-right: 5%;
}
.new-img2-mini{
    width: 60%;
}
.new-mini a {
    font-size: 16px;
}
.new-img1 p,.new-img2 p{
    font-size: 14px;
    color: #777777;
}
.new-img2{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.new-img2:last-child{
    margin-bottom: 0;
}

@media (max-width:767px){
    .slider h1{
        font-size: 23px;
        margin-bottom: 0px;
    }
    .slider p{
        font-size: 11px;
        margin-top: 0px;
    }
    .slide .txt{
        top: 50%;
    }
    .prev, .next{
        top: 55%;
        font-size: 30px;
    }
    .slider .dot{
        width: 10px;
        height: 10px;
    }
    
    .product h1{
        font-size: 40px;
    }
    .list-product{
        padding: 0 2.5%;
    }
    .mini-product{
        flex-basis: 31.333%;
    }
    .mini-product{
        margin-right: 3%;
    }
    
    .mini-product:nth-child(4n){
        margin-right: 3%;
    }
    .mini-product:nth-child(3n){
        margin-right: 0;
    }
    .hightlight{
        margin-top: 30px;
    }
    .hightlight h1{
        font-size: 40px;
    }
    .hightlight1{
        flex-wrap: wrap;
    }
    .img-hightlight, .info-hightlight{
        flex-basis: 100%;
    }
    .info-hightlight{
        text-align: center;
        margin-top: 20px;
    }
    .hightlight-slide img{
        width: 50%;
    }
    .comment-mini h1{
        font-size: 40px;
    }
    .customer-comments{
        flex-wrap: wrap;
    }
    .customer-comment:last-child{
        margin-bottom: 100px;
    }
    .news{
        margin-top: 20px;
    }
    .news h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .news-mini{
        flex-wrap: wrap;
    }
    .news-left{
        margin-right: 0;
    }
    .news-left,.news-right{
        flex-basis: 100%;
    }
    .new-img1{
        margin-bottom: 30px;
    }
    .new-img2{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .new-img2-image{
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .new-img2-mini{
        width: 100%;
    }
}
@media(max-width: 576px){
    .prev, .next{
        padding: 5px;
    }
    .slide p{
        margin-top: 5px;
        line-height: 16px;
        padding: 0 15px;
    }
    .slide img{
        margin: 0;
    }
    .introduce h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .introduce-main{
        flex-wrap: wrap;
        padding: 0 2.5%;
    }
    .col-circle-left, .col-circle-right, .image-introduce{
        width: 100%;
    }
    .image-introduce{
        padding: 30px 0;
    }
    .introduce-2{
        padding: 30px 0;
    }
    .introduce-container{
        padding: 30px 0;
    }
    .introduce-2 h2{
        font-size: 17.6px;
        margin-bottom: 5px;
    }
    .introduce-2 h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .introduce-2 p{
        font-size: 11px;
        margin-bottom: 15px;
    }
    .introduce-2 button{
        font-size: 11px;
    }
    .mini-product{
        flex-basis: 48.5%;
    }
    .mini-product:nth-child(3n){
        margin-right: 3%;
    }
    .mini-product:nth-child(2n){
        margin-right: 0;
    }
    .mini-product .discount{
        height: 35px;
        width: 35px;
        font-size: 12px;
    }
}
#footer{
    margin-top: 50px;
    background-color: #121212;
    color: white;
    padding-top: 50px;
}
.footer-mini{
    width: 80%;
    margin: auto;
    line-height: 24px;
}
.footer-mini h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
}
.logo-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-navigation{
    display: flex;
    flex-wrap: wrap;
}
.footer-navigation .contact{
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.footer-navigation .link{
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.footer-navigation .category{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.contact-mini, .link-mini, .category-mini{
    line-height: 30px;
}

.footer-copyright{
    text-align: center;
    margin-top: 50px;
    color: rgba(255,255,255,0.5);
    padding-bottom: 15px;
    font-size: 14px;
}
.link-mini i{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.link-mini i:hover{
    color: white;
}
.link-item-sub1, .link-item-sub2{
  margin-left: 15%;
}
@media(max-width: 1170px){
    .menu-item > .item:nth-child(4),.menu-item > .item:nth-child(5),.menu-item > .item:nth-child(6), .menu-item > .item:nth-child(7){
        display: none;
    }
    .menu-item > .item:nth-child(3){
        display: flex;
    }
    #header .container .menu{
        width: 40%;
    }
}
@media(max-width: 925px){
    .cart span{
        display: none;
    }
    #header .container .logo{
        margin-right: 5px;
    }
    #header .container .menu-item .item{
        margin: 0 11px;
    }
    #header .container .search{
        margin-left: 10px;
    }
}
@media(max-width: 767px){
    .footer-mini{
        width: 65%;
    }
    .footer-navigation .contact, .footer-navigation .link, .footer-navigation .category{
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        justify-content: flex-start;
    }
    .footer-navigation .category{
        margin-bottom: 0;
    }
}