
.dslr-hub__banner {
  background-image: url("/halo/img/img--dslr-hub/dslr-banner-min-v2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-left: 15px;
}

.dslr-hub__banner h1 {
  font-size: 48px;
  font-weight: 500;
}

.dslr-hub__banner p {
  font-size: 20px;
}
/* -------------------- display-area -------------------- */
.dslr-hub__display-area {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ---------- .technical-filter--min ---------- */
.technical-filter--min {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.technical-filter--min .dropdown {
  margin-bottom: 5px;
}

.technical-filter--min .btn {
  font-size: 12px;
}

.technical-filter--min .dropdown-item {
  font-size: 11px;
  line-height: 20px;
}

.main-area__sub-filter-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sub-filter-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
}

.sub-filter {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px;
  padding: 5px 10px 5px 35px;
  margin: 10px 10px;
}

.sub-filter:first-child {
  padding: 5px 15px;
}

.sub-filter:nth-child(2) {
  background-image: url("/halo/img/img--item-badge/badge--hot-375.png");
}

.sub-filter:nth-child(3) {
  background-image: url("/halo/img/img--item-badge/badge--love-375.png");
}

.sub-filter:nth-child(4) {
  background-image: url("/halo/img/img--item-badge/badge--sale-375.png");
}

.sub-filter:hover, .button.is-checked {
  background-color: #222;
  color: white;
  border: 1px solid #555555;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-area__items-area {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
}

/* ---------- .main-area__pagination ---------- */

.main-area__pagination .page-link{
  color: black;
  border-color: #d4d4d4;
}

.main-area__pagination .page-link:hover{
  color: white;
  background-color: #222;
}

.page-item.active .page-link{
  background-color: #222;
  border-color: #d4d4d4;
}

.page-item:last-child .page-link {
  padding: 5px 6px;
}

/* ---------- hết .main-area__pagination ---------- */

/* -------------------- hết display-area -------------------- */

@media only screen and (min-width: 370px) {

  .technical-filter--min .btn,
  .sub-filter {
    font-size: 12px;
  }

  .item__badge {
    height: 20px;
  }
}

@media only screen and (min-width: 400px) {

  .technical-filter--min .btn,
  .sub-filter {
    font-size: 13px;
  }

  .sub-filter {
    padding: 7px;
  }

  .sub-filter {
    background-size: 35px;
    background-position: 10px;
    padding: 5px 10px 5px 50px;
    margin: 10px 10px;
  }
  
  .sub-filter:first-child {
    padding: 5px 15px;
  }
  
  .sub-filter:nth-child(2) {
    background-image: url("/halo/img/img--item-badge/badge--hot-375.png");
  }
  
  .sub-filter:nth-child(3) {
    background-image: url("/halo/img/img--item-badge/badge--love-375.png");
  }
  
  .sub-filter:nth-child(4) {
    background-image: url("/halo/img/img--item-badge/badge--sale-375.png");
  }
}

@media only screen and (min-width: 500px) {
  .main-area__items-area {
    width: 100%;
  }
/*   .main-area__items-area .item:last-child {
    margin-left: 0px;
    margin-right: 255px;
  } */
}  

@media only screen and (min-width: 576px) {
  .dslr-hub__banner {
    padding-left: 30px;
  }

  .technical-filter--min {
    max-width: 544px;
    margin: auto;
  }

  .main-area__sub-filter-area {
    width: 100%;
    margin: 15px auto 0px auto;
  }

  .sub-filter-header {
    font-size: 15px;
    margin-top: 15px;
  }

  .sub-filter-wrapper {
    width: calc(100% - 70px);
    font-size: 13px;
    margin: 0px;
    max-width: none;
  }

  .sub-filter {
    margin-left: 15px;
  }

}

@media only screen and (min-width: 768px) {
  /*
  thay đổi layout: 
  main thành flex row, wrap
  */
  
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-item:first-child a {
    padding-bottom: 0px !important;
    border-bottom: 2px solid white;
  }

  .dslr-hub__banner {
    height: 20vh;
  }

  .dslr-hub__banner h1 {
    font-size: 70px;
    line-height: 1;
  }
  
  .dslr-hub__banner p {
    font-size: 30px;
  }

  .dslr-hub__display-area {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
  }

  /* ---------- update aside area ---------- */
  .dslr-hub__aside-area {
    width: 180px;
  }

  .technical-filter--max__filter-group {
    background-color: #F2F2F2;
    margin-bottom: 30px;
    border: 1px solid #BFBFBF;
    border-bottom: none;
  }

  .technical-filter--max__header {
    border: none;
    width: 100%;
    font-size: 17px;
    text-align: start;
    padding: 5px 10px;
    background-color: #C4C4C4;
    font-weight: bold;
  }

  .technical-filter--max__item {
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #BFBFBF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .technical-filter--max__item * {
    cursor: pointer;
  }

  .technical-filter--max__item label {
    width: calc(100% - 20px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input-container {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .technical-filter--max__radio {
    position: absolute;
    opacity: 0;
    height: 15px;
    width: 15px;
    z-index: 2;
  }

  .customize-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-image: url("/halo/img/img--misc/halo-logo-black.png");
    background-size: contain;
    background-position: center;
    z-index: 1;
  }

  .input-container input:checked ~ .customize-radio {
    background-image: url("/halo/img/img--misc/halo-logo-black--active.png");
  }

  .promo--aside h1 {
    font-size: 13px;
    font-weight: bold;
    background-color: #C4C4C4;
    padding: 5px 15px;
    line-height: 1.5;
    text-align: start;
  }

  .promo__collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #BFBFBF;
    background-color: #F2F2F2;
    padding: 20px 15px 0px 15px;
  }

  .promo-item {
    padding-bottom: 20px; 
    cursor: pointer;
  }

  /* ---------- hết update aside area ---------- */

  
  /* ---------- update main area ---------- */
  .dslr-hub__main-area {
    width: calc(100% - 210px); /*aside 190 + 50 margin*/
  }

  .main-area__sub-filter-area {
    margin: 0px 0px 30px 15px;
  }

  .sub-filter-header {
    font-size: 18px;
    margin-top: 15px;
  }

  .sub-filter {
    background-size: 40px;
    background-position: 10px;
    padding: 7px 15px 7px 60px;
    margin: 10px 10px;
    line-height: 30px;
    font-size: 15px;
  }
  
  .sub-filter:first-child {
    padding: 7px 25px;
  }
  
  .sub-filter:nth-child(2) {
    background-image: url("/halo/img/img--item-badge/badge--hot-768.png");
  }
  
  .sub-filter:nth-child(3) {
    background-image: url("/halo/img/img--item-badge/badge--love-768.png");
  }
  
  .sub-filter:nth-child(4) {
    background-image: url("/halo/img/img--item-badge/badge--sale-768.png");
  }

  /* ---------- update .main-area__pagination ---------- */
  .main-area__pagination {
    margin-top: 30px;
  }

  .main-area__pagination .page-link{
    font-size: 15px;
    padding: 7px 12px;
    font-weight: bold;
  }

  .page-item:last-child .page-link {
    padding: 7px 9px;
  }

  /* ---------- hết update .main-area__pagination ---------- */


}

@media only screen and (min-width: 992px) {

  .breadcrumb {
    height: 60px;
    font-size: 16px;
  }

  .dslr-hub__display-area {
    justify-content: space-between;
  }

  .technical-filter--max__filter-group button {
    font-size: 16px;
    padding: 5px 15px;
  }

  .technical-filter--max__filter-group li {
    font-size: 14px;
  }

  .sub-filter-header {
    font-size: 20px;
    font-weight: 600;
  }

  .sub-filter {
    background-size: 50px;
    background-position: 15px;
    padding: 10px 15px 10px 75px;
    font-size: 17px;
    font-weight: 600;
  }
  
  .sub-filter:first-child {
    padding: 7px 25px;
  }
  
  .sub-filter:nth-child(2) {
    background-image: url("/halo/img/img--item-badge/badge--hot-992.png");
  }
  
  .sub-filter:nth-child(3) {
    background-image: url("/halo/img/img--item-badge/badge--love-992.png");
  }
  
  .sub-filter:nth-child(4) {
    background-image: url("/halo/img/img--item-badge/badge--sale-992.png");
  }
  /* ---------- update item styles ---------- */

  /* ---------- hết update item styles ---------- */
}

@media only screen and (min-width: 1200px) {

  .dslr-hub__banner {
    height: 200px;
    padding-left: calc(50vw - 587px);
  }

  .dslr-hub__banner h1 {
    font-size: 85px;
  }
  
  .dslr-hub__banner p {
    font-size: 40px;
  }

  .dslr-hub__display-area {
    padding: 50px 0px;
  }

  .dslr-hub__aside-area {
    width: 200px;
  }

  .main-area__sub-filter-area {
    align-items: center;
  }

  .sub-filter-header {
    font-size: 20px;
    margin-top: 0px;
  }

  .dslr-hub__main-area {
    width: calc(100% - 250px);
  }

  .sub-filter-wrapper {
    justify-content: flex-end;
    width: calc(100% - 100px);
  }

  .main-area__sub-filter-area {
    margin: 0px 0px 30px 15px;
  }

  .main-area__items-area {
    margin: 15px 0px;
  }

  .main-area__items-area .item {
    margin: 15px;
  }

  .technical-filter--max__item {
    font-size: 16px;
  }

  .main-area__items-area .item:last-child {
    margin-left: 15px;
    margin-right: 15px;
  }
}
