/* Header */
.header {
  padding: 30px 0 10px;
  position: absolute;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in;
}
.nav-mobi {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: white;
  height: 100vh;
  padding: 6rem 3rem;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.nav-shortcut {
  display: none;
  cursor: pointer;
}
.nav-shortcut div {
  width: 2.5rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.5rem;
}
.header-remove {
  transform: translateY(-100%);
}
.header-add {
  transform: translateY(0%);
}
.nav-mobi-inner {
  padding-right: 3.5rem;
}
.nav-mobi-inner > img {
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.navmobi {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.navmobi li {
  padding: 1rem 0;
  border-bottom: 1px solid #777777;
}
.navmobi li a {
  color: #282828;
  font-weight: bold;
}
.mobi-social-links {
  display: flex;
  margin-bottom: 2.5rem;
}
.mobi-social-links li a {
  color: #282828;
  outline: none;
  margin-right: 1.5rem;
}
.mobi-social-links li a i {
  font-size: 1.5rem;
}
.navmobi li a:hover,
.mobi-social-links li a:hover {
  color: #ffc311;
}
.mobi-user-box {
  border-radius: 0 !important;
  display: flex !important ;
  justify-content: space-around !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 2rem !important;
}
.mobi-user-box a {
  border: none !important;
}
.nav-close-icon {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-close-icon p {
  content: "x";
  color: white;
  font-size: 3rem;
}
.nav-close-icon:hover {
  background-color: #ffc311;
  cursor: pointer;
}
.search {
  padding-right: 15px;
}
.search input {
  border-radius: 20px;
  border: 2px solid white;
  outline: none;
  padding-left: 10px;
  height: 20px;
  width: 150px;
  visibility: hidden;
}
.search input:focus {
  border: 2px solid #ffc311;
  transition: 0.3s;
}
.search button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
  padding-left: 10px;
}
.search button:hover {
  color: #ffc311;
}
.social-links > li {
  font-size: 2rem;
}
.social-links > li:hover i {
  color: #ffc311;
}
.social-links > li > a {
  padding-right: 15px;
}
.social-links > li > a > i {
  color: white;
  font-size: 1.5rem;
}
.user-box {
  display: inline-block;
  margin-left: 10px;
  background-color: #ffc311;
  padding: 0 10px;
  border-radius: 50px;
  height: 30px;
}
.user-box a {
  padding: 5px 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
.user-box a:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.user-box a:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.user-box a:hover {
  cursor: pointer;
}
.cart-icon {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
}
.cart-icon:hover {
  color: #ffc311;
}
.navbar-menu {
  padding: 15px 0;
}
.nav-item {
  color: white;
  padding-left: 50px;
  font-weight: 600;
  font-size: 1.3rem;
}
.nav-item i {
  font-size: 1rem;
  padding-left: 5px;
}
.carousel {
  padding: 0;
  z-index: 4;
}
.carousel-caption {
  max-width: 100%;
  width: 80%;
  left: 10%;
  top: 150px;
}
.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 0;
}
.carousel-inner > .item > img {
  width: 100%;
  filter: brightness(80%);
}
.game-details {
  margin-bottom: 20px;
}
.game-details > li > ul > li > a {
  font-size: 1.2rem;
}
.game-details > li > ul > li > a:hover {
  color: #ffc311;
}
.game-details > li > ul > li:nth-child(1)::after {
  content: ",";
}
.game-details > li > i {
  color: #ffc311;
  padding-right: 10px;
}
.platform {
  margin-right: 50px;
}
.title {
  font-family: title-font;
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 30px;
}
.text {
  font-size: 15px;
  margin-bottom: 40px;
}
.button-style a {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 20px;
  border-bottom: 1px solid white;
}
.button-style a:nth-child(1) {
  margin-right: 40px;
}
.button-style a:hover {
  color: #ffc311;
  border-bottom: 1px solid #ffc311;
}
.carousel-indicators > li {
  margin-right: 20px !important;
}
.slider {
  width: 100%;
  margin-bottom: 95px;
}
.row {
  width: 100%;
}
/* Body */
/* Main content */
.main-content {
  margin-bottom: 90px;
}
.main-content-item:first-child {
  margin-left: 0;
}
.main-content-item {
  position: relative;
  background: black;
}
.inner {
  position: relative;
  z-index: 2;
}
#main-content-item-1::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background: url(../img/content-img-1.jpg) center center no-repeat;
  background-size: cover;
}
#main-content-item-2::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background: url(../img/content-img-2.jpg) center center no-repeat;
  background-size: cover;
}
#main-content-item-3::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background: url(../img/content-img-3.jpg) center center no-repeat;
  background-size: cover;
}
.main-content-item > .inner {
  padding: 45px;
}
.main-content-item > .inner > .content-title {
  font-weight: bold;
  color: #ffc311;
  margin-bottom: 10px;
}
.main-content-item > .inner > .name {
  font-family: text-font-black;
  font-size: 2.8rem;
  color: white;
  margin-bottom: 20px;
}
.main-content-item > .inner > .text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 15px;
  height: 5rem;
  overflow: hidden;
}
.main-content-item > .inner > .button-style-1 > a {
  font-size: 1.4rem;
  font-weight: bold;
}
.slider-button a {
  margin-right: 0 !important;
}
.slider-button {
  padding: 0 5rem;
}
/* Category */
.categorized-games {
  margin-bottom: 90px;
}
.categorized-games-tab {
  margin-bottom: 45px;
}
.categorized-games-tab > li {
  margin-right: 20px;
}
.categorized-games-tab > li:last-child {
  margin-right: 0;
}
.categorized-games-tab-content {
  width: 100%;
  margin-left: 0;
}
.platform-btn a {
  color: #ffc311;
  text-decoration: none;
}
.platform-btn:hover a {
  background-color: #ffc311 !important;
}
.platform-btn.active a {
  color: white;
}
.game {
  margin-bottom: 2rem;
}
.game > .poster {
  position: relative;
  margin-bottom: 15px;
}
.poster a img {
  width: 100%;
}
.game > .poster > .gerne {
  position: absolute;
  bottom: 7%;
  right: 7%;
}
.game > .poster > .gerne > ul {
  display: flex;
  margin-right: 10px;
}
.game > .poster > .gerne > ul > li a {
  font-size: 1.2rem;
}
.game > .poster > .gerne > ul > li:first-child > a:after {
  content: ",";
  padding-right: 5px;
}
.game > .poster > .gerne > i {
  color: #ffc311;
  font-size: 1.2rem;
}
.game > .content > .game-title {
  margin-bottom: 7px;
}
.game > .content > .game-title > a {
  color: black;
  font-family: text-font-black;
  font-size: 2.3rem;
  margin-bottom: 13px;
}
.game > .content > .game-detail {
  margin-bottom: 10px;
}
.game > .content > .game-detail > .platform > i {
  color: #ffc311;
  margin-right: 10px;
}
.game > .content > .game-detail > .platform > ul > li > a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #999999;
}
.game > .content > .game-detail > .platform > ul > li:first-child > a:after {
  content: ",";
}
.game > .content > .game-detail > .platform > ul > li > a:hover {
  color: #ffc311;
}
.game > .content > .summary {
  color: #999999;
  font-size: 1.2rem;
}
.game-list-button {
  margin-top: 25px;
}
.game-list-button a {
  font-size: 1.3rem;
}
/* Game search */
.game-search {
  width: 100%;
  padding: 0;
  background: url(../img/game-seach-bg.png) center center no-repeat;
}
.game-search-wrapper {
  padding: 50px 0 40px;
}
.inner-item > .item {
  width: 15%;
  margin-bottom: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  height: auto;
  display: block;
}
.inner-item > .game-title {
  font-family: title-font;
  color: white;
  font-size: 3rem;
  width: max-content;
}
.game-keyword > input {
  outline: none;
  padding: 13px 20px;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  line-height: 1.5;
  height: auto;
}
.game-keyword > input::placeholder {
  color: white;
}
.form-select {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  color: white;
  padding: 13px 20px;
  margin-right: 10px;
  font-size: 1.5rem;
}
.form-select:focus {
  border-color: white;
  border-radius: 0;
  box-shadow: none;
}
.form-select > .select-title {
  color: white;
}
.form-select > .select-option {
  color: black;
}
.submit > button {
  padding: 13px 20px;
  color: #ffc311;
  background-color: white;
  border: 1px solid white;
  text-transform: uppercase;
  font-family: text-font-bold;
  width: 100%;
  line-height: 1.5;
  outline: none;
}
.submit > button:hover {
  background-color: black;
  border: 1px solid black;
  transition: 0.3s;
}
/* Other-content */
.other-content {
  margin-bottom: 120px;
  width: 100%;
  position: relative;
  background: black;
  overflow: hidden;
}
.other-content-inner {
  position: relative;
  z-index: 2;
}
.other-content::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  background: url(../img/release-bg.jpg) center center no-repeat;
  background-size: cover;
}
.inner-text {
  width: 50%;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 8%;
}
.text-title p {
  font-size: 5rem;
  font-family: text-font-black;
  line-height: 1.1;
}
.text-title {
  margin-bottom: 50px;
}
.text-content {
  margin-bottom: 35px;
  /* color: white; */
  font-size: 1.3rem;
  line-height: 1.5;
}
.btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0;
}
.btn-left {
  margin-right: 70px;
}
/* Featured game */
.featured-game {
  margin-bottom: 100px;
}
.featured-game-item {
  width: calc((100% - 40px) / 3);
  padding: 0 10px;
}
.poster {
  overflow: hidden;
  position: relative;
}
.poster a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.game-title {
  font-size: 2.5rem;
  font-family: title-font;
  margin-bottom: 10px;
}
.game-title a {
  font-size: 2.5rem;
  font-family: title-font;
  color: black;
}
.poster-hover {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  text-align: center;
  color: black;
}
.poster-inner {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
}

.poster-hover {
  color: white;
  font-family: title-font;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.poster:hover .poster-inner {
  transform: translateY(200%);
  transition: 0.5s;
}
.poster:hover .poster-hover {
  transform: translateX(-100%);
  transition: 0.5s;
}
.featured-game-info > ul:first-child {
  margin-right: 20px;
}
.featured-game-info > ul > i {
  color: #ffc311;
  margin-right: 2px;
}
.featured-game-info > ul > li {
  font-size: 1rem;
  color: white;
}
/* Blog & News */
.blog-news-wrapper {
  background-color: rgb(191, 194, 200, 0.15);
  padding-top: 70px;
  padding-bottom: 70px;
}
.blog-news-item {
  width: 30%;
}
.blog-news-title {
  padding: 15px 0;
}
.blog-news-title a {
  font-size: 2.6rem;
  font-family: text-font-black;
  color: black;
}
.blog-news-title a:hover {
  color: #ffc311;
}
.blog-news-content {
  font-size: 1.3rem;
  color: #424242;
  padding-bottom: 20px;
}
.blog-news-item ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
}
.blog-news-item ul li i {
  padding-right: 10px;
  color: #ffc311;
  font-size: 2rem;
}
.blog-news-item ul li a {
  color: #424242;
  font-size: 1.2rem;
}
.blog-news-item ul li:first-child {
  margin-left: 0;
}
.blog-news-author a img {
  font-size: 2rem;
  padding-right: 10px;
}
.blog-news-item ul li span {
  color: #424242;
  font-size: 1.2rem;
}
.blog-news-author a span:hover {
  color: #ffc311;
}
.type a:hover {
  color: #ffc311;
}
/* About-us */
.about-us::before {
  background-image: url(../img/about-us.jpg);
}
.about-us-inner {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 8%;
  padding-right: 8%;
}
.about-us-inner .inner-img {
  width: 40%;
  object-fit: cover;
  padding-right: 5%;
}
.about-us-inner .inner-text {
  padding: 0;
  width: 50%;
}
/* Game shop */
.game-shop-item {
  width: 30%;
}
.game-shop-inner {
  margin-bottom: 100px;
}
.game-shop-item a img {
  margin-bottom: 25px;
}
.game-shop-title,
.game-shop-price {
  color: black;
  font-family: text-font-black;
  font-size: 2.6rem;
}
.game-shop-title {
  width: max-content;
}
.game-shop-price,
.game-shop-title:hover {
  color: #ffc311;
}
/* Newsletter */
.newsletter {
  width: 100%;
  position: relative;
  background: #ffc311;
  overflow: hidden;
}
.newsletter-inner {
  position: relative;
  z-index: 2;
  padding-top: 75px;
  padding-bottom: 75px;
}
.newsletter::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url(../img/newsletter.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.newsletter-title {
  font-family: title-font;
  font-size: 3rem;
  color: white;
}
.newsletter-input > input {
  outline: none;
  padding: 13px 20px;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  line-height: 1.5;
  height: auto;
}
.newsletter-wrapper button,
.newsletter-wrapper button:hover {
  border: none;
}
.newsletter-input > input::placeholder {
  color: white;
}
.newsletter-wrapper > .item {
  width: 18%;
}
/* Social media */
.social-media-item {
  width: max-content;
}
.social-media-section > ul {
  padding-top: 75px;
  padding-bottom: 35px;
}
.social-media-section > ul > li > a > span {
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.social-media-section > ul > li > a > i {
  font-size: 3.5rem;
  color: #ffc311;
  display: block;
  text-align: center;
  padding-bottom: 15px;
}
.social-media-section > ul > li > a {
  display: inline-block;
  padding: 0;
}
.social-media-section > ul > li > a:hover span {
  color: #ffc311;
}
/* Footer */
.footer-wrapper {
  background-color: #111111;
  padding-top: 10rem;
  padding-bottom: 7rem;
}
.column > .section-title,
.column > .section-title span {
  font-size: 2.5rem;
}
.column > .section-title {
  color: white;
  text-align: left;
  margin-bottom: 2.5rem;
}
.column-text p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.footer-menu > ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu > ul > li {
  width: 50%;
  padding: 1rem 0;
}
.footer-menu > ul > li > i {
  font-size: 1.5rem;
  color: #ffc311;
  padding-right: 0.5rem;
}
.column-item {
  width: 100%;
  margin-bottom: 2rem;
}
.column-item a {
  width: 30%;
  margin-right: 2rem;
}
.column-item-title {
  padding: 0;
  margin-bottom: 0.5rem;
}
.column-item-title a {
  font-size: 1.3rem;
  color: white;
}
.column-item-text > ul > li > i {
  font-size: 1.2rem;
}
.column-item-text > ul > li > span {
  color: white;
  font-size: 1rem;
}
.platform-name {
  font-weight: bolder;
}
.our-info {
  margin-bottom: 3.5rem;
}
.our-info li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.our-info li i {
  font-size: 1.3rem;
  color: #ffc311;
  padding-right: 1.5rem;
}
.our-info li p {
  font-size: 1.4rem;
  color: white;
}
.our-info-content {
  font-size: 1.4rem;
  color: white;
}
/* Copyright */
.copyright-logo a img {
  width: 15rem;
}
.copyright-text {
  color: white;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.copyright-content {
  width: max-content;
  display: flex;
  align-items: center;
}
.copyright {
  padding: 1.5rem 0;
  background-color: black;
}
.copyright-inner {
  padding: 0 1rem;
  justify-content: space-between;
}
.copyright-nav ul li {
  font-size: 1.2rem;
}
.copyright-nav ul li a {
  padding: 0.65rem 1.3rem;
}
.copyright-nav ul li:first-child a {
  color: #ffc311;
}
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
  transform: translateX(100%);
  transition: all 0.2s ease-in;
}
/* Login-form */
#overlay-form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffc311;
  z-index: 25;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}
.login-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 25;
  background: white;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100%);
}
.login-form {
  width: 50rem;
  top: 15rem;
  margin-top: 10rem;
}
.login-title {
  font-family: title-font;
  font-size: 4.5rem;
  margin-bottom: 4rem;
  text-align: center;
}
.login-content {
  flex-direction: column;
}
.login-content input {
  padding: 1.3rem 2rem;
  margin-bottom: 2rem;
  border: 1px solid #eeeeee;
  outline: none;
}
.login-content input::placeholder {
  font-size: 1.3rem;
  color: #cccccc;
  font-weight: bold;
}
.login-content label {
  color: #777777;
}
.login-content a {
  background: #ffc311;
  width: max-content;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}
.login-content a:hover {
  background-color: black;
  color: white;
}
.login-bottom a {
  color: #424242;
}
.login-bottom a:hover {
  color: #ffc311;
}
.login-close {
  padding: 1rem 2.3rem;
  background-color: black;
  width: min-content;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.login-close:hover {
  background-color: #ffc311;
  transition: 0.3s;
}
.login {
  padding: 0 !important;
  background-color: transparent !important;
  text-transform: none !important;
  color: #0674ec;
}
.login:hover {
  color: #ffc311 !important;
}
@media screen and (max-width: 1199.98px) {
  /* Slider */
  .title {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
  }
  .carousel-caption {
    top: 120px;
  }
  /* Main content */
  .main-content-item > .inner > .name {
    font-size: 2.5rem;
  }
  /* Featured game */
  .featured-game-info {
    flex-direction: column;
  }
  .featured-game-info > ul {
    width: 100%;
  }
  .featured-game-info > ul:first-child {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  /* Other */
  .social-links {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .column {
    height: max-content;
    margin-bottom: 3rem;
  }
  .copyright-inner,
  .copyright-content {
    flex-direction: column;
  }
  .copyright-content {
    margin-bottom: 2rem;
  }
  .app-platform > li > a > div > p:first-child {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .header {
    padding: 0;
    background-color: white;
    position: fixed;
    top: 0;
  }
  .nav-shortcut {
    display: block;
  }
  .main-header > .contents {
    display: none;
  }
  .main-header {
    align-items: center;
  }
  .carousel-caption {
    width: 100% !important;
    left: 5%;
    top: 20%;
  }
  .game-details {
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .text {
    margin-bottom: 2rem;
  }
  .slider-button {
    padding: 0 1.5rem;
  }
  .slider {
    margin-bottom: 4.5rem;
  }
  .main-content {
    margin-bottom: 2rem;
    width: 95%;
  }
  .main-content-item {
    margin-bottom: 2rem;
  }
  .inner-item {
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }
  .inner-item .item {
    width: calc(100% / 3);
    padding: 1rem;
  }
  .featured-game-item {
    width: calc(100% / 3);
  }
  .inner-img {
    display: none;
  }
  .inner-text {
    width: 100% !important;
  }
  .newsletter-inner {
    padding-top: 5rem;
  }
  .newsletter-wrapper .item {
    width: calc((100% - 30px) / 4);
  }
  .newsletter-title {
    width: 100% !important;
    text-align: center;
    padding-bottom: 2rem;
  }
  .header {
    padding: 1.5rem 0;
  }
  .carousel-inner .item {
    height: 40rem;
  }
  .carousel-inner .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .categorized-games-tab {
    justify-content: flex-start;
  }
  .categorized-games-tab li {
    margin: 0 1rem 1rem 1.5rem !important;
    width: calc((100% - 9rem) / 3);
  }
  .app-platform li a i {
    font-size: 1rem;
  }
  .footer-inner {
    width: 100%;
  }
  .game-shop-inner {
    width: 95%;
  }
  .carousel-caption {
    left: 5%;
    width: 90% !important;
  }
}
@media screen and (max-width: 767.98px) {
  .carousel-inner .item {
    height: 35rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .featured-game-item {
    width: 100%;
  }
  .blog-news-item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .social-links {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .social-links li a span {
    display: none;
  }
  .game-shop-inner {
    flex-wrap: wrap;
  }
  .game-shop-item {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .game-shop-item a img {
    width: 100%;
  }
}
