/* Header */
.header {
  padding: 30px 0 10px;
  position: absolute;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in;
}
.nav-mobi {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: white;
  height: 100vh;
  padding: 6rem 3rem;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.nav-shortcut {
  display: none;
  cursor: pointer;
}
.nav-shortcut div {
  width: 2.5rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.5rem;
}
.header-remove {
  transform: translateY(-100%);
}
.header-add {
  transform: translateY(0%);
}
.nav-mobi-inner {
  padding-right: 3.5rem;
}
.nav-mobi-inner > img {
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.navmobi {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.navmobi li {
  padding: 1rem 0;
  border-bottom: 1px solid #777777;
}
.navmobi li a {
  color: #282828;
  font-weight: bold;
}
.mobi-social-links {
  display: flex;
  margin-bottom: 2.5rem;
}
.mobi-social-links li a {
  color: #282828;
  outline: none;
  margin-right: 1.5rem;
}
.mobi-social-links li a i {
  font-size: 1.5rem;
}
.navmobi li a:hover,
.mobi-social-links li a:hover {
  color: #ffc311;
}
.mobi-user-box {
  border-radius: 0 !important;
  display: flex !important ;
  justify-content: space-around !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 2rem !important;
}
.mobi-user-box a {
  border: none !important;
}
.nav-close-icon {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-close-icon p {
  content: "x";
  color: white;
  font-size: 3rem;
}
.nav-close-icon:hover {
  background-color: #ffc311;
  cursor: pointer;
}
.search {
  padding-right: 15px;
}
.search input {
  border-radius: 20px;
  border: 2px solid white;
  outline: none;
  padding-left: 10px;
  height: 20px;
  width: 150px;
  visibility: hidden;
}
.search input:focus {
  border: 2px solid #ffc311;
  transition: 0.3s;
}
.search button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
  padding-left: 10px;
}
.search button:hover {
  color: #ffc311;
}
.social-links > li {
  font-size: 2rem;
}
.social-links > li:hover i {
  color: #ffc311;
}
.social-links > li > a {
  padding-right: 15px;
}
.social-links > li > a > i {
  color: white;
  font-size: 1.5rem;
}
.user-box {
  display: inline-block;
  margin-left: 10px;
  background-color: #ffc311;
  padding: 0 10px;
  border-radius: 50px;
  height: 30px;
}
.user-box a {
  padding: 5px 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
.user-box a:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.user-box a:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.user-box a:hover {
  cursor: pointer;
}
.cart-icon {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
}
.cart-icon:hover {
  color: #ffc311;
}
.navbar-menu {
  padding: 15px 0;
}
.nav-item {
  color: white;
  padding-left: 50px;
  font-weight: 600;
  font-size: 1.3rem;
}
.nav-item i {
  font-size: 1rem;
  padding-left: 5px;
}
/* Login-form */
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
  transform: translateX(100%);
  transition: all 0s ease-in-out;
}
#overlay-form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffc311;
  z-index: 25;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}
.login-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  background: white;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100%);
}
.login-form {
  width: 50rem;
  top: 15rem;
  margin-top: 10rem;
}
.login-title {
  font-family: title-font;
  font-size: 4.5rem;
  margin-bottom: 4rem;
  text-align: center;
}
.login-content {
  flex-direction: column;
}
.login-content input {
  padding: 1.3rem 2rem;
  margin-bottom: 2rem;
  border: 1px solid #eeeeee;
  outline: none;
}
.login-content input::placeholder {
  font-size: 1.3rem;
  color: #cccccc;
  font-weight: bold;
}
.login-content label {
  color: #777777;
}
.login-content a {
  background: #ffc311;
  width: max-content;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}
.login-content a:hover {
  background-color: black;
  color: white;
}
.login-bottom a {
  color: #424242;
}
.login-bottom a:hover {
  color: #ffc311;
}
.login-close {
  padding: 1rem 2.3rem;
  background-color: black;
  width: min-content;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.login-close:hover {
  background-color: #ffc311;
  transition: 0.3s;
}
.login {
  padding: 0 !important;
  background-color: transparent !important;
  text-transform: none !important;
  color: #0674ec;
}
.login:hover {
  color: #ffc311 !important;
}
/* Main */
.page-info {
  background: url(../img/page-info-bg.jpg) center center no-repeat;
  background-size: cover;
}
.page-info-inner {
  padding-top: 15rem;
  padding-bottom: 8rem;
}
.page-title {
  font-size: 4.5rem;
  color: white;
  font-family: title-font-vn;
  letter-spacing: 0.2rem;
}
.mybreadcrumb {
  margin-top: 1.5rem;
}
.mybreadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: ">\00a0";
}
.mybreadcrumb li:last-child span {
  color: #ffc311;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ffc311;
}
/* Footer */
.footer-wrapper {
  background-color: #111111;
  padding-top: 10rem;
  padding-bottom: 7rem;
}
.column > .section-title,
.column > .section-title span {
  font-size: 2.5rem;
}
.column > .section-title {
  color: white;
  text-align: left;
  margin-bottom: 2.5rem;
}
.column-text p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.footer-menu > ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu > ul > li {
  width: 50%;
  padding: 1rem 0;
}
.footer-menu > ul > li > i {
  font-size: 1.5rem;
  color: #ffc311;
  padding-right: 0.5rem;
}
.column-item {
  width: 100%;
  margin-bottom: 2rem;
}
.column-item a {
  width: 30%;
  margin-right: 2rem;
}
.column-item-title {
  padding: 0;
}
.column-item-title a {
  font-size: 1.3rem;
  color: white;
}
.column-item-text > ul > li > i {
  font-size: 1.2rem;
}
.column-item-text > ul > li > span {
  color: white;
  font-size: 1rem;
}
.app-platform > .row > li > a > i {
  font-size: 2rem;
  padding-right: 1rem;
}
.app-platform > .row > li > a > div > p {
  color: white;
  font-size: 1.2rem;
  text-transform: none;
}
.app-platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app-platform > .row > li {
  width: calc((100% - 1rem) / 2);
  padding-bottom: 2rem;
}
.app-platform > .row > li > a {
  display: flex;
  padding: 1.5rem 2rem;
  margin-right: 0;
  border: 1px solid white;
  align-items: center;
}
.app-platform > .row > li > a > div {
  font-size: 1.3rem;
}
.app-platform > .row > li > a:hover {
  background-color: #ffc311;
}
.app-platform > .row > li > a:hover > i {
  color: white;
}
.platform-name {
  font-weight: bolder;
}
.our-info {
  margin-bottom: 3.5rem;
}
.our-info li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.our-info li i {
  font-size: 1.3rem;
  color: #ffc311;
  padding-right: 1.5rem;
}
.our-info li p {
  font-size: 1.4rem;
  color: white;
}
.our-info-content {
  font-size: 1.4rem;
  color: white;
}
.column-item-title a{
  font-family: text-font-black;
}
.column-item-title a:hover,
.column-item-text i{
  color: #ffc311;
}
/* Copyright */
.copyright-logo a img {
  width: 15rem;
}
.copyright-text {
  color: white;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.copyright-content {
  width: max-content;
  display: flex;
  align-items: center;
}
.copyright {
  padding: 1.5rem 0;
  background-color: black;
}
.copyright-inner {
  padding: 0 1rem;
  justify-content: space-between;
}
.copyright-nav ul li {
  font-size: 1.2rem;
}
.copyright-nav ul li a {
  padding: 0.65rem 1.3rem;
}
.copyright-nav ul li:first-child a {
  color: #ffc311;
}
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
}
@media screen and (max-width: 1199.98px) {
  .column {
    height: max-content;
    margin-bottom: 3rem;
  }
  .copyright-inner,
  .copyright-content {
    flex-direction: column;
  }
  .copyright-content {
    margin-bottom: 2rem;
  }
  .app-platform > li > a > div > p:first-child {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .header {
    padding: 0;
    background-color: white;
    position: fixed;
    top: 0;
  }
  .nav-shortcut {
    display: block;
  }
  .main-header > .contents {
    display: none;
  }
  .main-header {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .social-links {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .social-links li a span {
    display: none;
  }
}
