.anh-bia {
    max-height: 400px;
    overflow-y: hidden;
}

.content-order {
    max-width: 1200px;
    margin: auto;
    padding: 0px 50px;
    margin-top: 20px;
}

.order-upper {
    margin-bottom: 24px;
}

.title-order-part {
    background-color: #08bbb7;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
}

.content-order-part {
    background-color: rgba(119, 119, 119, 0.2);
    padding: 20px 30px;
}

.input-order {
    margin-bottom: 20px;
}

.order-address .name-input-order {
    margin-bottom: 5px;
}

.special-name {
    color: red;
}

.input-order input {
    width: 100%;
}

.filter-content {
    color: black;
}

.filter-box {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.filter-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 3px;
    transform: translate(0%, -50%);
}

/* On mouse-over, add a grey background color */

.filter-box:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.filter-box input:checked~.checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.filter-box input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.radio .checkmark {
    border-radius: 100%;
}

.radio .checkmark::after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #068F8C;
}

.order-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-payment .filter-content {
    border-bottom: 1px solid black;
}

.warning-line-payment {
    margin: 10px 0px;
    font-weight: 500;
}

.content-order-part table {
    width: 100%;
    text-align: center;
}

.content-order-part table td:first-child {
    text-align: left;
}

.content-order-part table th {
    padding-bottom: 15px;
}

.content-order-part table td {
    padding: 15px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.end-order-part {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.split-part {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.end-order {
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    min-width: 400px;
}

.price {
    text-align: right;
}

.make-order-btn {
    display: flex;
}

.make-order-btn button{
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    padding: 10px 0px;
    margin-top: 20px;
    margin-left: auto;
    outline: none;
}

@media only screen and (max-width: 992px) {
    .content-order {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .order-other {
        margin-top: 20px;
    }

    .order-payment {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .end-order {
        min-width: 100%;
    }
}