
<div class="card item"><img class="card-img-top" src="img/img--camera-body/canon-eos-5d-mark-iv-card.jpg" alt=""/>
  <div class="card-body text-center">
    <p class="card-title font-weight-bold font-18">Canon EOS 5D Mark IV<br/><span class="font-italic font font-weight-light font-13">(Mới 100% fullbox)</span></p>
    <p class="card-text price font-weight-bold">50.090.000đ</p>
    <p class="card-text sale-text font-weight-bold"><span class="old-price">58.090.000đ</span><span class="sale-badge"><img src="img/img--misc/badge--sale.png" alt=""/></span><span class="sale-amount font-italic font-12">(Giảm 8.000.000đ)</span></p><a class="btn btn--dark seemore-btn" href="details.html">Xem chi tiết </a>
  </div>
</div>