footer.dark-side#footer 
  .container.px-sm-5.mw-900.d-flex.flex-column.justify-content-center.align-items-center
    img.footer__logo(src="img/img--misc/logo-white.png", alt="halo thế giới máy ảnh")  

    ul.footer__menu.d-flex.justify-content-between.align-items-center
      li.footer__item.d-flex.justify-content-center.align-items-center
        a.footer__link.text-center.font-weight-bold(href="#") Giới thiệu

      li.footer__item.d-flex.justify-content-center.align-items-center
        a.footer__link.text-center.font-weight-bold(href="#") Hỗ trợ

      li.footer__item.d-flex.justify-content-center.align-items-center
        a.footer__link.text-center.font-weight-bold(href="#") Chính sách

      li.footer__item.d-flex.justify-content-center.align-items-center
        a.footer__link.text-center.font-weight-bold(href="#") Liên hệ
    
    p.footer__info
      | Địa chỉ: Tầng 12A, tòa nhà Viwaseen Tower, số 48, Tố Hữu, Hà Nội
      br
      | Tổng đài tư vấn mua hàng: 099.999.9999
      br 
      | Email: info@halo.vn / ducnt444@gmail.com
      br 
      | ĐKKD số 0123456789 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp ngày 01/01/2021

    p.copyright.font-italic Bản quyền thuộc Công ty TNHH HALO Việt Nam