<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/halo/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Trang chủ</title>
  </head>
  <body>
    <!--include header.pug-->
    <main>
      <div class="carousel slide" id="main-carousel" data-ride="carousel" data-interval="false" data-touch="true">
        <!--indicators: 3 nút định vị trang-->
        <ul class="carousel-indicators">
          <li class="active" data-target="#main-carousel" data-slide-to="0"></li>
          <li data-target="#main-carousel" data-slide-to="1"></li>
          <li data-target="#main-carousel" data-slide-to="2"></li>
        </ul>
        <!--nội dung carousel-->
        <div class="carousel-inner">
          <div class="carousel-item banner-1 container-fluid p-0 active">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-1">
                  <p class="logo-canon">Canon</p>
                  <p class="eos-r">EOS R</p>
                  <div class="progress" style="height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                </div>
                <p class="carousel-header">ĐỊNH NGHĨA LẠI </p>
                <p class="carousel-header">CHUẨN MỰC HÌNH ẢNH HIỆN ĐẠI</p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img"></div>
              <div class="carousel-caption__extra hidden-till-md">
                <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-1-extra-1.png" alt="">
                  <p class="extra-text">LẤY NÉT TỰ ĐỘNG DUAL PIXEL CMOS </p>
                </div>
                <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-1-extra-2.png" alt="">
                  <p class="extra-text">TỐI ƯU HÓA ĐIỀU KHIỂN </p>
                </div>
                <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-1-extra-3.png" alt="">
                  <p class="extra-text">QUAY VIDEO ĐA CHẾ ĐỘ ĐỘ PHÂN GIẢI 4K</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item banner-2 container-fluid p-0">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-2">
                  <div class="progress hidden-till-md" style="width: 150px; height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                  <div class="logo-sony-a9-wrapper">
                    <p class="logo-sony">SONY</p><img class="a9-logo" src="img/carousel-img/a9-logo.png" alt="">
                  </div>
                  <div class="progress display-till-md" style="height: 5px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px"></div>
                  </div>
                </div>
                <div class="carousel-caption__extra hidden-till-md">
                  <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-2-extra-1.png" alt=""></div>
                  <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-2-extra-2.png" alt=""></div>
                  <div class="extra"><img class="extra-img" src="img/carousel-img/carousel-2-extra-3.png" alt=""></div>
                </div>
                <p class="carousel-header display-till-md">SỰ HOÀN HẢO</p>
                <p class="carousel-header hidden-till-md">Sự hoàn hảo chưa bao giờ ở gần đến vậy</p>
                <p class="carousel-header display-till-md">CHƯA BAO GIỜ GẦN ĐẾN VẬY</p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img"></div>
            </div>
          </div>
          <div class="carousel-item banner-3 container-fluid p-0">
            <div class="carousel-caption container-xl pb-0 px-0 px-md-5 px-xl-0">
              <h1 class="carousel-title font-weight-bold">Tiêu điểm tháng 1</h1>
              <div class="carousel-caption__text">
                <div class="logo-wrapper-3">
                  <p class="logo-sony">SONY</p><span class="collab"><i class="fas fa-times"></i></span><img class="lotr-logo" src="img/carousel-img/lotr-logo.png" alt="">
                </div>
                <div class="carousel-caption__img--triple hidden-till-md">
                  <div class="carousel-caption__img"></div>
                  <div class="carousel-caption__img"></div>
                  <div class="carousel-caption__img"></div>
                </div>
                <p class="carousel-header font-italic font-weight-normal">"Một ngàm cho tất cả"</p>
                <p class="carousel-header">Kết nối mọi thứ với ngàm E-mount của <span class="logo-sony-inline">SONY</span></p>
                <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
              </div>
              <div class="carousel-caption__img display-till-md"></div>
            </div>
          </div><a class="carousel-control-prev" href="#main-carousel" data-slide="prev"><img src="img/misc-img/prev-arrow-xs-v2.png"></a><a class="carousel-control-next" href="#main-carousel" data-slide="next"><img src="img/misc-img/next-arrow-xs-v2.png"></a>
        </div>
      </div>
      <section class="intro intro--camera">
        <div class="container-xl px-sm-5 px-xl-0">
          <div class="row">
            <div class="intro__text d-flex flex-column justify-content-center col-md">
              <h1>Máy ảnh DSLR/Mirrorless</h1>
              <h3 class="font-italic">
                 Phá bỏ giới hạn từ chiếc máy ảnh du lịch giá rẻ<br>và cả smartphone đắt tiền của bạn</h3>
              <button class="btn btn--dark seemore-btn" type="button">Xem chi tiết</button>
            </div>
            <div class="intro__img col-md"><img src="img/body-img/camera-intro-imgv2.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="intro intro--lens dark-side">
        <div class="container-xl px-sm-5 px-xl-0">
          <div class="row">
            <div class="intro__text d-flex flex-column justify-content-center col-md">
              <h1>Ống kính máy ảnh</h1>
              <h3 class="font-italic">Góc nhìn mới, cảm nhận mới, thế giới mới</h3>
              <button class="btn btn--light seemore-btn" type="button">Xem chi tiết</button>
            </div>
            <div class="intro__img col-md"><img src="img/lens-img/lens-intro-imgv2.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="intro intro--equip">
        <div class="container-xl px-sm-5 px-xl-0 mw-900">
          <div class="intro__text d-flex flex-column">
            <h1>Phụ kiện máy ảnh</h1>
            <h3 class="font-italic">Dù “pro” đến mấy cũng cần các trợ thủ đắc lực</h3>
          </div>
          <div class="intro__img display-till-md"><img src="img/equip-img/equip-intro--min.png" alt=""></div>
          <div class="intro__img card-columns hidden-till-md">
            <div class="card"><img class="card-img" src="img/equip-img/equip-1.png" alt=""></div>
            <div class="card"><img class="card-img" src="img/equip-img/equip-5.png" alt=""></div>
            <div class="card"><img class="card-img" src="img/equip-img/equip-3.jpg" alt=""></div>
            <div class="card"><img class="card-img" src="img/equip-img/equip-4.png" alt=""></div>
          </div>
          <button class="btn btn--dark seemore-btn mx-auto" type="button">Xem chi tiết</button>
        </div>
      </section>
      <section class="specials dark-side">
        <div class="container-xl px-sm-5 px-xl-0 d-flex flex-column align-items-center">
          <h1>Đối tác chiến lược</h1>
          <div class="brands__img row"><img class="brands-item col-6 col-md-3" src="img/misc-img/brands-sony.png" alt=""><img class="brands-item col-6 col-md-3" src="img/misc-img/brands-nikon.png" alt=""><img class="brands-item col-6 col-md-3" src="img/misc-img/brands-canon.png" alt=""><img class="brands-item col-6 col-md-3" src="img/misc-img/brands-sigma.png" alt=""></div>
          <div class="brands__text">
            <h3 class="font-italic text-center mw-900">Là đối tác chiến lược của Sony, Canon, Nikon và Sigma, HALO sẽ miễn phí nâng thời hạn bảo hành sản phẩm chính hãng của các thương hiệu này: <span class="font-weight-bold">từ 12 tháng lên 24 tháng</span></h3>
          </div>
          <h1>Chính sách độc quyền</h1>
          <div class="policy d-flex justify-content-between">
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center"><span class="font-weight-bold">Miễn phí </span>vận chuyển nội thành Hà Nội<br>(riêng phụ kiện: chỉ áp dụng với đơn hàng tổng giá trị trên 200,000 đ)</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="fas fa-truck"></i>
                <p class="font-weight-bold">FREE</p>
              </div>
            </div>
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center">Đổi mới sản phẩm hoặc<span class="font-weight-bold"> hoàn tiền 100% </span>giá trị sản phẩm trong 14 ngày nếu có lỗi từ nhà sản xuất</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="fas fa-history"></i>
                <p class="font-weight-bold">100%</p>
              </div>
            </div>
            <div class="policy__item border border-white d-flex flex-column justify-content-between">
              <p class="policy__text text-center">Hỗ trợ trả góp mọi sản phẩm với <span class="font-weight-bold">0% lãi suất </span><br>Hỗ trợ thanh toán trực tuyến, thẻ tín dụng, ví điện tử</p>
              <div class="policy__icon d-flex justify-content-center align-items-center"><i class="far fa-credit-card"></i>
                <p class="font-weight-bold">0%  </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="promo">
        <div class="container-xl px-sm-5 px-xl-0">
          <h1>Tin khuyến mại</h1>
          <div class="promo__collection row"><img class="promo-item col-md-4" src="img/misc-img/promo-img-1.jpg" alt=""><img class="promo-item col-md-4" src="img/misc-img/promo-img-2.jpg" alt=""><img class="promo-item col-md-4" src="img/misc-img/promo-img-1.jpg" alt=""></div>
          <button class="btn btn--dark seemore-btn mx-auto" type="button">Xem thêm</button>
        </div>
      </section>
      <section class="review dark-side">
        <div class="container-xl px-sm-5 px-xl-0 mw-900">
          <h1>HALO review</h1><a class="review-item d-flex" href=""><img class="review-item__img" src="img/misc-img/review-img-v2.png" alt="">
            <div class="review-item__content w-100 d-flex flex-column justify-content-between">
              <div class="review-header d-flex flex-wrap align-items-start align-content-start">
                <h2 class="w-100">Top 5 DSLR đáng mua năm 2021</h2>
                <p class="subtext font-italic font-weight-light">Trung Đức</p>
                <p class="subtext font-italic font-weight-light"><i class="far fa-clock mx-1 mx-sm-2"> </i>01/01/2021</p>
              </div>
              <p class="review-preview hidden-till-sm">Trên thị trường có rất nhiều máy ảnh DSLR đến từ các hãng lớn như Nikon, Canon, Sony,... lựa chọn một chiếc máy ảnh phù hợp là điều không đơn giản.</p>
            </div></a><a class="review-item d-flex" href="#"><img class="review-item__img" src="img/misc-img/review-img-v2.png" alt="">
            <div class="review-item__content w-100 d-flex flex-column justify-content-between">
              <div class="review-header d-flex flex-wrap align-items-start align-content-start">
                <h2 class="w-100">Top 5 DSLR đáng mua năm 2021</h2>
                <p class="subtext font-italic font-weight-light">Trung Đức</p>
                <p class="subtext font-italic font-weight-light"> <i class="far fa-clock mx-1 mx-sm-2"> </i>01/01/2021</p>
              </div>
              <p class="review-preview hidden-till-sm">Trên thị trường có rất nhiều máy ảnh DSLR đến từ các hãng lớn như Nikon, Canon, Sony,... lựa chọn một chiếc máy ảnh phù hợp là điều không đơn giản. </p>
            </div></a>
          <button class="btn btn--light seemore-btn mx-auto" type="button">Xem thêm        </button>
        </div>
      </section>
      <section class="connection">
        <div class="container-xl px-sm-5 px-xl-0">
          <h1 class="connection__header">Đăng ký để nhận tin mới nhất từ HALO</h1>
          <form class="connection__form d-flex justify-content-center" action="">
            <input class="connection__input" type="text" placeholder="Email của bạn...">
            <button class="btn connection__submit-btn btn-primary font-italic">Gửi</button>
          </form>
          <p class="connection__text text-center">Hoặc theo dõi chúng tôi tại</p>
          <div class="connection__socials d-flex justify-content-between mx-auto"><a class="socials__item d-block" href="#"><img src="img/misc-img/social-fb.png" alt=""></a><a class="socials__item d-block" href="#"><img src="img/misc-img/social-insta.png" alt=""></a><a class="socials__item d-block" href="#"><img src="img/misc-img/social-twitter.png" alt=""></a></div>
        </div>
      </section>
    </main>
    <footer class="dark-side"> 
      <div class="container mw-600 d-flex justify-content-center align-items-start"><img src="img/misc-img/logo-white.png" alt="">
        <p>ABCDE </p>
        <p>i </p>
        <p>o ==</p>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/d8c5e3f38e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>