#updates.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      // Modal Header
      .modal-header
        h1.modal-title What&apos;s new
        button.close(type='button' data-dismiss='modal') &times;
      // Modal body
      .modal-body
        ul 
          li.mb-3
            h2.font-weight-bold.text-left v1.1: 
            ul 
              li - Tối ưu mục review
              li - Fix bug mất viền item khi focus
              li - Giản lược animation

          li.mb-3
            h2.font-weight-bold.text-left v1.2: 
            ul 
              li - Mô phỏng đăng ký/đăng nhập/đăng xuất cơ bản (sử dụng local storage, chỉ hiển thị được tên người dùng trên thanh nav)
              li - Mô phỏng loading trang

        .projects.mt-5
          p.mb-2 Các project khác của 
            a.text-primary(href="https://github.com/ducnt444/") tôi:  

          ul 
            li.d-block.mx-auto.mt-1
              a.text-primary(href="https://journey-card-game.herokuapp.com/") - Journey - the card game: pet project, alpha test

            li.d-block.mx-auto.mt-1 
              a.text-primary(href="https://changeable-list.herokuapp.com/") - Changeable list: bài tập quản lý danh sách cơ bản, mô phỏng sử dụng REST API

      // Modal footer
      .modal-footer.justify-content-between
        span.updates__hide-warning Sau khi đóng, thông báo này sẽ không hiển thị nữa cho đến khi mở trang chủ trong 1 tab mới 