
.payment-card__content 

  .front 
    img.payment-card__chip(src="/halo/img/img--payment/chip.png", alt="")
    img.payment-card__brands(src="/halo/img/img--payment/visacard-2.png", alt="")
    p.front__num.display-value 0000 0000 0000 0000
    p.front__valid-text VALID DATES
    p.front__valid-dates
      span.front__month.display-value MM
      span &nbsp;/&nbsp;
      span.front__year.display-value YY
    p.front__name.display-value JAMES BOND

  .back
    .stripe
    .back__content
      p.cvv.display-value CVV
      .stamp
      p.back__text Tấm thẻ này là tài sản của ngân hàng phát hành. Nếu ai nhặt được, vui lòng gửi trả lại cho ngân hàng. Việc sử dụng tấm thẻ này phải tuân thủ các quy định về việc sử dụng thẻ của ngân hàng phát hành.

.payment-card__input 
  form(autocomplete="off")
    .form-group
      label(for='visa-master-input__num') Nhập số thẻ:&nbsp;
        i (Viết liền)
      input#visa-master-input__num.form-control.front-input.card-num-input(type="text" required minlength="16" maxlength="16" onkeypress="return isNumber(event)")

    .form-group.input__dates
      label(for='visa-master-input__month') Ngày hết hạn:&nbsp; 
        i (chỉ nhập 2 số cuối của năm)
      input#visa-master-input__month.input__month.form-control.front-input(type="number" placeholder="Tháng" min="1" max="12" required)
      span &nbsp;/&nbsp;
      input#visa-master-input__year.input__year.form-control.front-input(type="number" placeholder="Năm" min="21" max="99" required)

    .form-group
      label(for='visa-master-input__name') Nhập tên chủ thẻ:&nbsp; 
        i (Viết cách, không dấu)
      input#visa-master-input__name.form-control.front-input(type="text" required)

    .form-group
      label(for='visa-master-input__name') Mã số CVV:
      input#visa-master-input__cvv.form-control.back-input(type="text" required minlength="3" maxlength="3" onkeypress="return isNumber(event)")

    a.btn.btn--confirmation.final-btn(href='checkout.html') Xác nhận
