extends parts/layout.pug

block css
  link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  link(rel="stylesheet", href="css/camera-hub.css")
  link(rel="stylesheet", href="css/item.css")


block title
  title Máy Ảnh
  
block script 
  script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
  script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
  script(src='js/aos-init.js')
  script(src='js/slick-init.js')

block content

  h1.section__header.portal__header
        span Nhu cầu 
        span của bạn?

  section.portal.camera-carousel.display-till-md

    #camera-carousel.carousel.slide(data-ride='carousel' data-touch='true' data-interval='false')

      ul.carousel-indicators
        li.active(data-target='#camera-carousel' data-slide-to='0')
        li(data-target='#camera-carousel' data-slide-to='1')

      .carousel-inner.camera-carousel-inner

        .carousel-item.banner-carousel.banner-carousel--dslr.active
          img.banner-carousel__img(src='img/img--camera-hub/portal-dslr-min.png' alt='máy ảnh dslr tốt nhất')
          .carousel-caption.banner-carousel__caption.font-weight-bold
            p.banner-carousel__text.banner-carousel__text--dslr CHUYÊN NGHIỆP
            p.banner-carousel__text.banner-carousel__text--dslr CHUẨN CHỈ
            p.banner-carousel__text.banner-carousel__text--dslr CỘNG ĐỒNG LỚN
            a.btn.btn--dark.banner-carousel__btn(href="dslr-hub.html") Xem tất cả DSLR

        .carousel-item.banner-carousel.banner-carousel--mrl
          img.banner-carousel__img(src='img/img--camera-hub/portal-mrl-min-v2.png' alt='máy ảnh mirrorless tốt nhất')
          .carousel-caption.banner-carousel__caption.font-weight-bold
            p.banner-carousel__text.banner-carousel__text--mrl TRẺ TRUNG
            p.banner-carousel__text.banner-carousel__text--mrl TIỆN LỢI
            p.banner-carousel__text.banner-carousel__text--mrl THỜI THƯỢNG
            a.btn.btn--light.banner-carousel__btn(href="dslr-hub.html") Xem tất cả Mirrorless

      a.carousel-control-prev(href='#camera-carousel' data-slide='prev')
        img(src='img/img--misc/prev-arrow-xs-v2.png')
      a.carousel-control-next(href='#camera-carousel' data-slide='next')
        img(src='img/img--misc/next-arrow-xs-v2.png')


  section.portal.hidden-till-md

    .portal__bg.hidden-till-md
      .portal__bg--green.dslr-half
      .portal__bg--pink.mrl-half

    .portal__body.container-xl.d-flex
      .banner-full.banner-full--dslr.dslr-half.d-flex.w-50(data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="1000")
        img.banner-full__img(src="img/img--camera-hub/portal-dslr-v1.png", alt="máy ảnh dslr tốt nhất")
        .banner-full__text-area.align-self-center
          .banner-full__text-only.font-weight-bold
            p.banner-full__text.banner-full__text--dslr CHUYÊN NGHIỆP
            p.banner-full__text.banner-full__text--dslr CHUẨN CHỈ
            p.banner-full__text.banner-full__text--dslr CỘNG ĐỒNG LỚN
          a.btn.btn--dark.banner-full__btn.banner-full__btn--dslr(href="dslr-hub.html") Xem tất cả DSLR

      .banner-full.banner-full--mrl.mrl-half.d-flex.w-50(data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="1000")
        .banner-full__text-area.align-self-center
          .banner-full__text-only.font-weight-bold 
            p.banner-full__text.banner-full__text--mrl.text-light TRẺ TRUNG
            p.banner-full__text.banner-full__text--mrl.text-light TIỆN LỢI
            p.banner-full__text.banner-full__text--mrl.text-light THỜI THƯỢNG
          a.btn.btn--light.banner-full__btn.banner-full__btn--mrl(href="dslr-hub.html") Xem tất cả Mirrorless
        img.banner-full__img(src="img/img--camera-hub/portal-mrl-max-v6.png", alt="máy ảnh mirrorless tốt nhất")
      
    a.btn.btn--dark.portal__btn(href="dslr-hub.html" data-aos="fade-up" data-aos-offset="-150" data-aos-easing="ease-in-sine" data-aos-duration="1000") Xem tất cả máy ảnh

  section.hub-row.hub-row--sale.container-xl
    h1.section__header HOT SALE

    .slider-row.slider
      include parts/card-1.pug
      include parts/card-2.pug
      include parts/card-3.pug
      include parts/card-4.pug
      include parts/card-5.pug

    a.btn.btn--dark.btn--seemore(href="dslr-hub.html") Xem toàn bộ 

    a(href="dslr-hub.html") 
      img.hub-row__banner.hidden-till-md(src="img/img--camera-hub/camera-hub-banner-2.jpg", alt="")

  section.hub-row.hub-row--hot.container-xl
    h1.section__header BÁN CHẠY

    .slider-row.slider
      include parts/card-1.pug
      include parts/card-2.pug
      include parts/card-3.pug
      include parts/card-4.pug
      include parts/card-5.pug

    a.btn.btn--dark.btn--seemore(href="dslr-hub.html") Xem toàn bộ 
    
    a(href="dslr-hub.html") 
      img.hub-row__banner.hidden-till-md(src="img/img--camera-hub/camera-hub-banner-1.jpg", alt="")

  section.hub-row.hub-row--love.container-xl
    h1.section__header ĐÁNH GIÁ TỐT

    .slider-row.slider
      include parts/card-1.pug
      include parts/card-2.pug
      include parts/card-3.pug
      include parts/card-4.pug
      include parts/card-5.pug

    a.btn.btn--dark.btn--seemore(href="dslr-hub.html") Xem toàn bộ 

    a(href="dslr-hub.html") 
      img.hub-row__banner.hidden-till-md(src="img/img--camera-hub/camera-hub-banner-3.jpg", alt="")


