<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/halo/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/payment.css">
    <title>Cổng thanh toán</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-xl px-4 px-sm-5 px-xl-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img class="header__logo" src="img/img--misc/logo-white.png" alt=""></a>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="search-bar-till-md">
              <input class="search-area" type="text" placeholder="Tìm kiếm...">
              <button class="btn search-btn"><i class="fas fa-search"></i></button>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link py-3 px-md-3" href="camera-hub.html">Máy ảnh</a></li>
              <li class="nav-item"><a class="nav-link py-3 px-md-3" href="camera-hub.html">Ống kính</a></li>
              <li class="nav-item"><a class="nav-link py-3 px-md-3" href="camera-hub.html">Phụ kiện</a></li>
              <li class="nav-item"><a class="nav-link py-3 px-md-3" href="review-hub.html">Đánh giá</a></li>
              <li class="nav-item display-till-md log-min"><a class="nav-link py-3" href="#" data-toggle="modal" data-target="#logreg">Đăng nhập/Đăng ký</a></li>
            </ul>
          </div>
          <div class="log-cart-search"><a class="hidden-till-md log-max" id="logregToggler" href="#" data-toggle="modal" data-target="#logreg">Đăng nhập/Đăng ký</a><a class="cart-icon" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
            <button class="btn search-btn hidden-till-md d-flex align-items-center" onclick="searchBarToggler()"><i class="fas fa-search"></i></button>
          </div>
          <div class="search-bar hidden-till-md">
            <input class="search-area" type="text" placeholder="Tìm kiếm...">
            <button class="btn search-btn"><i class="fas fa-search"></i></button>
            <button class="btn search-cancel d-flex align-items-center justify-content-center" onclick="searchBarToggler()"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="modal fade" id="logreg">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content"> 
            <div class="modal-header flex-wrap">
              <button class="close" type="button" data-dismiss="modal">&times;</button>
              <div class="logreg__logo w-100 mb-3 d-flex justify-content-center"><img src="img/img--misc/logo-black.png" alt=""></div>
              <p class="w-100 font-18 text-center font-weight-bold log">Đăng nhập  </p>
              <p class="w-100 font-18 text-center font-weight-bold reg">Đăng ký</p>
            </div>
            <div class="modal-body px-4 d-flex flex-column align-items-center">
              <form class="logreg--login-form w-100" action="" role="form">
                <div class="input-group w-100">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-user-circle"></i></span></div>
                  <input class="form-control login-form--username" type="text" placeholder="Email">
                </div>
                <div class="input-group w-100">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-lock"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Mật khẩu">
                </div>
                <div class="input-group w-100 reg">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-address-card"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Họ tên">
                </div>
                <div class="input-group w-100 reg">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div>
                  <input class="form-control login-form--password" type="text" placeholder="Số điện thoại">
                </div>
              </form><a class="forget align-self-end log" href="#">Quên mật khẩu?</a>
              <p class="forget align-self-start font-11 font-italic reg">Khi đăng ký, bạn xác nhận đã đọc và đồng ý với <a style="color: #007bff" href="#">các điều khoản của chúng tôi</a></p>
              <button class="btn logreg__submit btn--dark log">Đăng nhập</button>
              <button class="btn logreg__submit btn--dark font-14 reg">Gia nhập cộng đồng HALO</button>
              <p class="log">Hoặc đăng nhập với </p>
              <div class="logreg__platform justify-content-between log"><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-fb.png" alt=""></a><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-gg.png" alt=""></a><a class="platform__link" href="#"><img class="platform__img" src="img/img--misc/logo-apple.png" alt=""></a></div>
            </div>
            <div class="modal-footer"><a class="logreg-portal mx-auto reg" onclick="logregSwitch()">Quay lại đăng nhập</a>
              <p class="mx-auto log">Chưa có tài khoản? <a class="logreg-portal" onclick="logregSwitch()">Đăng ký ngay </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumb-wrapper container-xl">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
          <li class="breadcrumb-item"> <a href="cart.html">Giỏ hàng</a></li>
          <li class="breadcrumb-item active">Cổng thanh toán</li>
        </ul>
      </div>
      <div class="page-wrapper container-xl">
        <h1 class="text-left w-100">Cổng thanh toán</h1>
        <section class="confirmation-wrapper">
          <div class="main-header"><span class="main-header__text">1. Xác nhận đơn hàng</span><span class="main-header__indicator"></span></div>
          <div id="confirmation">
            <div class="confirmation__summary sub-section">
              <h2 class="sub-header">Tóm tắt đơn hàng</h2>
              <p class="summary__row summary__row--left inner-header">Giỏ hàng</p>
              <p class="summary__row"><span class="summary__row--left">Máy ảnh Canon 1DX Mark III </span><span class="summary__row--right">1 x 130.090.000đ = 130.090.000đ</span></p>
              <p class="summary__row"><span class="summary__row--left">Máy ảnh Canon 1DX Mark III </span><span class="summary__row--right">2 x 130.090.000đ = 260.180.000đ</span></p>
              <p class="summary__row"><span class="summary__row--left inner-header">Tổng giá trị giỏ hàng </span><span class="summary__row--right">390.270.000đ</span></p>
              <div class="summary__row"><span class="summary__row--left inner-header">Phí vận chuyển:</span><span class="summary__row--right">Miễn phí vận chuyển</span></div>
              <div class="summary__row"><span class="summary__row--left inner-header">Mã giảm giá:</span>
                <div class="summary__row--right coupon">
                  <input class="coupon__input" type="text" placeholder="KM2021">
                  <div class="coupon__content">
                    <p class="coupon__text">Giảm 15% giá trị đơn hàng (tối đa 1.000.000đ)</p>
                    <p class="coupon__text">-1.000.000đ</p>
                  </div>
                </div>
              </div>
              <p class="summary__grand-total inner-header text-center my-4">Tổng tiền hàng: <span>390.270.000đ</span></p>
            </div>
            <p>Khi bấm xác nhận, quý khách đã đồng ý với <span class="term-toggler text-primary font-italic" data-toggle="collapse" data-target="#term">các điều khoản đặt hàng và thanh toán của chúng tôi.</span></p>
            <div class="confirmation__term sub-section collapse" id="term"> 
              <h2 class="sub-header">Điều khoản đặt hàng và thanh toán</h2>
              <p>1. Quý khách hàng vui lòng cung cấp địa chỉ giao hàng cũng như thông tin người nhận rõ ràng, chính xác để công tác giao hàng được nhanh nhất.</p>
              <p>2. Quý khách hàng kiểm tra hàng hóa kỹ lưỡng, cẩn thận trước khi ký nhận và thanh toán.</p>
              <p>3. Nếu quá thời gian quy định, Quý khách hàng vẫn chưa nhận được sản phẩm, hãy liên lạc ngay với chúng tôi để được hỗ trợ.</p>
              <p>4. Trường hợp Quý khách hàng thay đổi quyết định mua hàng khi sản phẩm đã được giao, khách hàng sẽ phải chịu hoàn toàn chi phí vận chuyển.</p>
            </div><a class="btn btn--confirmation payment__toggler mt-4" href="#" data-toggle="collapse" data-target="#payment__info">Xác nhận</a>
          </div>
        </section>
        <section class="payment-wrapper">
          <div class="main-header"><span class="main-header__text">2. Thanh toán</span><span class="main-header__indicator"></span></div>
          <div id="payment">
            <div class="sub-section collapse" id="payment__info">
              <h2 class="sub-header">Thông tin khách hàng</h2>
              <form class="guess__info">
                <input class="guess__info--name form-control" type="text" placeholder="Họ tên">
                <input class="guess__info--phone form-control" type="text" placeholder="Số điện thoại">
                <input class="guess__info--address form-control" type="text" placeholder="Địa chỉ nhận hàng">
                <textarea class="guess__info--note form-control" name="" cols="20" rows="10" placeholder="Ghi chú"></textarea>
              </form><a class="btn btn--confirmation payment__toggler" href="#" data-toggle="collapse" data-target="#payment__method">Xác nhận </a>
            </div>
            <div class="sub-section collapse" id="payment__method">
              <h2 class="sub-header">Phương thức thanh toán</h2>
              <form id="methods-selection">
                <div id="method-wrapper">
                  <div class="method__toggler" data-toggle="collapse" data-target="#domestic-card"> 
                    <input type="radio" name="payment-method" id="domestic-card-radio" form="methods-selection">
                    <label for="domestic-card-radio">Thanh toán bằng thẻ ngân hàng nội địa </label>
                  </div>
                  <div class="method__content collapse" id="domestic-card" data-parent="#methods-selection">
                    <div class="payment-card__content"> 
                      <div class="front"> <img class="payment-card__chip" src="/halo/img/img--payment/chip.png" alt=""><img class="payment-card__brands" src="/halo/img/img--payment/vcb-logo.png" alt="">
                        <p class="front__num display-value">0000 0000 0000 0000</p>
                        <p class="front__valid-text">VALID DATES</p>
                        <p class="front__valid-dates"><span class="front__month display-value">MM</span><span>&nbsp;/&nbsp;</span><span class="front__year display-value">YY</span></p>
                        <p class="front__name display-value">PHAM XUAN AN</p>
                      </div>
                    </div>
                    <div class="payment-card__input"> 
                      <form autocomplete="off">
                        <div class="form-group">
                          <label for="bank">Chọn ngân hàng:&nbsp;</label>
                          <select class="form-control" id="input__bank">
                            <option>VCB (Vietcombank)</option>
                            <option>BIDV (Ngân hàng Đầu tư và Phát triển Việt Nam)</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="input__num">Nhập số thẻ:&nbsp;<i>(Viết liền)</i></label>
                          <input class="form-control front-input" id="input__num" type="text" required>
                        </div>
                        <div class="form-group input__dates">
                          <label for="domestic-input__month">Ngày hết hạn:&nbsp; <i>(chỉ nhập 2 số cuối của năm)</i></label>
                          <input class="input__month form-control front-input" id="domestic-input__month" type="number" placeholder="Tháng" min="1" max="12" required><span>&nbsp;/&nbsp;</span>
                          <input class="input__year form-control front-input" id="domestic-input__year" type="number" placeholder="Năm" min="21" max="99" required>
                        </div>
                        <div class="form-group">
                          <label for="input__name">Nhập tên chủ thẻ:&nbsp; <i>(Viết cách, không dấu)</i></label>
                          <input class="form-control front-input" id="input__name" type="text" required>
                        </div>
                        <input class="btn btn--confirmation" type="submit" value="Xác nhận">
                      </form>
                    </div>
                  </div>
                  <div class="method__toggler" data-toggle="collapse" data-target="#visa-master-card"> 
                    <input type="radio" name="payment-method" id="visa-master-card-radio" form="methods-selection">
                    <label for="visa-master-card-radio">Thanh toán bằng thẻ Visa/Master</label>
                  </div>
                  <div class="method__content collapse" id="visa-master-card" data-parent="#methods-selection">
                    <div class="payment-card__content"> 
                      <div class="front"> <img class="payment-card__chip" src="/halo/img/img--payment/chip.png" alt=""><img class="payment-card__brands" src="/halo/img/img--payment/visacard-2.png" alt="">
                        <p class="front__num display-value">0000 0000 0000 0000</p>
                        <p class="front__valid-text">VALID DATES</p>
                        <p class="front__valid-dates"><span class="front__month display-value">MM</span><span>&nbsp;/&nbsp;</span><span class="front__year display-value">YY</span></p>
                        <p class="front__name display-value">JAMES BOND</p>
                      </div>
                      <div class="back">
                        <div class="stripe"></div>
                        <div class="back__content">
                          <p class="cvv display-value">CVV</p>
                          <div class="stamp"></div>
                          <p class="back__text">Tấm thẻ này là tài sản của ngân hàng phát hành. Nếu ai nhặt được, vui lòng gửi trả lại cho ngân hàng. Việc sử dụng tấm thẻ này phải tuân thủ các quy định về việc sử dụng thẻ của ngân hàng phát hành.</p>
                        </div>
                      </div>
                    </div>
                    <div class="payment-card__input"> 
                      <form autocomplete="off">
                        <div class="form-group">
                          <label for="visa-master-input__num">Nhập số thẻ:&nbsp;<i>(Viết liền)</i></label>
                          <input class="form-control front-input" id="visa-master-input__num" type="number" required>
                        </div>
                        <div class="form-group input__dates">
                          <label for="visa-master-input__month">Ngày hết hạn:&nbsp; <i>(chỉ nhập 2 số cuối của năm)</i></label>
                          <input class="input__month form-control front-input" id="visa-master-input__month" type="number" placeholder="Tháng" min="1" max="12" required><span>&nbsp;/&nbsp;</span>
                          <input class="input__year form-control front-input" id="visa-master-input__year" type="number" placeholder="Năm" min="21" max="99" required>
                        </div>
                        <div class="form-group">
                          <label for="visa-master-input__name">Nhập tên chủ thẻ:&nbsp; <i>(Viết cách, không dấu)</i></label>
                          <input class="form-control front-input" id="visa-master-input__name" type="text" required>
                        </div>
                        <div class="form-group">
                          <label for="visa-master-input__name">Mã số CVV:</label>
                          <input class="form-control back-input" id="visa-master-input__cvv" type="number" min="1" max="999" required>
                        </div>
                        <input class="btn btn--confirmation" type="submit" value="Xác nhận">
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="dark-side"> 
      <div class="container px-sm-5 mw-600 d-flex flex-column justify-content-center align-items-center"><img class="footer__logo" src="img/img--misc/logo-white.png" alt="">
        <ul class="footer__menu d-flex justify-content-between align-items-center">
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Giới thiệu</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Hỗ trợ</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Chính sách</a></li>
          <li class="footer__item d-flex justify-content-center align-items-center"><a class="footer__link text-center font-weight-bold" href="#">Liên hệ</a></li>
        </ul>
        <p class="footer__info">Địa chỉ: Số Math.pow(n+1, 2), phố “ABC”, Hà Nội <br>Tổng đài tư vấn mua hàng: 099.999.9999<br>Email: info@halo.vn<br>ĐKKD số 0123456789 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp ngày 01/01/2021</p>
        <p class="copyright font-italic">Bản quyền thuộc Công ty TNHH HALO Việt Nam</p>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/d8c5e3f38e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>