.card.item.item--hot.item--love.item--sale
  img.card-img-top(src='img/img--camera-body/canon-eos-5d-mark-iv-card.jpg' alt='canon-eos-5d-mark-iv')
  img.item__badge.item__badge--hot(src="img/img--misc/badge--hot.png", alt="")
  img.item__badge.item__badge--love(src="img/img--misc/badge--love.png", alt="")
  .card-body.text-center
    .item__header
      p.item__name.font-weight-bold.font-18 Canon EOS 5D Mark&nbsp;IV
      p.item__subtext.font-italic.font-weight-light (Mới 100% fullbox)
    p.item__price.font-weight-bold 50.090.000đ
    .item__sale-module.font-weight-bold
      span.sale-module__old-price 58.090.000đ
      img.item__badge.item__badge--sale(src='img/img--misc/badge--sale.png' alt='')
      span.sale-module__sale-amount.font-italic (Giảm 8.000.000đ)
    a.btn.btn--dark.btn--seemore(href='details.html') Xem chi tiết 