#loading
  .loading__content
    img.loading__img(src="img/img--misc/halo-logo-white.png", alt="")
    p.loading__counter 
      span#counter__num  000
      | %
  p.loading__text Xin vui lòng đợi trong giây lát