
.modal.fade#logreg
  .modal-dialog.modal-dialog-centered
    .modal-content 

      .modal-header.flex-wrap
        button.close(type='button' data-dismiss='modal') &times;
        .logreg__logo.w-100.mb-3.d-flex.justify-content-center
          img(src="img/img--misc/logo-black.png", alt="halo thế giới máy ảnh")
        p.w-100.font-18.text-center.font-weight-bold.log Đăng nhập  
        p.w-100.font-18.text-center.font-weight-bold.reg Đăng ký

      .modal-body.px-4.d-flex.flex-column.align-items-center

        form.logreg__form.w-100(action="" role="form")

          .input-group.w-100.log.required
            .input-group-prepend
              span.input-group-text
                i.far.fa-user-circle
            input.form-control.log__input--mail(type='text' placeholder='Email')

          .input-group.w-100.log
            .input-group-prepend
              span.input-group-text
                i.fas.fa-lock
            input.form-control.log__input--password(type='text' placeholder='Mật khẩu')

          .input-group.w-100.reg.required
            .input-group-prepend
              span.input-group-text
                i.far.fa-user-circle
            input.form-control.reg__input--mail(type='text' placeholder='Email')

          .input-group.w-100.reg
            .input-group-prepend
              span.input-group-text
                i.fas.fa-lock
            input.form-control.reg__input--password(type='text' placeholder='Mật khẩu')

          .input-group.w-100.reg
            .input-group-prepend
              span.input-group-text
                i.far.fa-address-card
            input.form-control.reg__input--name(type='text' placeholder='Họ tên')

          .input-group.w-100.reg
            .input-group-prepend
              span.input-group-text
                i.fas.fa-phone
            input.form-control.reg__input--phone(type='text' placeholder='Số điện thoại')

        a.forget.align-self-end.log(href="#") Quên mật khẩu?
        p.forget.align-self-start.font-11.font-italic.reg
          | Khi đăng ký, bạn xác nhận đã đọc và đồng ý với 
          a(style="color: #007bff" href="#") các điều khoản của chúng tôi

        button.btn.logreg__submit.logreg__submit--log.btn--dark.log Đăng nhập
        button.btn.logreg__submit.logreg__submit--reg.btn--dark.reg Gia nhập cộng đồng HALO

        p.log Hoặc đăng nhập với 

        .logreg__platform.justify-content-between.log
          a.platform__link(href="#")
            img.platform__img(src="img/img--misc/logo-fb.png", alt="halo thế giới máy ảnh")
          a.platform__link(href="#")
            img.platform__img(src="img/img--misc/logo-gg.png", alt="halo thế giới máy ảnh")
          a.platform__link(href="#")
            img.platform__img(src="img/img--misc/logo-apple.png", alt="halo thế giới máy ảnh")

      .modal-footer
        p.mx-auto.log
          | Chưa có tài khoản? 
          span.logreg-portal.logreg-portal--to-reg Đăng ký ngay

        span.logreg-portal.logreg-portal--to-log.mx-auto.reg Quay lại đăng nhập
        