a.review__post(href="review-details.html")
  img.review__post--img(src="img/img--review/review-post-img-1.jpg", alt="đánh giá Canon EOS 1DX Mark III")
  .review__post--content 
    h1.post__header.text-left Canon EOS 1DX Mark III: Vua của các vị&nbsp;vua
    p.post__subtext.font-italic 
      span.post__author Trung Đức
      span.post__time-icon.mx-2.mx-md-3.mx-xl-4 
        i.far.fa-clock
      span.post__time-dates 01/01/2021
    p.post__preview Cầm 1DX mark III không chỉ mang lại sự phấn khích với thiết bị công nghệ cao mà còn là niềm cảm hứng bất tận khi tác&nbsp;nghiệp.