a.review__post(href="review-details.html")
  img.review__post--img(src="img/img--review/review-post-img-2.png", alt="Top 5 DSLR đáng mua 2021")
  .review__post--content 
    h1.post__header.text-left Top 5 DSLR đáng mua năm&nbsp;2021
    p.post__subtext.font-italic 
      span.post__author Trung Đức
      span.post__time-icon.mx-2.mx-md-3.mx-xl-4 
        i.far.fa-clock
      span.post__time-dates 01/01/2021
    p.post__preview Trên thị trường có rất nhiều máy ảnh DSLR đến từ các hãng lớn như Nikon, Canon, Sony,...  lựa chọn một chiếc máy ảnh phù hợp là điều không&nbsp;đơn&nbsp;giản.