body{
    font-family: 'Roboto', sans-serif;
}

#start-game img{
    width: 900px;
    height: 500px;
}

#start-game button{
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 155px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color:white;
    background-color: #5C8C2B;
    border: solid 2px #82B8D9;
    border-radius: 50px;
}

#start-game button:focus{
    outline: none;
}

#start-game button:hover{
    background-color: #4B732F;
    border: solid 1px #2B190E;
    color: #D9D9D9;
    transition: all 0.5s;
}

#start-game img, #canvas{
    border: solid 2px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#play-game,  #end-game{
    display: none;
}

#end-game .left, #end-game .right{
    display: flex;
    flex-direction: column;
}

#end-game .left button{
    top: 57%;
    left: 46%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#end-game .left p{
    top: 61%;
    left: 46%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#end-game .right p{
    top: 61%;
    left: 54%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#end-game .right button{
    top: 57%;
    left: 54%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#end-game .left button, #end-game .right button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8C876C;
    font-size: 20px;
    color:white;
    border: solid 1px black;
}

#end-game .left button:focus, #end-game .right button:focus{
    outline: none;
}

#end-game .left button:hover, #end-game .right button:hover{
    transition: all 1s;
    width: 55px;
    height: 55px;
    background-color: #40302B;
    box-shadow: 5px 5px 20px #84A4BF;
}

#end-game .left p, #end-game .right p{
    font-weight: 600;
    color: #8C0E03;
}





