.my-banner {
	background-image: url('../images/shop.jpg');
}

.shop-content {
	padding: 80px 0px;
}


select.form-control {
	padding: 0px;
}

.search {
	width: 50%;
}

.search-btn {
	background-color: #363739;
	color: white;
	border: 1px solid #363739;
}

.filter {
	transition: all 0.3s linear;
}

.btn-filter {
	display: none;
	outline: none;
	background-color: white;
	margin-bottom: 1em;
}

.filter-form {
	background-color: white;
}

.title-form {
	text-align: center;
	padding: 0.8em;
	border-bottom: 2px solid #e1f2e0;
}

.body-form {
	padding: 0.8em;
	padding-left: 1.5em;
}

.form-check label {
	font-weight: normal;
	color: #493521;
	padding-left: 0.5em;
}

.page {
	text-align: center;
}

.pagination> li > a{
	color: #363739;
	border: 1px solid #363739;
}

.pagination > .active > a {
	background-color: #363739;
	border: 1px solid #363739;
}

.pagination> li > a:hover,  .pagination > .active > a:hover{
	background-color: #add8a6;
	border: 1px solid #363739;
}

@media (max-width: 992px) { 
	.filter {
		display: none;
	}

	.btn-filter {
		display: block;
	}
}

