/* parrallax */
.parallax {
    /* The image used */
    background-image: url("../img/maydo1.png");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .card_para {
      border: 0px solid rgba(54, 51, 51, 0.9);
  }
/* end parrallax */