@import "./root.scss";

.main-content {
  @include border-w-radius;

  .item,
  .item-small {
    border: $zero-pixel !important;
  }

  .item {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }

  .cancel-btn {
    grid-column: 2/2;
    width: 50%;
    justify-self: flex-end;
  }

  & .btns {
    grid-column: 2/2;
    display: grid;
    grid-gap: $ten-pixel;
    margin-top: $twenty-pixel;
      & .cancel-btn {
        grid-column: 0;
        width: auto;
        justify-self: normal;
      }
  }

  .item-small {
    display: none;
    margin: $zero-pixel;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item-info-wrapper,
  .header {
    margin: $sixteen-pixel $forty-pixel;
  }
}

.order-status-wrapper {
  @include flex-center-between;
}

.status,
.order-number {
  font-weight: bold;
}

.order-number {
  color: $main-color;
}

.go-back-previous-page {
  color: $dark-main-color;

  &:hover {
    color: $dark-main-color;
  }
}

@media (max-width: $closest-medium-devices-width) {
  .order-status-wrapper {
    display: none;
  }

  .main-content {

    .item-info-wrapper {
      margin: $zero-pixel;
    }

    .header {
      margin-left: $sixteen-pixel;
    }

    .item {
      display: none;
      padding: $sixteen-pixel $twenty-pixel;
    }

    .item-small {
      display: block;
      padding: $sixteen-pixel $twenty-pixel;
    }

    .cancel-btn {
      margin-top: $ten-pixel;
    }
  }
}