@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$text-dark: #333333;
$text-white: #ffffff;
$text-lighter-white: #ABACAD;
$main-color: #F04E40;
$lighter-grey-color: #D5D6D6;
$dark-main-color: #C1554E;
$light-main-color: #FEE8D8;
$product-border-color: #FAFAFA;
$hover-white-color: #eeeeee;
$hover-main-color: #CE2E2F;
$product-text-grey: #767676;
$shadow-background-color: #C4C4C4;
$news-background: #F2F3F5;
$green: #12B76D;
$dark-green: #0f985b;
$light-green: #CEFBD4;

$main-font: 'Roboto',
sans-serif;

$bold-size: bold;
$regular-size: 500;

$small-devices-width: 576px;
$closest-medium-devices-width: 767px;
$medium-devices-width: 768px;
$large-devices-width: 992px;
$max-width-container: 1230px;
$zero-pixel: 0px;
$fifty-pixel: 3.125rem;
$forty-seven-pixel: 2.9375rem;
$forty-two-pixel: 2.625rem;
$forty-pixel: 2.5rem;
$thirty-six-pixel: 2.25rem;
$thirty-pixel: 1.875rem;

$twenty-eight-pixel: 1.75rem;
$twenty-six-pixel: 1.625rem;
$twenty-five-pixel: 1.5625rem;
$twenty-four-pixel: 1.5rem;
$twenty-pixel: 1.25rem;
$nineteen-pixel: 1.1875rem;
$fifteen-pixel: 0.9375rem;
$fourteen-pixel: 0.875rem;
$twelve-pixel: 0.75rem;
$eleven-pixel: 0.6875rem;
$ten-pixel: 0.625rem;
$eight-pixel: 0.5rem;
$six-pixel: 0.375rem;
$five-pixel: 0.3125rem;
$four-pixel: 0.25rem;
$two-pixel: 0.125rem;
$one-pixel: 0.0625rem;

$sixteen-pixel: 1rem;

$one-hundred-percent: 100%;

$none: none;
$between: space-between;

@mixin flex-center-between {
    display: flex;
    justify-content: $between;
    align-items: center;
};

@mixin flex-baseline {
    display: flex;
    align-items: baseline;
};

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
};

@mixin flex-start-between {
    display: flex;
    align-items: flex-start;
    justify-content: $between;
};

@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: $between;
};

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin border {
    border: $one-pixel solid $lighter-grey-color;
}

@mixin border-w-radius {
    border: $one-pixel solid $lighter-grey-color !important;
    border-radius: $four-pixel;
}