*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
.hide{
    display: none;
}
.show{
    display: block;
}
#footer{
    margin-top: 50px;
    background-color: #121212;
    color: white;
    padding-top: 50px;
}
#footer a{
    color: white!important;
}
.footer-mini{
    width: 80%;
    margin: auto;
    line-height: 24px;
}
.footer-mini h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
}
.logo-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-navigation{
    display: flex;
    flex-wrap: wrap;
}
.footer-navigation .contact{
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.footer-navigation .link{
    flex-basis: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}
.footer-navigation .category{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.contact-mini, .link-mini, .category-mini{
    line-height: 30px;
}

.footer-copyright{
    text-align: center;
    margin-top: 50px;
    color: rgba(255,255,255,0.5);
    padding-bottom: 15px;
    font-size: 14px;
}
.link-mini i{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.link-mini i:hover{
    color: white;
}
.link-item-sub1, .link-item-sub2{
  margin-left: 15%;
}
@media(max-width: 767px){
    .footer-mini{
        width: 65%;
    }
    .footer-navigation .contact, .footer-navigation .link, .footer-navigation .category{
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        justify-content: flex-start;
    }
    .footer-navigation .category{
        margin-bottom: 0;
    }
}