form(action="").subscribe
    h1.subscribe__title ĐĂNG KÍ NHẬN TIN MỚI
    h2.subscribe__sub-title Nhận các tin tức về chương trình và khuyến mãi sớm nhất
    .subscribe__main
        input(type="text" placeholder="Nhập địa chỉ email...").subscribe__main-input
        button.subscribe__main-button Đăng kí