@import "../../root.scss";

// Shipping Info

.radio-wrapper {
  margin-top: $twenty-pixel;

  & label:not(.card) {
    margin: $zero-pixel;
    line-height: $nineteen-pixel;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  & label.card {
    margin: $zero-pixel;
    line-height: $nineteen-pixel;
    flex-direction: row;
    border: $zero-pixel;
  }
}

.add-new-payment-methods {
  display: none;
  margin-top: $twenty-pixel;
}

// New Shipping Modal

#addNewShipping,
#paymentMethods {

  & .modal-header,
  .modal-body,
  .modal-footer {
    padding: $thirty-pixel;
    padding-bottom: $zero-pixel;
  }

  & .modal-header,
  .modal-footer {
    border: $zero-pixel;
  }

  & .modal-footer {
    padding-bottom: $thirty-pixel;
  }

  & .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  & .nav-link {
    border-radius: $zero-pixel;
    background-color: $lighter-grey-color;
    text-align: center;
    padding: $twenty-pixel $zero-pixel;
    text-transform: uppercase;

    &.active {
      background-color: white;
      color: $text-dark;
    }
  }

  & .tab-pane {
    margin: $twenty-pixel $thirty-pixel;
  }

  & .form-control,
  .custom-select {
    margin-top: $twenty-pixel;
  }

  & .form-control {
    &:first-child {
      margin-top: $zero-pixel;
    }
  }

  & .make-default-wrapper {
    margin-top: $twenty-pixel;
  }

  & .btn {
    padding: $ten-pixel $fifty-pixel;
  }

  & .address {
    resize: none;
  }

  & .pivacy-text {
    margin-top: $twenty-pixel;
  }
}