.nav--change {
    background-color: #202020;
    height: 50px;
}

/* Banner */
.banner {
    position: relative;
    max-width: 1440px;
    height: 182px;
    margin: auto;
    background-image: url(../img/banner-1.jpg);
    background-size: cover;
    background-position: center center;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.28);;
}

.banner__content {
    position: absolute;
    top: 105px;
    left: 5%;
    color: white;
}

.banner__content-h1 {
    font-family: "Verdana";
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}

.banner__content-h1:nth-child(2) {
    margin: 7px 0 14px 23px;
}

.banner__content-h2 {
    font-family: "Verdana";
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}

/* Poster */
.poster__hashtag {
    background-color: #F8F6F7;
    text-align: center;
    padding: 10px 0 4px;
}

.poster__hashtag-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
}

.poster__hashtag-title-link {
    color: #383838;
    font-size: 1.4rem;
    line-height: 2rem;
    display: inline-block;
    margin-top: 14px;
}

.poster__hashtag-title-link:hover {
    color: #0c0c0c;
}

.poster__collection {
    background-color: #1A1A1A;
}

.poster__collection-link {
    color: white;
    line-height: 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin: 15px 0;
    transition: all 0.4s ease-in;
}

.poster__collection-link:hover {
    color: white;
}

.poster__collection-link span {
    font-weight: 700;
    margin: 0 35px 0 8px;
}

.poster__collection-link:hover {
    transform: translateX(2%);
}

/* Description */
.description {
    background-color: #F8F6F9;
}

.description__main {
    max-width: 316px;
    margin: 24px auto 0;
}   

.description__main-title {
    color: #424242;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
}

.description__main-h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin: 15px 0 11px;
}

.description__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;  
}

.description__main-btn {
    outline: none;
    background-color: white;
    border: 1px solid black;
    width: 180px;
    height: 48px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.description__main-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    right: 0;
    border-top: 46px solid black;
    border-left: 50px solid transparent;
    transform: translateX(0%);
    transition: all 0.5s ease;
}

.description__main-btn a {
    font-size: 1.4rem;
    line-height: 2rem;
    color:white;
    position: absolute;
    transition: color 0.2s linear;
}

.description__main-btn:hover::before {
    transform: translateX(100%);
}

.description__main-btn:hover a {
    color: black;
}

/* Watch Demo */
.watch {
    max-width: 270px;
    text-align: center;
    margin: 15px 0 15px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.4s linear;
}

.watch img {
    transition: all 0.3s linear;
}

.watch:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.watch:hover img{
    transform: scale(1.03);
}

.watch__info:hover {
    color: black
}

.watch__img {
    display: inline-block;
    overflow: hidden;
}

.watch__info-style {
    font-size: 1.4rem;
    color: var(--gray-color);
    line-height: 1.9rem;
}

.watch__info-name {
    margin: 3px 0 14px;
}

.watch__info-price {
    margin-bottom: 16px;
}

.watch__info-name,
.watch__info-price {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.watch__info-style,
.watch__info-name, 
.watch__info-price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Post */
.post {
    background-color: #242527;
    padding: 30px 0 36px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 65px;
    grid-template-areas:
    "design"
    "soft"
    "water";
}

.post__main {
    max-width: 300px;
    padding: 0;
    text-align: center;
}

.post__main:nth-child(1) {
    justify-self: center;
    grid-area: water;
}

.post__main:nth-child(2) {
    justify-self: center;
    grid-area: design;
}

.post__main:nth-child(3) {
    justify-self: center;
    grid-area: soft;
}

.post__main-title {
    margin: 21px 0 18px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
}

.post__main-content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 23px;
}

.post__main-link {
    color: white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    position: relative;
}

.post__main-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: all 0.2s ease-out;
}

.post__main-link:hover::after {
    width: 100%;
}

.post__main-link:hover {
    color: white;
}

/* Slide */
.slide-main {
    max-width: 1440px;
    margin: auto;
}

.carousel-caption {
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.slide-main__title {
    font-size: 2rem;
}

.slide-main__content {
    font-size: 1.6rem;
    padding: 8px 0 12px;
}

/* Service */
.service {
    max-width: 1440px;
    margin: 35px auto 45px;
}

.service__title {
    max-width: 196px;
    display: flex;
    align-items: center;
}

.service__title-svg--truck {
    width: 34px;
    height: 36px;
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}

.service__title-svg--shield {
    width: 30px;
    height: 26px;
}

.service__title-svg--badge {
    width: 29px;
    height: 30px;
}

.service__title-svg--gift {
    width: 28px;
    height: 28px;
}

.service__title-content {
    min-width: 108px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 8px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    /* display: none; */
}

.service__line {
    max-width: 100%;
    height: 1px;
    margin: 34px 22px 0;
    background-color: black;
}

@media (min-width: 400px) {
    .banner {
        height: 240px;
    }

    .banner__content {
        top: 130px;
        left: 8%;
    }

    .banner__content-h1 {
        font-size: 1.8rem;
    }

    .banner__content-h2 {
        display: block;
    }
}

@media (min-width: 576px) {
    .nav--change {
        height: 62px;
    }

    /* banner */
    .banner {
        height: 323px;
    }

    .banner__content {
        top: 162px;
        left: 8%;
    }

    .banner__content-h1 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 9px 34px;
    }

    .banner__content-h2 {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin: 0 0 0 61px;
    }

    /* Poster */
    .poster__hashtag {
        flex-basis: 50%;
        padding: 0;
    }

    .poster__hashtag-title {
        font-size: 1.3rem;
    }

    .poster__hashtag-title:nth-child(1) {
        margin-top: 19px;
    }

    .poster__collection {
        flex-basis: 50%;
        padding: 0;
    }

    .poster__hashtag-title-link {
        margin: 15px 0 8px;
    }

    .poster__collection-link {
        margin: 0;
    }

    /* Description */
    .description__main {
        max-width: 395px;
        margin: 50px 0 0 35px;
    }
    
    .description__main-h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
        margin: 40px 0 24px;
    }

    .description__main-content {
        margin-bottom: 63px;
    }

    .description__main-btn {
        width: 226px;
        height: 56px;
        margin-bottom: 25px;
    }

    .description__main-btn::before {
        border-top: 54px solid black;
    }

    .description__main-btn a {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    /* Service */
    .service {
        margin: 35px auto 70px;
    }
    .service__title-svg--truck {
        width: 63px;
        height: 64px;
    }
    
    .service__title-svg--shield {
        width: 39px;
        height: 46px;
    }
    
    .service__title-svg--badge {
        width: 44px;
        height: 46px;
    }
    
    .service__title-svg--gift {
        width: 46px;
        height: 46px;
    }

    .service__title-content {
        max-width: 125px;
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-left: 10px;
    }
}

@media (min-width: 768px) { 
    .nav--change {
        height: 72px;
    }

    /* banner */
    .banner {
        height: 383px;
    }

    .banner__content {
        top: 217px;
    }

    .banner__content-h1 {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 6px 0 19px 46px;
    }

    .banner__content-h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0 0 0 96px;
    }

    /* Poster */
    .poster__hashtag-title:nth-child(1) {
        margin: 15px 0 0;
    }

    .poster__hashtag-title {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .poster__hashtag-title-link {
        margin: 12px 0 0;
        font-size: 1.6rem;
    }

    .poster__collection-link {
        margin-left: 98px;
        line-height: 2rem;
        font-size: 2.2rem;
    }

    .poster__collection-link span {
        margin: 0 69px 0 8px;
    }

    /* Description */
    .description__main {
        max-width: 314px;
        margin: 17px 0 0 38px;
    }
    
    .description__main-h1 {
        font-size: 2.3rem;
        line-height: 3.1rem;
        margin: 45px 0 18px;
    }

    .description__main-btn {
        width: 176px;
        height: 48px;
        margin-bottom: 0;
    }

    .description__main-btn::before {
        border-top: 46px solid black;
    }

    /* Watch Demo */
    .watch {
        margin: 53px 0;
    }

    /* Post */
    .post {
        padding: 38px 0 59px;
        grid-template-columns: 1fr 1fr;
        gap: 60px 0;
        grid-template-areas: 
        "design design"
        "water soft";
    }

    .post__main-title {
        margin: 33px 0 20px;
    }

    .post__main-content {
        margin-bottom: 32px;
    }

    /* Service */
    .service {
        margin: 42px auto 70px;
    }

    .service__title-svg--truck {
        width: 54px;
        height: 64px;
    }
    
    .service__title-svg--shield {
        width: 34px;
        height: 40px;
    }
    
    .service__title-svg--badge {
        width: 41px;
        height: 42px;
    }
    
    .service__title-svg--gift {
        width: 43px;
        height: 40px;
    }

    .service__title-content {
        margin-left: 8px;
    }

    .service__line {
        margin: 34px 98px 0;
    }
}

@media (min-width: 992px) { 
    .banner {
        height: 520px;
    }

    .banner__content {
        top: 284px;
    }

    .banner__content-h1 {
        font-size: 4.2rem;
        line-height: 5.1rem;
    }

    .banner__content-h1:nth-child(2) {
        margin: 11px 0 33px 46px;
    }

    .banner__content-h2 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 0 104px;
    }

    /* Poster */
    .poster__hashtag-title:nth-child(1) {
        margin: 45px 0 4px;
    }

    .poster__hashtag-title {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }

    .poster__hashtag-title-link {
        margin-top: 22px;
    }

    .poster__collection-link {
        margin-left: 87px;
        line-height: 3.5rem;
        font-size: 2.6rem;
    }

    .poster__collection-link span {
        margin: 0 69px 0 8px;
    }

    /* Description */
    .description__main {
        max-width: 404px;
        margin: 109px 0 0 46px;
    }
    
    .description__main-h1 {
        font-size: 2.6rem;
        line-height: 3.5rem;
        margin: 18px 0 22px;
    }

    .description__main-content {
        margin-bottom: 80px;
    }

    .description__main-btn {
        width: 262px;
        height: 59px;
    }

    .description__main-btn::before {
        border-top: 59px solid black;
    }

    /* Post */
    .post {
        grid-template-columns: 1fr auto 1fr;
        gap: 41px;
        grid-template-areas: 
        "water design soft";
    }

    /* Service */
    .service__title-svg--truck {
        width: 63px;
        height: 64px;
        display: none;
    }

    .animation-truck .truck-1,
    .animation-truck .truck-2 {
        stroke-dasharray: 67;
        stroke-dashoffset: 67;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-3{
        stroke-dasharray: 153;
        stroke-dashoffset: 153;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-4{
        stroke-dasharray: 153;
        stroke-dashoffset: 153;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-5{
        stroke-dasharray: 271;
        stroke-dashoffset: 271;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-6{
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-7{
        stroke-dasharray: 32;
        stroke-dashoffset: 32;
        animation: dash 4s linear;
        animation-fill-mode: forwards; 
    }

    .animation-truck .truck-8{
        stroke-dasharray: 5;
        stroke-dashoffset: 5;
        animation: dash 4s linear;
        animation-fill-mode: forwards; 
    }

    .animation-truck .truck-9{
        stroke-dasharray: 70;
        stroke-dashoffset: 70;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-truck .truck-10,
    .animation-truck .truck-11,
    .animation-truck .truck-13 {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation: dash 4s linear;
        animation-fill-mode: forwards; 
    }

    .animation-truck .truck-12 {
        stroke-dasharray: 26;
        stroke-dashoffset: 26;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }
    
    .service__title-svg--shield {
        width: 39px;
        height: 46px;
        display: none;
    }

    .animation-shield .shield {
        stroke-dasharray: 323;
        stroke-dashoffset: 323;
        animation: dash 4s linear;
        animation-fill-mode: forwards; 
    }
    
    .service__title-svg--badge {
        width: 44px;
        height: 46px;
        display: none;
    }

    .animation-badge .badge-1 {
        stroke-dasharray: 370;
        stroke-dashoffset: 370;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-badge .badge-2 {
        stroke-dasharray: 33;
        stroke-dashoffset: 33;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-badge .badge-3,
    .animation-badge .badge-4,
    .animation-badge .badge-5 {
        stroke-dasharray: 24;
        stroke-dashoffset: 24;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-badge .badge-6 {
        stroke-dasharray: 15;
        stroke-dashoffset: 15;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }
    
    .service__title-svg--gift {
        width: 46px;
        height: 46px;
        display: none;
    }

    .animation-gift .gift-1 {
        stroke-dasharray: 340;
        stroke-dashoffset: 340;
        animation: dash 2s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-2,
    .animation-gift .gift-3,
    .animation-gift .gift-4 {
        stroke-dasharray: 25;
        stroke-dashoffset: 25;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-5 {
        stroke-dasharray: 68;
        stroke-dashoffset: 68;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-6 {
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-7 {
        stroke-dasharray: 10;
        stroke-dashoffset: 10;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-8 {
        stroke-dasharray: 11;
        stroke-dashoffset: 11;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-9 {
        stroke-dasharray: 4;
        stroke-dashoffset: 4;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-10 {
        stroke-dasharray: 37;
        stroke-dashoffset: 37;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .animation-gift .gift-11 {
        stroke-dasharray: 35;
        stroke-dashoffset: 35;
        animation: dash 4s linear;
        animation-fill-mode: forwards;
    }

    .service__line {
        margin: 34px 163px 0;
    }
}

@media (min-width: 1200px) { 
    .banner {
        height: 700px;
    }

    .banner__content {
        top: 327px;
        left: 57px;
    }

    .poster__hashtag-title:nth-child(1) {
        margin: 75px 0 4px;
    }

    .poster__hashtag-title-link {
        margin-top: 40px;
    }

    /* Description */
    .description__main {
        max-width: 426px;
        margin: 169px 0 0 80px;
    }
    
    /* Post */
    .post {
        gap: 60px;
    }

    .post__main:nth-child(1) {
        justify-self: end;
    }
    
    .post__main:nth-child(2) {
        justify-self: center;
    }
    
    .post__main:nth-child(3) {
        justify-self: self-start;
    }

    .service__line {
        margin: 34px 243px 0;
    }
}

@media (min-width: 1400px) { 
    .banner__content {
        top: 401px;
        left: 138px;
    }

    .banner {
        height: 740px;
    }
}