body {
    background-color: #212121;
}

.main {
    max-width: 1440px;
    margin: auto;
    color: white;
    font-size: 1.6rem;
    padding: 0 10px;
}

.story {
    position: relative;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    animation: blur-hidden 0.5s ease-in-out;
}

.story__content {
    position: absolute;
    max-width: 600px;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.56);
}

.story__background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 1440px;
    margin: auto;
}

.story__background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes blur-hidden {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.story-active {
    opacity: 1;
    visibility: visible;
    animation: blur-show 0.5s ease-in-out;
}

@keyframes blur-show {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 576px) { 
    .main {
        font-size: 2.4rem;
    }
}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}
