footer
    .d-flex.footer
        .col-5.d-flex.align-items-center
            a.footer-link(href="lienhe.html")
                p.footer-small Liên hệ
            a.footer-link(href="vechungtoi.html")
                p.footer-small Về chúng tôi
            a.footer-link(href="dieukhoan.html")
                p.footer-small Điều khoản
        .col-2.footer-logo.d-flex.align-items-center
            a(href="index.html")
                img.img-fluid(src="img/logo.png", alt="logo")
        .col-5.d-flex.align-items-center.justify-content-end
            a.footer-icon(href="")
                img(src="img/facebook.png", alt="facebook")
            a.footer-icon(href="")
                img(src="img/twister.png", alt="twister")
            a.footer-icon(href="")
                img(src="img/youtube.png", alt="youtube") 