header
        .menu
            nav.navbar.navbar-expand-lg.navbar-dark
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNav
                    .d-flex.justify-content-between.menu-content
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='index.html') Trang chủ
                            li.nav-item
                                a.nav-link(href='tainguyenmienphi.html') Tài nguyên miễn phí
                            li.nav-item
                                a.nav-link(href='tainguyenvip.html') Tài nguyên VIP
                            li.nav-item#nav-mua-vip
                                a.nav-link(href='muavip.html') Mua VIP/SVIP
                            
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='baiviet.html') Bài viết
                            li.nav-item
                                button.btn.btn-primary.nav-link.nav-login-button(type='button' data-toggle='modal' data-target='#exampleModal').
                                    Đăng nhập/Đăng ký
                            li.nav-item
                                a.nav-link.nav-profile.nav-profile-hover(href='#')
                                    img(src="img/user1.png", alt="")
        .modal.fade#exampleModal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content.login-box
                        .login-button-box
                            #btn-login-box
                            button.login-button(onclick='login()') 
                                p Đăng nhập
                            button.login-button(onclick='register()') 
                                p Register
                        .login-logo
                            img.img-fluid(src="img/logo.png", alt="")
                        .social-icons
                            img(src="img/dangnhap/icon1.png", alt="icon1")
                            img(src="img/dangnhap/icon2.png", alt="icon2")
                            img(src="img/dangnhap/icon3.png", alt="icon3")
                        form#login-click.input-group
                            input.input-field#name(type='text' name placeholder='Email hoặc tên tài khoản' required)
                            input.input-field#pass(type='password' pass placeholder='Mật khẩu' required)      
                            .check-box              
                                input(type='checkbox' name)
                                p.check-box-text Ghi nhớ tài khoản
                            button.submit-btn(type='submit') 
                                p Đăng nhập
                            #login-miss.xsmall
                        form#register-click.input-group
                            input.input-field(type='text' name placeholder='Email hoặc tên tài khoản' required)
                            input.input-field(type='password' name placeholder='Mật khẩu' required) 
                            input.input-field(type='password' name placeholder='Nhập lại mật khẩu' required)  
                            input.input-field(type='text' name placeholder='Tải avatar lên' required)
                            .tai-ava
                                a(href="")
                                    .svip-button-index.svip-button.goi-button.d-flex.justify-content-center
                                        p Tải lên     
                            .check-box              
                                input(type='checkbox' name)
                                p.check-box-text Ghi nhớ tài khoản
                            button.submit-btn(type='submit') 
                                p Đăng ký                   
                    
                    

            
        block header-content
            .header-content-box
                .profile#profile3.profilea
                    .profile-box
                        .profile-avatar.d-flex.justify-content-center
                            div
                                col-10
                                    img.img-fluid(src="img/avatar3.png", alt="avatar")
                                .d-flex.justify-content-center 
                                    img.img-fluid(src="img/crown.png", alt="VIP")
                                    p.text-center.small Phan Trí
                        .d-flex.justify-content-center    
                            .profile-content
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Email:
                                    p &nbsp;phantri3@gmail.com
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Loại tài khoản:
                                    p &nbsp;Tài khoản SVIP
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Ngày hết hạn:
                                    p &nbsp;25/08/2021
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Đã tải xuống:
                                    p &nbsp;203 file
                        .d-flex.justify-content-center
                            a#dang-xuat-btn3(href="")
                                p Đăng xuất 
                .profile#profile2.profilea
                    .profile-box
                        .profile-avatar.d-flex.justify-content-center
                            div
                                col-10
                                    img.img-fluid(src="img/avatar2.png", alt="avatar")
                                .d-flex.justify-content-center 
                                    img.img-fluid(src="img/star2.png", alt="VIP")
                                    p.text-center.small Phan Trí
                        .d-flex.justify-content-center    
                            .profile-content
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Email:
                                    p &nbsp;phantri2@gmail.com
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Loại tài khoản:
                                    p &nbsp;Tài khoản VIP
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Ngày hết hạn:
                                    p &nbsp;15/09/2021
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Đã tải xuống:
                                    p &nbsp;430 file
                        .d-flex.justify-content-center
                            a(href="#")
                                .svip-button.svip-button2.goi-button.d-flex.justify-content-center
                                    p.small MUA SVIP
                        .d-flex.justify-content-center
                            a#dang-xuat-btn2(href="")
                                p Đăng xuất  
                .profile#profile1.profilea
                    .profile-box
                        .profile-avatar.d-flex.justify-content-center
                            div
                                col-10
                                    img.img-fluid(src="img/avatar1.png", alt="avatar")
                                p.text-center.small Phan Trí
                        .d-flex.justify-content-center    
                            .profile-content
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Email:
                                    p &nbsp;phantri@gmail.com
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Loại tài khoản:
                                    p &nbsp;Tài khoản thường
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Ngày hết hạn:
                                    p &nbsp;28/11/2021
                                .profile-columnn.d-flex.justify-content-center
                                    p.profile-text Đã tải xuống:
                                    p &nbsp;132 file
                        .d-flex.justify-content-center
                            a(href="#")
                                .svip-button.goi-button.d-flex.justify-content-center
                                    p.small MUA VIP/SVIP
                        .d-flex.justify-content-center
                            a#dang-xuat-btn1(href="")
                                p Đăng xuất                   

                    
                .header-content
                    .tieu-de-trang-box
                        .tieu-de-trang
                            .d-flex.justify-content-center
                                .col-10.col-sm-8.col-md-7.col-lg-6.col-xl-5
                                    div.d-flex.justify-content-center
                                        img.img-fluid(src="img/logo.png", alt="")
                        .d-flex.justify-content-center.chu-thich-trang
                            p Kho tài nguyên Graphic vô tận
                    .search-box
                        .d-flex.justify-content-center.search-box-content
                            .col-11.col-sm-10.col-md-9.col-lg-8.col-xl-5.d-flex
                                .filter.d-flex.align-items-center#filter-on-off
                                    p Bộ lọc
                                    .down-arrow.d-flex.align-items-center
                                        img(src="img/down-arrow.png", alt="")
                                input.search(type='search' placeholder='Tìm kiếm')
                                button.search-button(type="submit")
                                    div
                                        img(src="img/search.png", alt="")
                                block filter
                                .col-12.col-sm-10.col-md-9.col-lg-8.col-xl-7.filter-box.d-flex.filter-box-a
                                    .col-4.filter-row.ty-le
                                        .filter-title.d-flex.justify-content-center
                                            p Tỷ lệ
                                        .d-flex.filter-content
                                            .col-6
                                                .d-flex.justify-content-end
                                                    div.ty-le-img
                                                        .d-flex.justify-content-end.ty-le-icon-img.ty-le-check1
                                                            img(src="img/filter/ngang.png", alt="")
                                                            img.ty-le-check.ty-le-check-icon-1(src="img/checkmark.png", alt="")   
                                                        .d-flex.justify-content-end.ty-le-icon-img.ty-le-check2                 
                                                            img(src="img/filter/doc.png", alt="")
                                                            img.ty-le-check.ty-le-check-icon-2(src="img/checkmark.png", alt="")        
                                                        .d-flex.justify-content-end.ty-le-icon-img.ty-le-check3             
                                                            img(src="img/filter/vuong.png", alt="")
                                                            img.ty-le-check.ty-le-check-icon-3(src="img/checkmark.png", alt="")                      
                                                        .d-flex.justify-content-end.ty-le-icon-img.ty-le-check4
                                                            img(src="img/filter/panorama.png", alt="")
                                                            img.ty-le-check.ty-le-check-icon-4(src="img/checkmark.png", alt="")  
                                            .col-6
                                                .d-flex.justify-content-start   
                                                    .ty-le-content               
                                                        p.ty-le-check-text1 Ngang
                                                        p.ty-le-check-text2 Dọc
                                                        p.ty-le-check-text3 Vuông
                                                        p.ty-le-check-text4 Panorama
                                    .col-4.filter-row.mau-sac
                                        .filter-title.d-flex.justify-content-center
                                            p Màu sắc
                                        .filter-content
                                            .row.d-flex.justify-content-center
                                                .color-box.color-box1
                                                    img(src="img/filter/do.png", alt="")
                                                    img.filter-check.color-check-1(src="img/checkmark.png", alt="")
                                                .color-box.color-box2
                                                    img(src="img/filter/cam.png", alt="")
                                                    img.filter-check.color-check-2(src="img/checkmark.png", alt="")
                                            .row.d-flex.justify-content-center
                                                .color-box.color-box3
                                                    img(src="img/filter/vang.png", alt="")
                                                    img.filter-check.color-check-3(src="img/checkmark.png", alt="")
                                                .color-box.color-box4
                                                    img(src="img/filter/xanhla.png", alt="")
                                                    img.filter-check.color-check-4(src="img/checkmark.png", alt="")
                                            .row.d-flex.justify-content-center
                                                .color-box.color-box5
                                                    img(src="img/filter/xanhnhat.png", alt="")
                                                    img.filter-check.color-check-5(src="img/checkmark.png", alt="")
                                                .color-box.color-box6
                                                    img(src="img/filter/xanhdam.png", alt="")
                                                    img.filter-check.color-check-6(src="img/checkmark.png", alt="")
                                            .row.d-flex.justify-content-center
                                                .color-box.color-box7
                                                    img(src="img/filter/tim.png", alt="")
                                                    img.filter-check.color-check-7(src="img/checkmark.png", alt="")
                                                .color-box.color-box8
                                                    img(src="img/filter/trang.png", alt="")
                                                    img.filter-check.color-check-8(src="img/checkmark.png", alt="")
                                            .row.d-flex.justify-content-center
                                                .color-box.color-box9
                                                    img(src="img/filter/xam.png", alt="")
                                                    img.filter-check.color-check-9(src="img/checkmark.png", alt="")
                                                .color-box.color-box10
                                                    img(src="img/filter/timthan.png", alt="")
                                                    img.filter-check.color-check-10(src="img/checkmark.png", alt="")
                                            .row.d-flex.justify-content-center.bo-loc
                                                p.filter-bo-loc   Bỏ lọc
                                    .col-4.filter-row.phan-loai
                                        .filter-title.d-flex.justify-content-center
                                            p Phân loại
                                        .d-flex.justify-content-center.filter-content         
                                            .d-flex.flex-column
                                                .d-flex.align-items-center.phan-loai-box.phan-loai-box-1
                                                    .checkbox
                                                    label(for='vector') Vector
                                                    img.filter-check.filter-check-1(src="img/checkmark.png", alt="")
                                                .d-flex.align-items-center.phan-loai-box.phan-loai-box-2
                                                    .checkbox
                                                    label(for='psd') PSD
                                                    img.filter-check.filter-check-2(src="img/checkmark.png", alt="")
                                                .d-flex.align-items-center.phan-loai-box.phan-loai-box-3
                                                    .checkbox
                                                    label(for='photo') Photo
                                                    img.filter-check.filter-check-3(src="img/checkmark.png", alt="")
                                                .d-flex.align-items-center.phan-loai-box.phan-loai-box-4
                                                    .checkbox
                                                    label(for='icon') Icon
                                                    img.filter-check.filter-check-4(src="img/checkmark.png", alt="")
                                    .close
                                        img#close-tab(src="img/close.png", alt="")
                            
                        

                            