#header{
    background-color: white;
}
#header .container{
    border-bottom: 1px solid #e6e6e6;
}
.menu-item .item > a, .search input::placeholder, .search a, .cart a{
    color: #905D2F;
}
.menu-item .item:nth-child(2) > a{
    color: #70C130;
}
.search input{
    border-color: rgba(0,0,0,0.09);
    background-color: rgba(0,0,0,0.03);
}

#main{
    max-width: 1170px;
    margin: auto;
    padding-top: 110px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    color: #777777;
    min-height: 267px;
    justify-content: center;
}

.left{
    width: 70%;
    padding-right: 2.5%;
    border-right: 1px solid #ececec;
}
.shop-table{
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
}
.shop-table th:first-child{
    padding-left: 0;
}
.shop-table td{
    padding: 5px 0;
}
th, td{
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    line-height: 1.3;
    font-size: .9em;
}
.shop-table th:first-child, .shop-table td:first-child{
    padding-left: 0;
}
.shop-table th:last-child, .shop-table td:last-child{
    text-align: right;
}
.shop-table thead th{
    border-width: 3px;
    text-transform: uppercase;
}
.product-thumbnail img{
    width: 100px;
}
.product-price, .product-quantity{
    text-align: center;
}

.product-thumbnail{
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
}
.right{
    width: 30%;
    padding-left: 3%;
}
.total-table td{
    padding: 5px 0;
}
.total-table{
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
}
.total-table thead th{
    border-width: 3px;
    text-transform: uppercase;
}
.total-sub-price{
    text-align: right;
}
.total-table tr{
    margin-top: 30px;
    
}
.total-table td{
    padding: 25px 0 15px;
}
.button-cart{
    margin-top: 10px;
}
.button-cart button{
    width: 100%;
    background-color: #70C130;
    border: none;
    padding: 15px 0;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.product-name{
    text-transform: uppercase;
}
.product-delete{
    cursor: pointer;
}
.button-cart button a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}
.product-quantity button{
    width: 20px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #777777;
    background-color: #ececec;
}
.product-quantity button:nth-child(2){
    width: 35px;
    height: 35px;
    border: 1px solid #777777;
    background-color: white;
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
}
.product-quantity button:first-child,.product-quantity button:last-child{
    cursor: pointer;
}
.product-delete i{
    font-size: 20px;
}
.button-cart > a{
    color: red;
    margin-top: 25px;
}

@media(max-width: 767px){
    #main{
        flex-wrap: wrap;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
@media(max-width: 576px){
    .product-subtotal{
        display: none;
    }
    .product-quantity button{
        width: 15px;
        height: 25px;
        cursor: pointer;
        border: 1px solid #777777;
        background-color: #ececec;
    }
    .product-quantity button:nth-child(2){
        width: 25px;
        height: 25px;
        border: 1px solid #777777;
        display: inline-block;
        margin-left: -5px;
        margin-right: -5px;
    }
    .product-thumbnail img{
        width: 80px;
        margin-left: 10px;
    }
    .product-name{
        width: 50px;
    }
}