* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    
}
/* style for dropDown */
@keyframes drop {
  0%
    {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}



/* style for fonts*/

header {
  width: 100%;
  height: 85px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 10;
  
}

.header--container {
  padding-left: 14px ;
  padding-right: 14px ;
  margin: auto;
  max-width: 1360px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  
}

.header--menu img {
  height: 18px;
  width: 18px;
}

.header--menu,
.header--logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--menu{
  display: none;
}

.menu-wrapper-web ul{
  display: flex;
}

.menu-wrapper-web{
   width: 70%;
}

.header--logo img{
  width: 70px;
  height: 70px;
}



.fa-bars,.fa-search, .fa-shopping-cart,.fa-user{
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.header--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.search-open{
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
}

.icon--shopping{
  margin-right: 5px;
}

.icon--profile{
  margin-right: 5px;
}


.icon-close{
  display: none;
  margin-top: 4%;
}

.header--burgermenu-expand{
  display: none;
}

.overlay-grey{
  background-color: rgba(196, 196, 196, 0.7);
  height: 100vh;
  width: 20%;
  margin-left:80% ;
  position: fixed;
}

.menu-wrapper{
  width: 80%;
  height: 100vh;
  background-color: black;
}


.menu-block li {
  width: 80%;
  margin: auto;
}

.menu-block li a{
  line-height: 5;
  font-size: 18px;
  font-weight: 500 ;
}


.header--icon input{
  display: none;
}

/* style search */
.header--container-search{
  background-color: rgba(196, 196, 196, 0.7);
  height: 100vh;
  padding-top: 100px;
  display: none;
}

.search-wrapper{
  width: 60%;
  margin: auto;
  text-align: start;
  background-color: black;
  height: 64px;
  border-radius: 103.5px;
}

.search-input{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 14px;
}
.search-input input{
  border: none;
  background-color: #000000;
  color: white;
  width: 80%;
  font-size: 20px;
}

.search-new-icon .fa-search{
  font-size: 20px;
  margin-left: 10px ;
  margin-right: 10px ;
}
/* style login */
.header--container-login{
  background-color: rgba(196, 196, 196, 0.7);
  height: 100vh;
  padding-top: 100px ;
  padding: 14px ;
}

.login-wrapper{
  margin: auto;
  max-width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 30px;
  
}



.header--login{
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 90px;
}

.login-logo{
  display: flex;
  justify-content: center;
}

.login-logo img{
  width: 80px;
  height: 80px;
}

.body--login{
  padding-left: 14px;
  padding-right: 14px ;
}

.body--login h3{
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.body--login input{
  border: 1px solid #FF0000;
  border-radius: 20px;
  background: #FFFDFD;
  width: 80%;
  height: 40px;
  padding: 14px;
  margin-top: 10px;
}

.login-input{
   text-align: center;
}

.body--login h4{
  color:rgba(0, 0, 0, 1);
  font-weight: 500;
font-size: 14px;
line-height: 21px;
width: 75%;
margin: auto;
margin-top: 10px;
margin-bottom: 10px ;
}


.button--login-red{
  text-align: center;
}

.button--login-red button{
  border: none;
  width: 80%;
  height: 30px;
  background: #FF0000;
border-radius: 20px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
transition: all 0.3s ease-in-out;
}

.button--login-red button:hover{
  background-color: black;
}

.button--login-blue{
  text-align: center;
  margin-bottom: 5px ;
}

.button--login-blue button{
  border: none;
  width: 80%;
  height: 30px;
  background: #1877F2;
border-radius: 20px;
font-weight: bold;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
margin-bottom: 5px; 
transition: all 0.3s ease-in-out;
}

.button--login-blue button:hover{
  background-color: black;
}

.button--login-grey{
  text-align: center;
  margin-bottom: 10px ;
}

.button--login-grey button{
  transition: all 0.3s ease-in-out;
   border: none;
  width: 80%;
  height: 30px;
  background: #EFEFEF;
border-radius: 20px;
font-weight: bold;
font-size: 14px;
line-height: 21px;
color:#6A6969; 
}

.button--login-grey button:hover{background-color: black;
color: white;}

.h1-gold{
    width: 80%;
    margin: auto;
  background: -webkit-linear-gradient(#C88622
, #C88622);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5{
  margin: auto;
  width: 50%;
  text-align: center;
  color: #6A6969;
  font-size: 10px;
}

.login--line{
border: 1px solid #ADA8A8;
width: 250px;
margin: auto;
margin-top: 10px;
margin-bottom: 5px ;
}

/* style regis */



.header--container-regis{
  background-color: rgba(196, 196, 196, 0.7);
  height: 100vh;
  padding-top: 100px ;
  display: none;
}

h5 button{
  border: none;
  color: #000000;
  font-size: 11px;
  font-weight: 700;
  background-color: white;
}

/* style footer */

footer {
  width: 100%;
  height: 595px;
  background-color: black;
}

.footer--top-container {
  padding-left: 14px ;
  padding-right: 14px ;
  max-width: 1360px;
  height: 437px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.block {
  height: 80%;
  margin-top: auto;
}


ul{
  list-style-type: none;
}
.block span {
  font-size: 24px;
  font-weight: bold;
}

.block a {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.block li:first-child{
  margin-bottom: 10PX;

}

.footer--bottom-container {
  padding-left: 14px ;
  padding-right: 14px ;
  max-width: 1360px;
  height: 112px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.footer--title-copyright h3 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifh;
}

.footer-icon {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.footer-icon .icon{   margin-right: 5px;
    color: white;
    font-size: 30px;}

.block-Career .input input {
  width: 100%;
  height: 38px;
  margin-top: 15px;
  padding-left: 10px;
}

.input input {
  width: 237px;
  height: 39px;
  border: 1px solid #000000;
  padding-left: 10px;
}

.button--send-red button {
  margin-top: 15px;
  background-color: #ff0000;
  border-radius: 30px;
  border: none;
  width: 102px;
  height: 33px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.footer-icon-responsive{
  display: none;
}
.footer--line {
  background-color: #fffbfb;
  max-width: 60%;
  height: 1px;
  margin: auto;
}

.dropDown{
  display: none;
  transition: drop 300ms ease-in-out forwards;
}

.dropDown a{
  color: black;
}

/* effect style */
.icon-close, .header--menu, .header--logo, .icon{
    cursor: pointer;
}


.fa-bars:hover ,.fa-search:hover, .fa-shopping-cart:hover,.fa-user:hover{
  color: #ff0000;
  transition: all 0.3s ease-in-out;
}

.block a:hover, .cokeDes-block-name h3:hover{
  color: #ff0000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-block a:hover{
  color: #ff0000;
  transition: all 0.3s ease-in-out;
}
.footer-icon .icon:hover,.footer-icon-responsive .icon:hover{
  color: red;
}

.button--send-red button:hover{
  background-color: blue;
}

/* responsive */

@media only screen and (max-width: 926px){
  .menu-wrapper-web{
    display: none;
  }

  .header--menu{
    display: flex;
  }

  .header--icon{
    width: 15%;
  }

  .header--logo{
    width: 5%;
  }
}


@media only screen and (max-width: 800px){
  .overlay-grey{
    width: 20%;
    margin-left: 80% ;
  }
  .block{
    width: 46%;
    height: 30%;
    margin-top: 50px ;
    margin-bottom: 50px ;
    text-align: center;
  }
  .footer--top-container{
    flex-wrap:wrap ;
    justify-content: space-evenly;
    height: 550px;
  }
  .footer--line{
    margin-top: 100px ;
  }
  .footer--bottom-container{
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .footer-icon{
    width: 20%;
    margin: auto;
    display: none;
  }
  .footer-icon-responsive{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
  }

  .footer-icon-responsive .icon{
    margin-right: 5px;
    color: white;
    font-size: 30px;
  }
  .footer--logo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px ;
  }

  footer{
    height: 800px;
  }

  h1{
        font-size: 24px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 14px;
    }
    .block span{
        font-size: 14px;
    }

    .block a{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px){
  .header--icon{
    width: 25%;
  }
}