/*navigation bar*/
.navigation-addtocart{
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
}
.navigation-home-1{
    float: left;
    font-size: 16px;
    color: black;
}
.next-image{
    float: left;
    margin-top: 20px;
}
.navigation-foodanddrink-1{
    float: left;
    font-size: 16px;
    color: black;
}
.navigation-addtocart-1{
    float: left;
    font-size: 16px;
    color: black;
}
/*addtocart*/
.addtocart-desktop-word{
    font-size: 60px;
    color: red;
    margin-left: 50px;
    text-align: center;
}
.calculatemoney{
    margin-top: 20px;
    display: flex;
    justify-content:flex-end;
}
.calculatemoney-container{
    width: 368px;
}
.price{
    line-height: 40px;
    position: relative;
    font-weight: bold;
}
.realPrice{
    position:absolute;
    top: 0;
    right: 13%;
}
.priceforDelivery{
    line-height: 40px;
    font-weight: bold;
    position: relative;
}
.realpriceforDelivery{
    position:absolute;
    top: 0;
    right: 13%;
}
.tax{
    line-height: 40px;
    font-weight: bold;
    position: relative;
}
.realtax{
    position:absolute;
    top: 0;
    right: 13%;
}
.coupon{
    line-height: 80px;
    font-weight: bold;
    position: relative;
}
.realcoupon{
    position:absolute;
    top: 0;
    right: 13%;
}
.totalprice{
    line-height: 80px;
    font-weight: bold;
    position: relative;
}
.realtotalprice{
    position:absolute;
    top: 0;
    right: 13%;
}
.calculatemoney-btn{
    margin-left: 20%;
    outline: none;
    width: 221px;
    height: 62px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
}
.button-a{
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-2{
    border-top: 1px solid #C4C4C4;
    width: 85%;
}
.addtocart-container{
    border: 1px solid #C4C4C4;
    width: 92.7%;
    margin: 0 auto;
}
/*fun*/
.addtocart-container-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-container{
    width: 400px;
    display: flex;
    justify-content: center;
}
.space{
    height: 100px;
}
.quantity {
    position: relative;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 80px;
    height: 60px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px dashed #C4C4C4;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px dashed #C4C4C4;
    width: 29px;
    height: 29px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 68%;
    top: 0;
    border-bottom: 1px dashed #C4C4C4;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -16px;
    height: 66%;
  }
  .pho-image{
    width: 398px;
    height: 266.67px;
}
.nuocchanh-image{
   
    width: 300px;
    height: 300px;
}
.bunbo-image{
   
    width: 300px;
    height: 300px;
}
.spaghetti-image{
   
    width: 400px;
    height: 230px;
}
.friedchicken-image{
    
    width: 400px;
    height: 200px;
}
.icecream-image{
    
    width: 178px;
    height: 300px;
}
.comtam-image{
    
    width: 398px;
    height: 300px;
}
@media only screen and (min-width: 457px ) and (max-width:1119px){
    .addtocart-desktop-word {
        font-size: 40px;
        color: red;
        margin-left: 50px;
        text-align: center;
    }
    .addtocart-container-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column wrap;
    }
    .chicken-word{
        margin-top: 10px;
    }
    .price-chicken{
        margin-top: 10px;
    }
    .quantity{
        margin-top: 10px;
    }
    .bin{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}