
section {
  padding: 30px 0px;
}

.sub-section {
  max-width: 340px;
  padding: 20px 0px;
  margin: auto;
}

.main-header {
  font-size: 16px;
  background-color: #C4C4C4;
  padding-left: 10px;
  font-weight: bold;
}

.sub-header {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.inner-header {
  font-weight: bold;
}

.btn {
  font-size: 13px;
}

.final-btn {
  width: 100px;
  margin: 15px auto 0px auto;
}

.summary__row--right,
.summary__row--left {
  width: 47%;
}
.summary__row--right {
  text-align: end;
}

.summary__row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 2px;
}

.summary__row:nth-child(3),
.summary__row:nth-child(4) {
  border-bottom: 1px solid #777777;
}

.coupon {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  flex-wrap: wrap;
}

.coupon__input {
  padding-left: 5px;
  width: 80px;
}

.coupon__input:focus {
  outline-color: black !important;
}

.coupon__submit {
  margin: 0px 0px 0px 15px !important;
  width: 50%;
  max-width: 40px;
}

.coupon__content {
  display: none;
}

.coupon__text:first-child {
  font-size: 12px;
  font-style: italic;
  margin: 5px 0px;
  text-align: end;
}

.summary__grand-total {
  margin-top: 15px;
}

.faq__item {
  border-bottom: 1px solid black;
  padding: 5px 0px;
  cursor: pointer;
}

.faq__item--question {
  display: flex;
  justify-content: space-between;
} 

.faq__item--answer {
  margin-top: 10px;
}

.faq h3 {
  margin-top: 15px;
}

.term-toggler {
  cursor: pointer;
}

.confirmation__term p:not(:last-child) {
  margin-bottom: 5px;
}

.guess__info * {
  margin-bottom: 10px;
  border-radius: 8px;
  resize: none;
}

textarea.form-control {
  padding-top: 10px;
}

#payment__method input {
  border-radius: 8px;
}

.method__toggler {
  display: flex;
  align-items: center;
}

.method__toggler:nth-child(2) {
  margin: 5px 0px;
}

.method__toggler label {
  margin: 2px 0px 0px 5px;
}

.method__content {
  margin: 10px auto 25px auto;
}

.payment-card__content  {
  perspective: 1000px;
  background-color: transparent;
  border-radius: 12px;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: calc(63vw - 30px);
  max-height: 220px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(20px);
}

.front {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 20px;
  background-image: url("../img/img--carousel/banner-bg-1-min.jpg");
}





#domestic-card .front {
  background-image: url("../img/img--payment/vcb-card.png");
  background-repeat: no-repeat;
  color: black;
}

.back {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

#payment-card:hover .payment-card__content {
  transform: rotateY(180deg);
}

.payment-card__chip {
  width: 15%;
  margin-top: 12%;
}

#domestic-card .payment-card__brands {
  width: 35%;
}

.payment-card__brands {
  width: 25%;
  margin-left: auto;
}

.display-value {
  font-weight: 700;
}

.front__num,
.front__name {
  width: 100%;
}

.front__valid-text,
.front__valid-dates {
  width: fit-content;
}

.front__num {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  margin-top: 3%;
  letter-spacing: 2px;
}

.front__valid-text {
  font-size: 11px;
  margin-right: 10px;
  margin-top: 3px;
}

.back {
  transform: rotateY(180deg);
  transition: none;
  padding: 15px 0px;
}

.stripe {
  width: 100%;
  height: 20%;
  background-color: black;
}

.back__content {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cvv{
  width: 85%;
  background-color: white;
  color: black;
  text-align: end;
  padding: 2.5px 10px;
  letter-spacing: 1px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.stamp {
  background-color: #e6e6e6;
  width: 20%;
  height: calc((100vw - 70px) / 8);
  max-height: 40px;
  border-radius: 8px;
}

.back__text  {
  font-size: 8px;
  width: calc(80% - 15px);
}

.payment-card__input {
  margin-top: 20px;
}

.input__dates {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
}

.input__dates label {
  width: 100%;
}

.input__month,
.input__year,
#visa-master-input__cvv {
  width: 60px;
  padding-left: 10px;
}

.input__dates span {
  font-size: 18px;
}

@media only screen and (min-width: 375px) {
  .summary__row--left {
    width: 55%;
  }
  .summary__row--right {
    width: 45%;
  }

  .cvv{
    margin-top: 7%;
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .sub-section {
    border: 1px solid #525252;
    border-radius: 16px;
    padding: 15px;
    margin: 20px 0px;
    width: calc(50% - 15px);
    max-width: none;
  }

  .btn--confirmation {
    font-size: 14px;
    padding: 7px 15px; 
    width: 120px;
    margin: 20px auto 0px auto;
  }

  #confirmation, #payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .confirmation__summary {
    width: calc(60% - 30px);
  }

  .coupon__submit {
    max-width: 60px;
  }

  .coupon__text:first-child {
    font-size: 14px;
    margin: 10px 0px;
  }

  .summary__grand-total {
    margin-bottom: 0px;
  }

  .term-toggler__wrapper {
    order: 3;
    width: 100%;
  }

  .payment__toggler {
    order: 5;
  }

  .confirmation__term {
    order: 4;
    margin: 15px calc((50% + 15px)/2) !important;
  }

  .confirmation__term p:not(:last-child) {
    margin-bottom: 10px;
  }

  .faq {
    width: calc(40%);
  }

  .faq h3 {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
  }

  .guess__info *
   {
    margin-bottom: 20px;
    min-height: 40px;
    padding-left: 15px;
  }

  .form-control {
    font-size: 14px;
  }

  .method__content {
    margin: 15px auto 30px auto;
  }
}

@media only screen and (min-width: 992px) {
  .sub-section {
    padding: 20px 30px;
    margin: 25px 0px;
  }

  main {
    font-size: 14px;
  }

  .main-header {
    font-size: 20px;
    padding: 5px 10px;
  }

  .sub-header {
    font-size: 18px;
  }

  .summary__row {
    margin-top: 15px;
  }

  .btn--confirmation {
    font-size: 16px;
    width: 140px;
    margin-top: 25px;
  }

  .method__content .btn--confirmation {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1200px) {

  main {
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
  }

  .sub-section {
    width: calc(50% - 25px);
  }

  .confirmation__summary {
    width: calc(60% - 50px);
  }

  .faq {
    width: 40%;
  }

  section {
    padding: 50px 0px;
  }
}

