
section {
  padding: 20px 0px;
}

.btn--seemore {
  margin: auto;
}

.review__main-banner {
  background-image: url(/halo/img/img--review/review-banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.carousel-item img {
  width: 100%;
}

.carousel-caption {
  padding: 0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 1.8 !important;
}

.carousel-caption h3 {
  line-height: 1.5 !important;
}

.main-banner__logo {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.75));
  width: 60%;
  max-width: 270px;
  margin-bottom: 20px;
}

.main-banner__text {
  width: 45%;
  max-width: 220px;
}

/* -------------------- .review__post -------------------- */
.review__post {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.review__post * {
  display: block;
}

.review__post--img {
  margin-bottom: 5px ;
}

.post__subtext {
  display: flex;
  margin-bottom: 10px;
}

.post__preview {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden; 
  height: 42px;
}

.loading-indicator {
  display: none;
}

@media only screen and (min-width: 375px) {
  .carousel-caption h3,
  .carousel-caption p {
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 576px) {
  .carousel-caption h3,
  .carousel-caption p {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    font-size: 14px;
  }

  section {
    padding: 0px 0px 50px 0px;
  }

  .nav-item:nth-child(4) a {
    padding-bottom: 0px !important;
    border-bottom: 2px solid white;
  }

  .review__main-banner {
    margin-bottom: 50px;
  }

  #sub-banner-area--max {
    display: flex !important;
    justify-content: space-between;
    align-items: stretch;
  }
  
  #sub-banner-area--max img {
    transition: all 0.5s;
  }

  #sub-banner-area--max a:hover > img {
    transform: scale(1.05);
  }

  .review__sub-banner--big {
    display: block;
    width: calc(70% - 20px);
    margin-right: 20px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .review__sub-banner--big img {
    width: 100%;
    height: 100%;
  }

  .review__sub-banner--big:hover {
    color: white;
  }

  .review__sub-banner--small-area {
    width: 30%;
  }
  
  .review__sub-banner--small {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }

  .review__sub-banner--small:nth-child(2) {
    margin-top: 20px
  }

  .sub-banner__caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
  }

  .review__sub-banner--small .sub-banner__caption {
    font-size: 16px;
  }

  .review__sub-banner--small img {
    border-radius: 8px;
  }

  .main-area {
    display: flex;
    align-items: flex-start;
  }

  .review__post-area {
    width: 70%;
    margin-right: 20px;
  }

  
  .review__post {
    flex-direction: row;
  }
  
  .review__post--img {
    height: 100px;
    border-radius: 8px;
  }

  .review__post--content {
    padding-left: 15px;
  }

  .post__header {
    font-size: 20px;
  }

  .post__preview {
    height: 24px;
  }

  .post__preview {
    font-size: 16px;
  }

  .review__aside-area{
    width: 30%;
    background-color: #F2F2F2;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
  }

  .aside__header {
    background-color: #C4C4C4;
    line-height: 36px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
  }

  .aside__post {
    padding: 15px;
    font-size: 16px;
  }

  .aside__post--img {
    margin-bottom: 5px;
  }
}


@media only screen and (min-width: 992px) {
  .review__post:hover .post__header,
  .aside__post:hover .aside__post--header {
    color:rgb(45, 156, 221);
  }

  .review__post {
    transition: all 0.3s;
    flex-direction: row;
  }

  .post__subtext {
    margin: 5px 0px 15px 0px;
  }

  .aside__post--img {
    margin-bottom: 10px;
  }

}

@media only screen and (min-width: 1200px) {
  .review__main-banner {
    height: 200px;
  }

  .main-banner__logo {
    max-width: 220px;
  }

  .main-banner__text {
    max-width: 160px;
  }

  .review__sub-banner--big {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    width: 75%;
    height: 460px;
  }

  .review__post--img {
    height: 140px;
    border-radius: 8px;
  }

  .review__post-area {
    width: 75%;
  }

  .review__sub-banner--small-area,
  .review__aside-area {
    width: 25%;
  }

  .review__sub-banner--big .sub-banner__caption {
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
  }

  .review__sub-banner--small:nth-child(2) {
    margin-bottom: 20px;
  }

  .post__subtext {
    margin: 5px 0px 25px 0px;
  }

  .post__preview {
    height: 48px;
  }

}
@media only screen and (min-width: 1400px) {
  .review__main-banner {
    height: 250px;
  }
  
  .main-banner__logo {
    max-width: 270px;
  }
  
  .main-banner__text {
    max-width: 180px;
  }
}

