@import "../../root.scss";

// Pricing

.pricing {
  margin-top: $thirty-pixel;

  .btn-primary {
    width: 100%;
    margin-bottom: $twenty-pixel;
    padding: $twelve-pixel $twenty-pixel;
  }

  .sell:last-child {
    margin-bottom: $zero-pixel;
  }

  .size.btn-primary {
    padding: $twenty-pixel;
    background-color: $text-white;
    border: 1px solid $lighter-grey-color;
    @include flex-center-between;


    &:active {
      background-color: $text-white !important;
      border-color: $lighter-grey-color;
      color: $text-dark !important;
    }

    &:hover {
      background-color: $text-white !important;
      border-color: $text-dark;
      color: $text-dark !important;
    }
  }

  .size-text,
  .dropdown-arrow {
    color: $text-lighter-white;
    line-height: $twenty-eight-pixel;
  }

  .size-details {
    color: $text-dark;
    font-weight: $bold-size;
  }
}

.bid-buy-btn,
.asks-sell-btn {
  & .btn {
    padding: $twenty-pixel;
    font-weight: $bold-size;
  }

  & .bid-btn, & .asks-btn {
    border-bottom-right-radius: $zero-pixel;
    border-top-right-radius: $zero-pixel;
  }

  & .buy-btn, & .sell-btn {
    border-bottom-left-radius: $zero-pixel;
    border-top-left-radius: $zero-pixel;

    &:hover,
    &:active {
      border-left-color: transparent !important;
    }
  }

  & .nav-item {
    width: 50%;
  }

  & .nav-tabs {
    border: $zero-pixel;
  }
}

// Price Input

.price-input {
  line-height: $twenty-four-pixel;
  padding: $twelve-pixel;
  padding-left: $twenty-pixel;
}

.price-input.buy-now {
  color: $text-lighter-white;
}

// Sub Price

.price-include {
  margin-top: $twenty-five-pixel;
  @include flex-center-between;
  line-height: $twenty-four-pixel;
  padding-bottom: $twenty-five-pixel;
  border-bottom: 1px solid $lighter-grey-color;

  & .sub-price-showing {
    font-weight: $bold-size;
  }
}

.coupon {
  display: grid;
  grid-template-columns: 1fr 2fr;

  & .form-control {
    border: $none;
    border-bottom: 1px solid transparent;
    text-align: right;
    padding-right: $zero-pixel;

    border-radius: $zero-pixel;

    &:focus {
      border-bottom: 1px solid $lighter-grey-color;
    }
  }
}

.total-price {
  border: $none;
  padding: $zero-pixel;
}

.total-price-showing {
  font-size: $twenty-four-pixel;
  line-height: $twenty-four-pixel;
  color: $main-color;
  font-weight: $bold-size;
}